<p-dialog class="dialog" header="Header" [(visible)]="woodControlDialogVisible" [modal]="true" [style]="{ width: '50rem' }" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [draggable]="false" [resizable]="false" (onHide)="closeWoodControlDialog()">
    <ng-template pTemplate="header">
        <div class="inline-flex align-items-center justify-content-center gap-2">
            <span class="font-bold white-space-nowrap"></span>
        </div>
    </ng-template>
    <p class="mt-12 mb-10 text-3xl font-semibold">{{woodControl.name}}</p>
    <p class="mt-6 mb-4 text-lg">A fő gémhez rögzített támaszték megkönnyíti a hosszú rönkök emelését.</p>
    <img class="mb-20" src="../../../../../../../../assets/PALMS crane-woodcontrol-1.svg" alt="Wood Control">  
    <ng-template pTemplate="footer">
      <button class="bg-primary-color p-1 mt-2" (click)="closeWoodControlDialog()"><i class="fa-solid fa-check mr-1"></i>Értem</button>  
    </ng-template>
</p-dialog>