<div class="container my-24 mx-auto md:px-6">
    <section class="mb-32">
      <div class="flex flex-wrap items-center">
        <div class="mb-6 w-full shrink-0 grow-0 basis-auto px-3 lg:mb-0 lg:w-4/12">
          <h2 class="mb-6 text-3xl font-bold">
            Kiemelkedő<u class="text-primary dark:text-primary-400">
              tulajdonságok</u>
          </h2>
  
          <p class="mb-12">
            Néhány indok, amelyeknek köszönhetően a vásárlók örömmel vesznek PALMS gépeket
          </p>
          <p class="mb-12 text-neutral-500">
            *Nem minden modellhez érhető el.
          </p>
        </div>
  
        <div class="mb-md-0 mb-6 w-full shrink-0 grow-0 basis-auto px-3 lg:w-8/12">
          <div class="flex flex-wrap">
            <div class="mb-12 w-full shrink-0 grow-0 basis-auto md:w-4/12 lg:px-3">
              <div class="flex">
                <div class="mt-0.5 shrink-0">
                  <img src="../../assets/feature_slewing.png" alt="slewing">
                </div>
                <div class="ml-2 grow">
                  <p class="mb-3 font-bold">ÚJ ELFORDULÓ CSATLAKOZÁSOK</p>
                  <div class="flex flex-col gap-2">
                    <p class="">
                      Az új, szabadalmaztatott tengely-rendszer elfordító csatlakozások csökkentik a karbantartási költségeket és növelik a daruk tartósságát.*
                    </p>
                    <p class="">
                      EP 3 239 540 A1
                    </p>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="mb-12 w-full shrink-0 grow-0 basis-auto md:w-4/12 lg:px-3">
              <div class="flex">
                <div class="mt-0.5 shrink-0">
                    <img src="../../assets/feature_platform.png" alt="platform">
                </div>
                <div class="ml-2 grow">
                    <p class="mb-3 font-bold">TOVÁBBFEJLESZTETT MUNKAFELÜLET</p>
                    <p class="">    
                      Az összecsukható kezelőfelület és a létra használata egyszerű és kényelmes.
                    </p>
                </div>
              </div>
            </div>
  
            <div class="mb-12 w-full shrink-0 grow-0 basis-auto md:w-4/12 lg:px-3">
              <div class="flex">
                <div class="mt-0.5 shrink-0">
                    <img src="../../assets/feature_hoses.png" alt="hoses">
                </div>
                <div class="ml-2 grow">
                    <p class="mb-3 font-bold">REJTETT HIDRAULIKUS TÖMLŐK</p>
                    <p class="">
                      Észak-Európában elsőként az önrakodó erdészeti pótkocsi gyártók közül hidraulikus tömlőket helyeztünk el a teleszkópos darugém belsejében. Ez a kialakítás jelentősen növeli a tartósságot és a megbízhatóságot. A legjobb példák erre a Palms 5.85-ös, a 7.86-os és a 7.94-es daruk.
                    </p>
                </div>
              </div>
            </div>
  
            <div class="mb-12 w-full shrink-0 grow-0 basis-auto md:w-4/12 lg:px-3">
              <div class="flex">
                <div class="mt-0.5 shrink-0">
                    <img src="../../assets/feature_frame.png" alt="frame">
                </div>
                <div class="ml-2 grow">
                  <p class="mb-3 font-bold">ÚJ ALVÁZTÍPUS - U</p>
                  <p class="">
                    A nagyobb védelem érdekében az összes vezérlő rendszert az alváz belsejében vezetjük. Az U-alváz kialakítás több lehetőséget biztosít a rakoncák számára.
                  </p>
                </div>
              </div>
            </div>
  
            <div class="mb-12 w-full shrink-0 grow-0 basis-auto md:w-4/12 lg:px-3">
              <div class="flex">
                <div class="mt-0.5 shrink-0">
                    <img src="../../assets/feature_drawbar.png" alt="drawbar">
                </div>
                <div class="ml-2 grow">
                  <p class="mb-3 font-bold">TESZTELT VONÓRÚDAK</p>
                  <p class="">
                    Minden PALMS vonórúd megfelel a legújabb EU szabványoknak.
                  </p>
                </div>
              </div>
            </div>
  
            <div class="mb-12 w-full shrink-0 grow-0 basis-auto md:w-4/12 lg:px-3">
              <div class="flex">
                <div class="mt-0.5 shrink-0">
                    <img src="../../assets/feature_grills.png" alt="grills">
                </div>
                <div class="ml-2 grow">
                  <p class="mb-3 font-bold">BIZTONSÁGI RÁCSOK</p>
                  <p class="">
                    A PALMS pótkocsik erős és megbízható biztonsági rácsokkal rendelkeznek, amelyek megfelelnek az EU irányelveinek.
                  </p>
                </div>
              </div>
            </div>
  
            <div class="mb-12 w-full shrink-0 grow-0 basis-auto md:w-4/12 lg:px-3">
              <div class="flex">
                <div class="mt-0.5 shrink-0">
                    <img src="../../assets/feature_hose_routing.png" alt="hose_routing">
                </div>
                <div class="ml-2 grow">
                  <p class="mb-3 font-bold">VÉDETT TÖMLŐVEZETÉS</p>
                  <div class="flex flex-col gap-2">
                    <p class="">
                        Egyedülálló és jól védett megoldást fejlesztettünk ki a gémtől a rotátorig tartó hidraulika tömlőkhöz.*
                    </p>
                    <p class="">
                        EE 01484 U1
                    </p>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="mb-12 w-full shrink-0 grow-0 basis-auto md:w-4/12 lg:px-3">
              <div class="flex">
                <div class="mt-0.5 shrink-0">
                    <img src="../../assets/feature_bolsters.png" alt="bolsters">
                </div>
                <div class="ml-2 grow">
                  <p class="mb-3 font-bold">RAKONCA RÖGZÍTÉS</p>
                  <div class="flex flex-col gap-2">
                    <p class="">
                      Szabadalmaztatott rendszer a gyors, egyszerű és biztonságos rakonca rögzítéshez.*
                    </p>
                    <p class="">
                        EP 3284659
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <div class="mb-12 w-full shrink-0 grow-0 basis-auto md:w-4/12 lg:px-3">
                <div class="flex">
                  <div class="mt-0.5 shrink-0">
                      <img src="../../assets/feature_housing_design.png" alt="housing_design">
                  </div>
                  <div class="ml-2 grow">
                    <p class="mb-3 font-bold">FORDÍTÓ HÁZ KIALAKÍTÁSA</p>
                    <p class="">
                      A fordító ház tervezése számítógépes szimulációs erőteszten alapul. A fontos daru alkatrészeket szintén megtervezzük és teszteljük. Öntöttvas kivitelük jelentős előnyöket kínál a hegesztett kivitelhez képest.*
                    </p>
                  </div>
                </div>
            </div>
            
            <div class="mb-12 w-full shrink-0 grow-0 basis-auto md:w-4/12 lg:px-3">
                <div class="flex">
                  <div class="mt-0.5 shrink-0">
                      <img src="../../assets/feature_paint_coating.png" alt="paint_coating">
                  </div>
                  <div class="ml-2 grow">
                    <p class="mb-3 font-bold">ÚJ GENERÁCIÓS FESTÉKBEVONAT</p>
                    <p class="">
                      A KTL-nek és a porfestésnek köszönhetően a berendezés minősége hosszabb időtartamig fennmarad és jelentősen magasabb viszonteladási értékes képvisel.
                    </p>
                  </div>
                </div>
            </div>

            <div class="mb-12 w-full shrink-0 grow-0 basis-auto md:w-4/12 lg:px-3">
                <div class="flex">
                  <div class="mt-0.5 shrink-0">
                      <img src="../../assets/feature_strenx.png" alt="strenx">
                  </div>
                  <div class="ml-2 grow">
                    <p class="mb-3 font-bold">Strenx™ ACÉL</p>
                    <p class="">
                        A PALMS gyártását az SSAB „My Inner Strenx™” minőségi tanúsítványa egészíti ki. Minden darunk svéd csúcsminőségű Strenx™ acélból készül.
                    </p>
                  </div>
                </div>
            </div>

          </div>
        </div>
      </div>
    </section>
</div>