<div class="container my-24 mx-auto md:px-6">
    <section class="mb-32">
      <div class="flex flex-wrap items-center">
        <div class="mb-6 w-full shrink-0 grow-0 basis-auto px-3 lg:mb-0 lg:w-4/12">
          <h2 class="mb-6 text-3xl font-bold">
            Kiemelkedő<u class="text-primary dark:text-primary-400">
              tulajdonságok</u>
          </h2>
  
          <p class="mb-12 text-neutral-500 dark:text-neutral-300">
            Néhány indok, amelyeknek köszönhetően a vásárlók örömmel vesznek PALMS gépeket
          </p>
        </div>
  
        <div class="mb-md-0 mb-6 w-full shrink-0 grow-0 basis-auto px-3 lg:w-8/12">
          <div class="flex flex-wrap">
            <div class="mb-12 w-full shrink-0 grow-0 basis-auto md:w-4/12 lg:px-3">
              <div class="flex">
                <div class="mt-0.5 shrink-0">
                  <img src="../../assets/feature_slewing.png" alt="slewing">
                </div>
                <div class="ml-2 grow">
                  <p class="mb-3 font-bold">Forgó csatlakozások</p>
                  <div class="flex flex-col gap-2">
                    <p class="">
                        A PALMS szabadalmaztatott tengelyrendszer a forgó csatlakozásokhoz csökkenti a karbantartási költségeket és növeli a daruk tartósságát.*
                    </p>
                    <p class="">
                        EP 3 239 540 A1
                    </p>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="mb-12 w-full shrink-0 grow-0 basis-auto md:w-4/12 lg:px-3">
              <div class="flex">
                <div class="mt-0.5 shrink-0">
                    <img src="../../assets/feature_platform.png" alt="platform">
                </div>
                <div class="ml-2 grow">
                    <p class="mb-3 font-bold">Továbbfejlesztett munkafelület</p>
                    <p class="">    
                        Az összecsukható kezelőfelület és a létra használata egyszerű és kényelmes.
                    </p>
                </div>
              </div>
            </div>
  
            <div class="mb-12 w-full shrink-0 grow-0 basis-auto md:w-4/12 lg:px-3">
              <div class="flex">
                <div class="mt-0.5 shrink-0">
                    <img src="../../assets/feature_hoses.png" alt="hoses">
                </div>
                <div class="ml-2 grow">
                    <p class="mb-3 font-bold">Rejtett hidraulika tömlők</p>
                    <p class="">
                        Az észak-európai önrakodó erdészeti pótkocsi gyártók számára elsőként hidraulikus tömlőket rejtettünk el a teleszkópos daru gém belsejében. Ez a kialakítás jelentősen növeli a tartósságot és a megbízhatóságot. Darukínálatunk legjobb példái a PALMS 5.85, 7.86, 7.94 és X100.
                    </p>
                </div>
              </div>
            </div>
  
            <div class="mb-12 w-full shrink-0 grow-0 basis-auto md:w-4/12 lg:px-3">
              <div class="flex">
                <div class="mt-0.5 shrink-0">
                    <img src="../../assets/feature_frame.png" alt="frame">
                </div>
                <div class="ml-2 grow">
                  <p class="mb-3 font-bold">Unibody váz U-típusú</p>
                  <p class="">
                    A PALMS U sorozatú pótkocsik nagy hasmagassága és egységes szerkezete minimálisra csökkenti a fatuskók és egyéb akadályok mögé való beszorulás kockázatát. Minden hidraulikus alkatrész egy keretben van elrejtve, és könnyen hozzáférhető a karbantartási munkálatok során.
                  </p>
                </div>
              </div>
            </div>
  
            <div class="mb-12 w-full shrink-0 grow-0 basis-auto md:w-4/12 lg:px-3">
              <div class="flex">
                <div class="mt-0.5 shrink-0">
                    <img src="../../assets/feature_drawbar.png" alt="drawbar">
                </div>
                <div class="ml-2 grow">
                  <p class="mb-3 font-bold">Tesztelt vonórudak</p>
                  <p class="">
                    Minden PALMS vonórúd megfelel a legújabb EU szabványoknak.
                  </p>
                </div>
              </div>
            </div>
  
            <div class="mb-12 w-full shrink-0 grow-0 basis-auto md:w-4/12 lg:px-3">
              <div class="flex">
                <div class="mt-0.5 shrink-0">
                    <img src="../../assets/feature_grills.png" alt="grills">
                </div>
                <div class="ml-2 grow">
                  <p class="mb-3 font-bold">Biztonsági rácsok</p>
                  <p class="">
                    A PALMS pótkocsik erős és megbízható biztonsági rácsokkal rendelkeznek, amelyek megfelelnek az EU irányelveinek.
                  </p>
                </div>
              </div>
            </div>
  
            <div class="mb-12 w-full shrink-0 grow-0 basis-auto md:w-4/12 lg:px-3">
              <div class="flex">
                <div class="mt-0.5 shrink-0">
                    <img src="../../assets/feature_hose_routing.png" alt="hose_routing">
                </div>
                <div class="ml-2 grow">
                  <p class="mb-3 font-bold">Védett tömlővezetés</p>
                  <div class="flex flex-col gap-2">
                    <p class="">
                        Egyedülálló és jól védett megoldást fejlesztettünk ki a gémtől a rotátorig tartó hidraulika tömlőkhöz.*
                    </p>
                    <p class="">
                        EE 01484 U1
                    </p>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="mb-12 w-full shrink-0 grow-0 basis-auto md:w-4/12 lg:px-3">
              <div class="flex">
                <div class="mt-0.5 shrink-0">
                    <img src="../../assets/feature_bolsters.png" alt="bolsters">
                </div>
                <div class="ml-2 grow">
                  <p class="mb-3 font-bold">Zárható támasztékok</p>
                  <div class="flex flex-col gap-2">
                    <p class="">
                        Szabadalmaztatott rendszer a gyors, egyszerű és biztonságos támasz reteszeléséhez.*
                    </p>
                    <p class="">
                        EP 3284659
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <div class="mb-12 w-full shrink-0 grow-0 basis-auto md:w-4/12 lg:px-3">
                <div class="flex">
                  <div class="mt-0.5 shrink-0">
                      <img src="../../assets/feature_housing_design.png" alt="housing_design">
                  </div>
                  <div class="ml-2 grow">
                    <p class="mb-3 font-bold">Forduló ház kialakítás</p>
                    <p class="">
                        Az esztergaház kialakítása számítógépes szimulációs szilárdsági teszten alapul. A fontos darualkatrészeket is tesztelik és ennek megfelelően tervezik. Öntöttvas kialakításunk jelentős előnyöket biztosít a hegesztett kivitelhez képest.*
                    </p>
                  </div>
                </div>
            </div>
            
            <div class="mb-12 w-full shrink-0 grow-0 basis-auto md:w-4/12 lg:px-3">
                <div class="flex">
                  <div class="mt-0.5 shrink-0">
                      <img src="../../assets/feature_paint_coating.png" alt="paint_coating">
                  </div>
                  <div class="ml-2 grow">
                    <p class="mb-3 font-bold">Új generációs festékbevonat</p>
                    <p class="">
                        A KTL-nek és a porfestésnek köszönhetően a berendezés hosszabb ideig tart, és lényegesen magasabb viszonteladói értéket képvisel.
                    </p>
                  </div>
                </div>
            </div>

            <div class="mb-12 w-full shrink-0 grow-0 basis-auto md:w-4/12 lg:px-3">
                <div class="flex">
                  <div class="mt-0.5 shrink-0">
                      <img src="../../assets/feature_strenx.png" alt="strenx">
                  </div>
                  <div class="ml-2 grow">
                    <p class="mb-3 font-bold">Strenx™ acél</p>
                    <p class="">
                        A PALMS gyártását az SSAB „My Inner Strenx™” minőségi tanúsítványa egészíti ki. Minden darunk svéd csúcsminőségű Strenx™ acélból készül.
                    </p>
                  </div>
                </div>
            </div>

          </div>
        </div>
      </div>
    </section>
</div>