<p-dialog class="dialog" header="Header" [(visible)]="oilPumpsDialogVisible" [modal]="true" [style]="{ width: '50rem' }" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [draggable]="false" [resizable]="false" (onHide)="closeOilPumpsDialog()">
    <ng-template pTemplate="header">
        <div class="inline-flex align-items-center justify-content-center gap-2">
            <span class="font-bold white-space-nowrap"></span>
        </div>
    </ng-template>
    <p class="my-12 text-3xl font-bold">Olajszivattyú</p>
    <img src="../../../../assets/PALMS trailer-oilpump-1.png" alt="oilPumpImage">
    @for (oilPump of oilPumps; track $index) {   
        <div>
            <p class="my-12 text-3xl font-bold">
                {{oilPump.name}}
            </p>
            @if (oilPump.imgUrl) {
                <img [src]="oilPump.imgUrl" alt="oilPumpImage">
            }
        </div>
    }  
    <ng-template pTemplate="footer">
      <button class="bg-primary-color p-1 mt-2" (click)="closeOilPumpsDialog()"><i class="fa-solid fa-check mr-1"></i>Értem</button>  
    </ng-template>
  </p-dialog>