<app-navigation></app-navigation>
<main class="mt-24 md:mt-0"> 
    <app-carousel></app-carousel>
    <section class="pb-20">
      <div class="container mx-auto px-4">
        <app-catalog></app-catalog>
        <app-calculator></app-calculator>
        <app-customer-map-feature></app-customer-map-feature>
        <app-features></app-features>
        <app-highlights></app-highlights>
        <app-maps></app-maps>
        <app-galleria></app-galleria>
      </div>
    </section>
  </main>
  <app-footer></app-footer>