
<app-navigation></app-navigation>
<main>
    <div
      class="relative pt-16 pb-32 flex content-center items-center justify-center"
      style="min-height: 75vh;"
    >
      <div
        class="absolute top-0 w-full h-full bg-center bg-cover"
        
      >
      <div class="card opacity-30">
        <p-galleria [value]="images" [numVisible]="5" [autoPlay]="false" [circular]="true" [showItemNavigators]="true" [showThumbnails]="false" [responsiveOptions]="responsiveOptions" [containerStyle]="{ 'max-height': '' }">
            <ng-template pTemplate="item" let-item>
                <img [src]="item.itemImageSrc" style="width: 100%; display: block;" />
            </ng-template>
        </p-galleria>
      </div>
      </div>
      
      <div class="container relative mx-auto">
        <div class="items-center flex flex-wrap">
          <div class="w-full lg:w-10/12 px-4 ml-auto mr-auto text-center">
            <div class="pr-12">
              <!-- <h1 class="text-[#8ac73c] font-extrabold text-8xl">
                Clear Globe
              </h1> -->
              <!-- <p class="mt-4 text-2xl text-black font-bold">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere velit minus magni possimus illum rem enim dolores? Aspernatur ullam ut ad, tempore magnam molestiae numquam minus voluptatem in, vero assumenda!
              </p> -->
            </div>
          </div>
        </div>
      </div>
      <div
        class="top-auto bottom-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden"
        style="height: 70px;"
      >
        <svg
          class="absolute bottom-0 overflow-hidden"
          xmlns="http://www.w3.org/2000/svg"
          preserveAspectRatio="none"
          version="1.1"
          viewBox="0 0 2560 100"
          x="0"
          y="0"
        >
        </svg>
      </div>
    </div>
    
    <section class="pb-20 -mt-24">
      <div class="container mx-auto px-4">
        <div class="flex flex-wrap">
          <div class="pt-6 w-full lg:w-3/12 px-4 text-center">
            <div
              class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg"
            >
              <div class="px-4 py-5 flex-auto">
                <div
                  class="text-white p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-5 shadow-lg rounded-full bg-white"
                >
                  <img src="../../../assets/excavator.png">
                </div>
                <h6 class="text-xl font-semibold">Gépbérbeadás</h6>
                <p class="mt-2 mb-4 text-gray-600">
                  Új szolgáltatással állunk ezentúl az Önök rendelkezésére. Két minikotró gépünk bérelhető kisebb-nagyobb munkákra, rugalmas (napi, heti, havi) bérleti konstrukcióval.
                </p>
                <button class="bg-[#8ac73c] rounded-xl px-10">Érdekel</button>
              </div>
            </div>
          </div>
          <div class="w-full lg:w-3/12 px-4 text-center">
            <div
              class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg"
            >
              <div class="px-4 py-5 flex-auto">
                <div
                  class="text-white p-3 text-center inline-flex items-center justify-center w-15 h-15 mb-5 shadow-lg rounded-full bg-white"
                >
                  <img src="../../../assets/krpan_logo.png">
                </div>
                <h6 class="text-xl font-semibold">Krpan erdészeti gépek</h6>
                <p class="mt-2 mb-4 text-gray-600">
                  Szerződéses partnerei vagyunk a KRPAN erdészeti gépeket gyártó vállalatnak. Ez egy 40 éves tapasztalattal rendelkező, második generációs családi vállalkozás.
                </p>
                <button class="bg-[#8ac73c] rounded-xl px-10">Érdekel</button>
              </div>
            </div>
          </div>
          <div class="w-full lg:w-3/12 px-4 text-center">
            <div
              class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg"
            >
              <div class="px-4 py-5 flex-auto">
                <div
                  class="text-white p-3 text-center inline-flex items-center justify-center w-15 h-15 mb-5 shadow-lg rounded-full bg-white"
                >
                  <img src="../../../assets/palms2_logo.png">
                </div>
                <h6 class="text-xl font-semibold">Palms erdészeti gépek</h6>
                <p class="mt-2 mb-4 text-gray-600">
                  Palmse Mehaanikakoda (PALMS) egy családi vállalkozás, amit 1992-ben alapítottak. Ma a PALMS a legnagyobb fatrélerek és daruk gyártója Európában. A vezető pozíciót kitartó munkával és folyamatos termékfejlesztéssel érték el.
                </p>
                <button class="bg-[#8ac73c] rounded-xl px-10">Érdekel</button>
              </div>
            </div>
          </div>
          <div class="pt-6 w-full lg:w-3/12 px-4 text-center">
            <div
              class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg"
            >
              <div class="px-4 py-5 flex-auto">
                <div
                  class="text-white p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-5 shadow-lg rounded-full bg-white"
                >
                  <img src="../../../assets/oil.png">
                </div>
                <h6 class="text-xl font-semibold">Adalékok</h6>
                <p class="mt-2 mb-4 text-gray-600">
                  Üzemanyag- és motorolaj-adalékok: hatékony fogyasztáscsökkentés, motorjavulás. Környezetbarát, egyszerű használat. 30 éves tapasztalat, több országban elérhető.
                </p>
                <button class="bg-[#8ac73c] rounded-xl px-10">Érdekel</button>
              </div>
            </div>
          </div>
        </div>

        <div class="flex flex-wrap items-center mt-48">
          <div class="w-full md:w-5/12 px-4 mr-auto ml-auto">
            <div
              class="text-gray-600 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-gray-100"
            >
            <i class="fa-solid fa-gear text-xl"></i>
            </div>
            <h3 class="text-3xl mb-2 font-semibold leading-normal">
              <span class="text-[#e30d13]">KRPAN</span> termék kalkulátor
            </h3>
            
            <p class="text-lg font-medium leading-relaxed mt-0 mb-4 text-gray-700">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas hic quis eos dolor sunt, vero molestias repellat. Debitis nulla autem minima obcaecati error rerum accusantium ab, neque, illo sed velit?
            </p>
            <div class="grid grid-cols-3 mt-6">
              <button class="mb-2 inline-block rounded bg-[#8ac73c] px-12 pt-4 pb-3.5 text-sm font-medium uppercase leading-normal md:mr-2 md:mb-0">Kalkulálás</button>
              <button>Katalógus</button>
              <button>Árlista</button>
            </div>

          </div>
          <div class="w-full md:w-4/12 px-4 mr-auto ml-auto">
            <div
              class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6"
            >
              <img
                alt="..."
                src="../../assets/daru1.png"
                class="w-full align-middle rounded-t-lg"
              />         
            </div>
          </div>
        </div>

        <div class="flex flex-wrap items-center mt-48">
          <div class="w-full md:w-5/12 px-4 mr-auto ml-auto">
            <div
              class="text-gray-600 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-gray-100"
            >
            <i class="fa-solid fa-gear text-xl"></i>
            </div>
            <h3 class="text-3xl mb-2 font-semibold leading-normal">
              <span class="text-[#a32116]">PALMS</span> termék kalkulátor
            </h3>
            <p class="text-lg font-medium leading-relaxed mt-0 mb-4 text-gray-700">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas hic quis eos dolor sunt, vero molestias repellat. Debitis nulla autem minima obcaecati error rerum accusantium ab, neque, illo sed velit?
            </p>
            <div class="grid grid-cols-3 mt-6">
              <button class="mb-2 inline-block rounded bg-[#8ac73c] px-12 pt-4 pb-3.5 text-sm font-medium uppercase leading-normal md:mr-2 md:mb-0">Kalkulálás</button>
              <button>Katalógus</button>
              <button>Árlista</button>
            </div>

          </div>
          <div class="w-full md:w-4/12 px-4 mr-auto ml-auto">
            <div
              class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6"
            >
              <img
                alt="..."
                src="../../assets/daru1.png"
                class="w-full align-middle rounded-t-lg"
              />
             
            </div>
          </div>
        </div>

      </div>
    </section>
    

    <div class="container my-48 mx-auto md:px-6">
      <!-- Section: Design Block -->
      <section class="mb-32 text-center">
        <div class="flex justify-center">
          <div class="max-w-[700px] text-center">
            <h2 class="mb-6 text-center text-[#8ac73c] text-3xl font-bold">
              Miért válassz minket?
            </h2>
          </div>
        </div>
    
        <div class="grid gap-x-6 md:grid-cols-2 lg:grid-cols-3 lg:gap-x-12">
          <div class="mb-12 lg:mb-0">
            <div class="mb-6 inline-block rounded-full bg-primary-100 p-4 text-primary shadow-sm">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                stroke="currentColor" class="h-6 w-6">
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="M11.42 15.17L17.25 21A2.652 2.652 0 0021 17.25l-5.877-5.877M11.42 15.17l2.496-3.03c.317-.384.74-.626 1.208-.766M11.42 15.17l-4.655 5.653a2.548 2.548 0 11-3.586-3.586l6.837-5.63m5.108-.233c.55-.164 1.163-.188 1.743-.14a4.5 4.5 0 004.486-6.336l-3.276 3.277a3.004 3.004 0 01-2.25-2.25l3.276-3.276a4.5 4.5 0 00-6.336 4.486c.091 1.076-.071 2.264-.904 2.95l-.102.085m-1.745 1.437L5.909 7.5H4.5L2.25 3.75l1.5-1.5L7.5 4.5v1.409l4.26 4.26m-1.745 1.437l1.745-1.437m6.615 8.206L15.75 15.75M4.867 19.125h.008v.008h-.008v-.008z" />
              </svg>
            </div>
            <h5 class="mb-4 text-lg font-bold">Ügyfélgondozás</h5>
            <p class="text-neutral-500 dark:text-neutral-300">
              Megkereséseiket 24 órán belül feldolgozzuk, kérdéseikre a választ a lehető legrövidebb időn belül megadjuk.
            </p>
          </div>
    
          <div class="mb-12 lg:mb-0">
            <div class="mb-6 inline-block rounded-full bg-primary-100 p-4 text-primary shadow-sm">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                stroke="currentColor" class="h-6 w-6">
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="M15.75 5.25a3 3 0 013 3m3 0a6 6 0 01-7.029 5.912c-.563-.097-1.159.026-1.563.43L10.5 17.25H8.25v2.25H6v2.25H2.25v-2.818c0-.597.237-1.17.659-1.591l6.499-6.499c.404-.404.527-1 .43-1.563A6 6 0 1121.75 8.25z" />
              </svg>
            </div>
            <h5 class="mb-4 text-lg font-bold">Katalógusok</h5>
            <p class="text-neutral-500 dark:text-neutral-300">
              Bővebb információt adnak termékeink megismeréséhez.
            </p>
          </div>
    
          <div class="mb-12 md:mb-0">
            <div class="mb-6 inline-block rounded-full bg-primary-100 p-4 text-primary shadow-sm">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                stroke="currentColor" class="h-6 w-6">
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="M8.25 18.75a1.5 1.5 0 01-3 0m3 0a1.5 1.5 0 00-3 0m3 0h6m-9 0H3.375a1.125 1.125 0 01-1.125-1.125V14.25m17.25 4.5a1.5 1.5 0 01-3 0m3 0a1.5 1.5 0 00-3 0m3 0h1.125c.621 0 1.129-.504 1.09-1.124a17.902 17.902 0 00-3.213-9.193 2.056 2.056 0 00-1.58-.86H14.25M16.5 18.75h-2.25m0-11.177v-.958c0-.568-.422-1.048-.987-1.106a48.554 48.554 0 00-10.026 0 1.106 1.106 0 00-.987 1.106v7.635m12-6.677v6.677m0 4.5v-4.5m0 0h-12" />
              </svg>
            </div>
            <h5 class="mb-4 text-lg font-bold">Adalékanyagok</h5>
            <p class="text-neutral-500 dark:text-neutral-300">
              Üzemanyagkezelés professzionális adalék-anyaggal
            </p>
          </div>
    
          <div class="mb-12 md:mb-0">
            <div class="mb-6 inline-block rounded-full bg-primary-100 p-4 text-primary shadow-sm">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                stroke="currentColor" class="h-6 w-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 6a7.5 7.5 0 107.5 7.5h-7.5V6z" />
                <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 10.5H21A7.5 7.5 0 0013.5 3v7.5z" />
              </svg>
            </div>
            <h5 class="mb-4 text-lg font-bold">Raktáron lévő gépeink</h5>
            <p class="text-neutral-500 dark:text-neutral-300">
              Előzetes telefonos egyeztetés után - megtekinthetők Alsónémediben.
            </p>
          </div>

          <div class="mb-12 md:mb-0">
            <div class="mb-6 inline-block rounded-full bg-primary-100 p-4 text-primary shadow-sm">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                stroke="currentColor" class="h-6 w-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 6a7.5 7.5 0 107.5 7.5h-7.5V6z" />
                <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 10.5H21A7.5 7.5 0 0013.5 3v7.5z" />
              </svg>
            </div>
            <h5 class="mb-4 text-lg font-bold">Konzultáció</h5>
            <p class="text-neutral-500 dark:text-neutral-300">
              Szolgáltatásainkról ingyenes konzultációkat biztosítunk
            </p>
          </div>

          <div class="mb-12 md:mb-0">
            <div class="mb-6 inline-block rounded-full bg-primary-100 p-4 text-primary shadow-sm">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                stroke="currentColor" class="h-6 w-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 6a7.5 7.5 0 107.5 7.5h-7.5V6z" />
                <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 10.5H21A7.5 7.5 0 0013.5 3v7.5z" />
              </svg>
            </div>
            <h5 class="mb-4 text-lg font-bold">Rendezvények</h5>
            <p class="text-neutral-500 dark:text-neutral-300">
              Cégünk folyamatosan részt vesz kiállításokon, hogy megismerjék gépeinket
            </p>
          </div>

        </div>
      </section>
      <!-- Section: Design Block -->
    </div>
    <!-- Container for demo purpose -->
    <div class="container my-40 mx-auto md:px-6">
      <!-- Section: Design Block -->
      <section class="mb-32 text-center">
        <div class="grid gap-x-6 md:grid-cols-4 lg:gap-x-12">
          <div class="mb-12 md:mb-0">
            <h2 class="display-5 mb-4 text-4xl font-bold text-primary dark:text-primary-400">
              135 db
            </h2>
            <h5 class="mb-4 text-lg font-medium">Termék</h5>
          </div>
    
          <div class="mb-12 md:mb-0">
            <h2 class="display-5 mb-4 text-4xl font-bold text-primary dark:text-primary-400">
              342 db
            </h2>
            <h5 class="mb-4 text-lg font-medium">Elégedett ügyfél
            </h5>
          </div>
    
          <div class="mb-12 md:mb-0">
            <h2 class="display-5 mb-4 text-4xl font-bold text-primary dark:text-primary-400">
              950 m2
            </h2>
            <h5 class="mb-4 text-lg font-medium">Telephelyünk
            </h5>
          </div>

          <div class="mb-12 md:mb-0">
            <h2 class="display-5 mb-4 text-4xl font-bold text-primary dark:text-primary-400">
              25 db
            </h2>
            <h5 class="mb-4 text-lg font-medium">Partner</h5>
          </div>

        </div>
      </section>
      <!-- Section: Design Block -->
    </div>
    <!-- Container for demo purpose -->
    <section class="pb-20 relative block bg-gray-900">
      <div
        class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20"
        style="height: 80px;"
      >
        <svg
          class="absolute bottom-0 overflow-hidden"
          xmlns="http://www.w3.org/2000/svg"
          preserveAspectRatio="none"
          version="1.1"
          viewBox="0 0 2560 100"
          x="0"
          y="0"
        >
          <polygon
            class="text-gray-900 fill-current"
            points="2560 0 2560 100 0 100"
          ></polygon>
        </svg>
      </div>
      <div class="container mx-auto px-4 lg:pt-24 lg:pb-64">
        <div class="flex flex-wrap text-center justify-center">
          <div class="w-full lg:w-6/12 px-4">
            <h2 class="text-4xl font-semibold text-white">Build something</h2>
            <p class="text-lg leading-relaxed mt-4 mb-4 text-gray-500">
              Put the potentially record low maximum sea ice extent tihs year
              down to low ice. According to the National Oceanic and
              Atmospheric Administration, Ted, Scambos.
            </p>
          </div>
        </div>
        <div class="flex flex-wrap mt-12 justify-center">
          <div class="w-full lg:w-3/12 px-4 text-center">
            <div
              class="text-gray-900 p-3 w-12 h-12 shadow-lg rounded-full bg-white inline-flex items-center justify-center"
            >
              <i class="fas fa-medal text-xl"></i>
            </div>
            <h6 class="text-xl mt-5 font-semibold text-white">
              Excelent Services
            </h6>
            <p class="mt-2 mb-4 text-gray-500">
              Some quick example text to build on the card title and make up
              the bulk of the card's content.
            </p>
          </div>
          <div class="w-full lg:w-3/12 px-4 text-center">
            <div
              class="text-gray-900 p-3 w-12 h-12 shadow-lg rounded-full bg-white inline-flex items-center justify-center"
            >
              <i class="fas fa-poll text-xl"></i>
            </div>
            <h5 class="text-xl mt-5 font-semibold text-white">
              Grow your market
            </h5>
            <p class="mt-2 mb-4 text-gray-500">
              Some quick example text to build on the card title and make up
              the bulk of the card's content.
            </p>
          </div>
          <div class="w-full lg:w-3/12 px-4 text-center">
            <div
              class="text-gray-900 p-3 w-12 h-12 shadow-lg rounded-full bg-white inline-flex items-center justify-center"
            >
              <i class="fas fa-lightbulb text-xl"></i>
            </div>
            <h5 class="text-xl mt-5 font-semibold text-white">Launch time</h5>
            <p class="mt-2 mb-4 text-gray-500">
              Some quick example text to build on the card title and make up
              the bulk of the card's content.
            </p>
          </div>
        </div>
      </div>
    </section>
    <section class="relative block py-24 lg:pt-0 bg-gray-900">
      <div class="container mx-auto px-4">
        <div class="flex flex-wrap justify-center lg:-mt-64 -mt-48">
          <div class="w-full lg:w-6/12 px-4">
            <div
              class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-gray-300"
            >
              <div class="flex-auto p-5 lg:p-10">
                <h4 class="text-2xl font-semibold">Want to work with us?</h4>
                <p class="leading-relaxed mt-1 mb-4 text-gray-600">
                  Complete this form and we will get back to you in 24 hours.
                </p>
                <div class="relative w-full mb-3 mt-8">
                  <label
                    class="block uppercase text-gray-700 text-xs font-bold mb-2"
                    for="full-name"
                    >Full Name</label
                  ><input
                    type="text"
                    class="border-0 px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full"
                    placeholder="Full Name"
                    style="transition: all 0.15s ease 0s;"
                  />
                </div>
                <div class="relative w-full mb-3">
                  <label
                    class="block uppercase text-gray-700 text-xs font-bold mb-2"
                    for="email"
                    >Email</label
                  ><input
                    type="email"
                    class="border-0 px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full"
                    placeholder="Email"
                    style="transition: all 0.15s ease 0s;"
                  />
                </div>
                <div class="relative w-full mb-3">
                  <label
                    class="block uppercase text-gray-700 text-xs font-bold mb-2"
                    for="message"
                    >Message</label
                  ><textarea
                    rows="4"
                    cols="80"
                    class="border-0 px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full"
                    placeholder="Type a message..."
                  ></textarea>
                </div>
                <div class="text-center mt-6">
                  <button
                    class="bg-gray-900 text-white active:bg-gray-700 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1"
                    type="button"
                    style="transition: all 0.15s ease 0s;"
                  >
                    Send Message
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
 
  <app-footer></app-footer>