

<app-navigation></app-navigation>
<div class="grid gap-3 md:flex md:justify-around lg:align-middle my-10 rounded-3xl">
        <!-- <button
            (click)="setSetelectedTab(1, $event)"
            [class.bg-[#8ac84c]]="selectedTab === 1"
            class="rounded-md p-2 bg-slate-400 text-black text-sm font-bold uppercase lg:px-16 lg:py-10 lg:rounded-s-2xl shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1"
            type="button"
        >
            Daruk
        </button>

        <button
            (click)="setSetelectedTab(2, $event)"
            [class.bg-[#8ac84c]]="selectedTab === 2"
            class="rounded-md p-2 bg-slate-400 text-black text-sm font-bold uppercase lg:px-16 lg:py-10 lg:rounded-2xl shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1"
            type="button"
        >
            Pótkocsik
        </button>

        <button
            (click)="setSetelectedTab(3, $event)"
            [class.bg-[#8ac84c]]="selectedTab === 3"
            class="rounded-md p-2 bg-slate-400 text-black text-sm font-bold uppercase lg:px-16 lg:py-10 lg:rounded-e-2xl shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1"
            type="button"
        >
            Közelítő pótkocsik
        </button> -->


        <div class="border-b border-gray-200">
            <nav class="-mb-0.5 flex flex-col md:flex-row mx-auto lg:justify-center xl:gap-80 bg-slate-300 rounded-xl xl:p-5"  aria-label="Tabs" role="tablist">
                <button (click)="setSetelectedTab(1, $event)" type="button" [ngClass]="{'bg-[#8ac73c] text-white': selectedTab === 1}" class="rounded-xl font-semibold py-4 px-10 lg:p-10 inline-flex items-center gap-x-2 border-b-2 border-transparent text-sm whitespace-nowrap text-white focus:outline-none disabled:opacity-50 disabled:pointer-events-none dark:text-gray-400 dark:hover:text-blue-500" id="horizontal-alignment-item-1">
                    Daruk
                </button>
                <button (click)="setSetelectedTab(2, $event)" type="button" [ngClass]="{'bg-[#8ac73c] text-white': selectedTab === 2}" class="rounded-xl font-semibold py-4 px-10 inline-flex items-center gap-x-2 border-b-2 border-transparent text-sm whitespace-nowrap text-white focus:outline-none disabled:opacity-50 disabled:pointer-events-none dark:text-gray-400 dark:hover:text-blue-500" id="horizontal-alignment-item-2">
                    Pótkocsik
                </button>
                <button (click)="setSetelectedTab(3, $event)" type="button" [ngClass]="{'bg-[#8ac73c] text-white': selectedTab === 3}" class="rounded-xl font-semibold py-4 px-10  inline-flex items-center gap-x-2 border-b-2 border-transparent text-sm whitespace-nowrap text-white focus:outline-none disabled:opacity-50 disabled:pointer-events-none dark:text-gray-400 dark:hover:text-blue-500" id="horizontal-alignment-item-3">
                    Közelítő pótkocsik
                </button>
            </nav>
        </div>
        
        
          
          
        
</div>
    

    

    

<app-cranes></app-cranes>
<app-trailers *ngIf="calculatorService.selectedTab$ !== null && (calculatorService.selectedTab$ | async) === 2"></app-trailers>
<app-footer></app-footer>