<p-dialog class="dialog" header="Header" [(visible)]="operatorSeatDialogVisible" [modal]="true" [style]="{ width: '50rem' }" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [draggable]="false" [resizable]="false" (onHide)="closeOperatorSeatDialog()">
    <ng-template pTemplate="header">
        <div class="inline-flex align-items-center justify-content-center gap-2">
            <span class="font-bold white-space-nowrap"></span>
        </div>
    </ng-template>
    <p class="mt-12 mb-10 text-3xl font-semibold">Kezelő ülés a függőleges gém tetejére, csak A12-höz, nem kompatibilis a csörlővel</p>
    <img class="mb-20" src="../../../../../../../../assets/PALMS crane-operatorseat-1.jpg" alt="Electrical Floating">  
    <ng-template pTemplate="footer">
      <button class="bg-primary-color p-1 mt-2" (click)="closeOperatorSeatDialog()"><i class="fa-solid fa-check mr-1"></i>Értem</button>  
    </ng-template>
</p-dialog>