<p-dialog
    class="dialog"
    header="Header"
    [(visible)]="woodSorterDialogVisible"
    [modal]="true"
    [style]="{ width: '50rem' }"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
    [draggable]="false"
    [resizable]="false"
    (onHide)="closeWoodSorterDialog()"
>
    <ng-template pTemplate="header">
        <div class="">
            <p class="text-3xl font-bold">{{ woodSorter.name }}</p>
        </div>
    </ng-template>
    <div class="mt-12 mb-32">
        <img src="../../../../assets/PALMS trailer-wood-sorter-1.jpg" alt="WoodSorterImage1" />
    </div>
    <div class="mt-32">
        <img src="../../../../assets/PALMS trailer-wood-sorter-2.jpeg" alt="WoodSorterImage2" />
    </div>
    <ng-template pTemplate="footer">
        <button class="bg-primary-color p-1 mt-2" (click)="closeWoodSorterDialog()"><i class="fa-solid fa-check mr-1"></i>Értem</button>
    </ng-template>
</p-dialog>
