
<form [formGroup]="formGroup">
<div #addElement class="grid grid-cols-1 pb-8 gap-8 mx-5 md:grid-cols-1 md:mx-20 lg:grid-cols-2 lg:mx-20 xl:grid-cols-2 xl:mx-14">
  @for (crane of cranes; track crane.id){
      <p-card class="mt-2 lg:mt-10 shadow-xl" [header]="crane.name">
          <ng-template pTemplate="header">
              <img alt="Card" [src]="crane.imgUrl"/>
          </ng-template>
          <p class="pb-4 text-lg font-extrabold lg:text-2xl">{{crane.price | formatPrice}}</p>
          <p class="block text-sm lg:text-lg">Maximális kinyúlás / markoló nyitva: {{crane.reachMax}} / {{crane.reachWithGrabOpen}} m</p>
          <p class="block text-sm lg:text-lg">Nettó emelő nyomaték: {{crane.liftingTorqueNet}} kNm</p>
          <p class="block text-sm lg:text-lg">Emelőképesség 4 m-es markolóval: {{crane.liftingCapacity}} kg</p>
          <ng-template pTemplate="footer">
              <div class="grid grid-cols-2 mb-4">  
                  <div class="">
                    <button (click)="addToCalculator(crane)" label="Kalkulál" 
                    class="mb-2 rounded bg-[#8ac73c] text-black hover:cursor-pointer hover:opacity-85 px-2 pt-4 pb-3.5 text-sm font-bold lg:px-4 xl:px-12">Kalkulál</button>
                  </div>             
                  <div class="justify-self-end">
                    <button (click)="navigateToMachine(crane.id)" label="További információ" 
                    class="mb-2 rounded bg-[rgba(0,0,0,.3)] text-white hover:cursor-pointer hover:opacity-85 px-2 pt-4 pb-3.5 text-sm font-bold lg:px-4 xl:px-12">További információ</button>
                  </div>             
                </div>           
          </ng-template>
      </p-card>
  } 
  @empty {
      <p>There are no cranes.</p>
  }
</div>

<div *ngIf="!equipmentSelected" class="h-dvh">

</div>

<div class="bg-slate-200">

    <div #configElement *ngIf="equipmentSelected" class="flex align-middle justify-center my-10">

      <div class="w-11/12">

          <div class="justify-content-center my-4 py-4">
      
            <p-dialog header="Header" [(visible)]="controlBlocksDialogvisible" [modal]="true" [style]="{ width: '50rem' }" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
              <ng-template pTemplate="header">
                  <div class="inline-flex align-items-center justify-content-center gap-2">
                      
                      <span class="font-bold white-space-nowrap"></span>
                  </div>
              </ng-template>
              <img src="../../../../assets/controlblocks.png" alt="asd">
              <p class="m-0">
                  Szöveg a vezérlésekről.
              </p>
              <ng-template pTemplate="footer">
                <button class="bg-primary-color p-1 mt-2" (click)="controlBlocksDialogvisible = false"><i class="fa-solid fa-check mr-1"></i>Értem</button>  
              </ng-template>
            </p-dialog>

            <div class="flex gap-2">
                <span>Vezértömb</span>
                <button (click)="showControlBlocksDialog()"><i class="fa-solid fa-circle-info"></i></button>
            </div>
           
            <p-listbox #controlBlockListBox (onChange)="handleControlBlockChange($event)" [options]="controlBlocks" formControlName="selectedControlBlock" optionLabel="name"></p-listbox>                   
          </div>
        
          <div class="justify-content-center my-4 py-4">

            <p-dialog header="Header" [(visible)]="rotatorsDialogvisible" [modal]="true" [style]="{ width: '50rem' }" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
              <ng-template pTemplate="header">
                  <div class="inline-flex align-items-center justify-content-center gap-2">
                      
                      <span class="font-bold white-space-nowrap"></span>
                  </div>
              </ng-template>
              <p class="m-0">
                  Szöveg a rotárorokról és közbetétekről.
              </p>
              <ng-template pTemplate="footer">
                  <button class="bg-primary-color p-1 mt-2"  (click)="rotatorsDialogvisible = false"><i class="fa-solid fa-check mr-1"></i>Értem</button>
              </ng-template>
            </p-dialog>

            <div class="flex gap-2">
              <span>Rotátor + közbetét</span>
              <button (click)="showRotatorsDialog()"><i class="fa-solid fa-circle-info"></i></button>
            </div>
              
              <p-listbox #rotatorListBox (onChange)="handleRotatorChange($event)" [options]="rotators" formControlName="selectedRotator" optionLabel="name"></p-listbox>
          </div>
    
          <div class="justify-content-center my-4 py-4">

            <p-dialog header="Header" [(visible)]="rotatorBrakesDialogvisible" [modal]="true" [style]="{ width: '50rem' }" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
              <ng-template pTemplate="header">
                  <div class="inline-flex align-items-center justify-content-center gap-2">
                      
                      <span class="font-bold white-space-nowrap"></span>
                  </div>
              </ng-template>
              <p class="m-0">
                  Szöveg a rotátorfékekről.
              </p>
              <ng-template pTemplate="footer">
                  <button class="bg-primary-color p-1 mt-2"  (click)="rotatorBrakesDialogvisible = false"><i class="fa-solid fa-check mr-1"></i>Értem</button>
              </ng-template>
            </p-dialog>

            <div class="flex gap-2">
              <span>Rotátorfék</span>
              <button (click)="showRotatorBrakesDialog()"><i class="fa-solid fa-circle-info"></i></button>
            </div>
          
            <p-listbox #rotatorBrakeListBox (onChange)="handleRotatorBrakeChange($event)" [options]="rotatorBrakes" formControlName="selectedRotatorBrake" optionLabel="name"></p-listbox>
          </div>
    
          <div class="flex gap-2 my-4">
              <p-checkbox #backrestCheckBox (onChange)="handleChange(configItems['háttámla'].name, configItems['háttámla'].price, $event)" formControlName="backRestSelected" value="selected"  inputId="háttámla"></p-checkbox>
              <label class="hover:cursor-pointer" for="háttámla">{{configItems['háttámla'].name}} {{ configItems['háttámla'].price | formatPrice}}</label>
          </div>
  
          <div class="flex gap-2 my-4">
              <p-checkbox #oilCoolerCheckBox (onChange)="handleChange(configItems['olajhűtő'].name, configItems['olajhűtő'].price, $event)"  formControlName="oilCoolerSelected" value="selected" inputId="olajhűtő"></p-checkbox>
              <label class="hover:cursor-pointer" for="olajhűtő">{{configItems['olajhűtő'].name}} {{ configItems['olajhűtő'].price | formatPrice}}</label>
          </div>
  
          <div class="flex gap-2 my-4">
              <p-checkbox #ledCheckBox (onChange)="handleChange(configItems['ledMunkalámpák'].name, configItems['ledMunkalámpák'].price, $event)"  formControlName="ledSelected" value="selected" inputId="ledMunkalámpák"></p-checkbox>
              <label class="hover:cursor-pointer" for="ledMunkalámpák">{{configItems['ledMunkalámpák'].name}} {{ configItems['ledMunkalámpák'].price | formatPrice}}</label>
          </div>
  
          <div class="flex gap-2 my-4">
              <p-checkbox #workingHoursCheckBox (onChange)="handleChange(configItems['munkaÓraSzámláló'].name, configItems['munkaÓraSzámláló'].price, $event)"  formControlName="workingHoursSelected" value="selected" inputId="munkaÓraSzámláló"></p-checkbox>
              <label class="hover:cursor-pointer" for="munkaÓraSzámláló">{{configItems['munkaÓraSzámláló'].name}} {{ configItems['munkaÓraSzámláló'].price | formatPrice}}</label>
          </div>
            
      </div>

    </div>
    
    <div *ngIf="equipmentSelected" class="flex align-middle justify-center my-10">

      <div class="w-11/12">
        <span
          class="block uppercase text-blueGray-500 text-sm font-extrabold lg:mb-12 mb-4 text-center"
        >
        Kalkulált ár:
        </span>
        
        <div *ngIf="formGroup.get('selectedVehicle')?.value" class="grid grid-cols-12 gap-4 py-2">
            <div class="col-span-8 md:col-span-6 justify-self-end ">
              <div>
                <p class="text-lg text-krpan-color font-semibold">
                  {{formGroup.get('selectedVehicle')?.value.name}}
                </p>
              </div>
            </div>
            <div class="col-span-4 md:col-span-6 justify-self-start">
              <p class="text-lg font-semibold">{{ formGroup.get('selectedVehicle')?.value.price | formatPrice }}</p>
            </div>            
        </div>
        
        <div class="grid grid-cols-12 gap-4 py-2">
          @for (originalControlBlockItem of originalControlBlockItemsArray; track originalControlBlockItem.name){
            <div class="col-span-8 md:col-span-6 justify-self-end">
              <p class="">
                {{ originalControlBlockItem.name | removePrice }}
              </p> 
            </div>
            <div class="col-span-4 md:col-span-6 justify-self-start">
              <p>{{originalControlBlockItem.price | formatPrice}}</p>
            </div>
          }   
          
        </div>

        <div class="grid grid-cols-12 gap-4 py-2">
          @for (originalRotatorItem of originalRotatorItemsArray; track originalRotatorItem.name){
            <div class="col-span-8 md:col-span-6 justify-self-end">
                <p>{{originalRotatorItem.name | removePrice}}</p>
            </div>
            <div class="col-span-4 md:col-span-6 justify-self-start">
              <p>{{originalRotatorItem.price | formatPrice}}</p>
            </div>
          }     
        </div>

        <div class="grid grid-cols-12 gap-4 py-2">
          @for (originalRotatorBrakesItem of originalRotatorBrakesItemsArray; track originalRotatorBrakesItem.name){
            <div class="col-span-8 md:col-span-6 justify-self-end">
                {{originalRotatorBrakesItem.name | removePrice}}
            </div>
            <div class="col-span-4 md:col-span-6 justify-self-start">
              <p>
                {{originalRotatorBrakesItem.price | formatPrice}}
              </p>
            </div>
          }     
        </div>

        <div class="grid grid-cols-12 gap-4 pb-2 pt-1">
          @for (configItem of configItemsArray; track configItem.name){
            <div class="col-span-8 md:col-span-6 justify-self-end">
                {{configItem.name}}
            </div>
            <div class="col-span-4 md:col-span-6 justify-self-start">
              <p>
                {{configItem.price | formatPrice}}
              </p>
            </div>
          }     
        </div>

        <hr
        class="mb-2 mt-4 h-0.5 border-t-0 bg-black opacity-100 dark:opacity-50" />

        <div class="grid grid-cols-12 gap-4">
          <div class="col-span-8 sm:col-span-9 md:col-span-10 justify-self-end">
              <p class="text-lg font-bold">Összesen:</p>
            </div>
            <div class="col-span-4 sm:col-span-3 md:col-span-2 justify-self-center align-middle">
              <p class="text-lg font-bold">{{calculatorService.price$ | async | formatPrice}}</p> 
            </div>   
        </div>
        
        <div class="grid grid-cols-12 pt-6">
          <div class="col-span-8 sm:col-span-9 md:col-span-10">
          </div>
          <div class="col-span-4 sm:col-span-3 md:col-span-2 justify-self-center align-middle">
            <button class="rounded-md p-2  bg-red-500" (click)="delete()">Törlés</button>
          </div>  

      </div>   

      </div>

    </div>

    <div class="flex align-middle justify-center mt-20 pt-10">
      <div class="w-11/12">
        <div class="">
            <div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-gray-300">

                <div class="flex-auto p-5 lg:p-10">
                  <h4 class="text-2xl font-semibold">Kérdése van?</h4>
                  <p class="leading-relaxed mt-1 mb-4 text-gray-600">
                    Tegye fel nekünk üzenetben!
                  </p>

                  <!-- NAME -->
                  <div class="relative w-full mb-3 mt-8">
                    <div class="flex gap-4">
                      <label class="block uppercase text-gray-700 text-xs font-bold mb-2" for="name">Név<span class="text-red-500">*</span></label>
                      @if (submitted && f['name'].errors) {  
                        @if (f['name'].errors['required']) {
                          <p class="block text-red-500 text-xs mb-2">Kérem adja meg a nevét!</p>
                        }
                      }
                    </div> 
                    <input
                      type="text"
                      name="name"
                      formControlName="name"
                      class="border-0 px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full"
                      placeholder="Név"
                      style="transition: all 0.15s ease 0s;"
                    />                             
                  </div>

                  <!-- EMAIL -->
                  <div class="relative w-full mb-3">
                    <div class="flex gap-4">
                      <label class="block uppercase text-gray-700 text-xs font-bold mb-2" for="email">Email<span class="text-red-500">*</span></label>
                      @if (submitted && f['email'].errors) {  
                        @if (f['email'].errors['required']) {
                          <p class="block text-red-500 text-xs mb-2">Kérem adja meg az e-mail címét!</p>
                        }           
                        @if (blurred && f['email'].errors?.['pattern']) {
                          <p class="block text-red-500 text-xs mb-2">Kérem valós e-mail címet adjon meg!</p>
                        }                        
                      }
                      
                    </div>
                    <input
                      type="email"
                      name="email"
                      formControlName="email"
                      (blur)="onEmailBlur()"
                      pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                      class="border-0 px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full"
                      placeholder="Email"
                      style="transition: all 0.15s ease 0s;"
                    />
                  </div>

                  <!-- MESSAGE -->
                  <div class="relative w-full mb-3">
                    <div class="flex gap-4">
                      <label class="block uppercase text-gray-700 text-xs font-bold mb-2" for="message">Üzenet<span class="text-red-500">*</span></label>
                      @if (submitted && f['message'].errors) {  
                        @if (f['message'].errors['required']) {
                          <p class="block text-red-500 text-xs mb-2">Kérem gépeljen az üzenet mezőbe!</p>
                        }
                      }
                    </div>
                    <textarea
                      name="message"
                      formControlName="message"
                      rows="4"
                      cols="80"
                      class="border-0 px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full"
                      placeholder="Kérem fogalmazza meg a kérdését..."
                    ></textarea>
                  </div>

                  <div class="text-center mt-6">
                    <button
                    (click)="onSubmit()"
                      class="bg-[#8ac73c] text-white active:bg-gray-700 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1"
                      type="button"
                      style="transition: all 0.15s ease 0s;"
                    >
                      Küldés
                    </button>
                  </div>

              </div>
            </div>
        </div>
      </div>
    </div>
 
</div>
</form>