<div #addElement class="grid grid-cols-1 pb-8 gap-8 mx-40 md:grid-cols-1 md:mx-40 lg:grid-cols-2 lg:mx-40 xl:grid-cols-2 xl:mx-60">
    @for (crane of cranes; track crane.id){
        <p-card class="mt-10" [header]="crane.name" [subheader]="formatPrice(crane.price)">
            <ng-template pTemplate="header">
                <img alt="Card" [src]="crane.imgUrl"/>
            </ng-template>
            <span class="block">Maximális kinyúlás / markoló nyitva: {{crane.reachMax}} / {{crane.reachWithGrabOpen}} m</span>
            <span class="block">Nettó emelő nyomaték: {{crane.liftingTorqueNet}} kNm</span>
            <span class="block">Emelőképesség 4 m-es markolóval: {{crane.liftingCapacity}} kg</span>
            <ng-template pTemplate="footer">
                <p-button (onClick)="addToCalculator(crane)" label="Kalkulál" class="bg-blue-300 rounded-lg p-2 mx-2"></p-button>
                <p-button (onClick)="navigateToMachine(crane.id)" label="További információ a termékről" class="bg-slate-300 rounded-lg p-2 mx-2"></p-button>
            </ng-template>
        </p-card>
    } 
    @empty {
        <p>There are no cranes.</p>
    }
    </div>
    
    <div #configElement *ngIf="equipmentSelected"  class="flex align-middle justify-center my-10">
        <div class="justify-center w-9/12">
            <div class="justify-content-center my-4 py-4">
                <span>Vezértömb</span>
                <p-listbox #controlBlockListBox (onChange)="handleControlBlockChange($event)" [disabled]="!equipmentSelected" [options]="controlBlocks" [(ngModel)]="selectedControlBlock" optionLabel="name"></p-listbox>
            </div>
    
            <div class="justify-content-center my-4 py-4">
                <span>Rotátor + közbetét</span>
                <p-listbox #rotatorListBox (onChange)="handleRotatorChange($event)" [disabled]="!equipmentSelected" [options]="rotators" [(ngModel)]="selectedRotator" optionLabel="name"></p-listbox>
            </div>
    
            <div class="justify-content-center my-4 py-4">
                <span>Rotátorfék</span>
                <p-listbox #rotatorBrakeListBox (onChange)="handleRotatorBrakeChange($event)" [disabled]="!equipmentSelected" [options]="rotatorBrakes" [(ngModel)]="selectedRotatorBrake" optionLabel="name"></p-listbox>
            </div>
    
            <div class="flex gap-2 my-4">
                <p-checkbox #backrestCheckBox [disabled]="!equipmentSelected" (onChange)="handleChange(configItems['háttámla'].name, configItems['háttámla'].price, $event)"  value="New York" inputId="háttámla"></p-checkbox>
                <label for="háttámla">{{configItems['háttámla'].name}} {{ formatPrice(configItems['háttámla'].price)}}</label>
            </div>
    
            <div class="flex gap-2 my-4">
                <p-checkbox #oilCoolerCheckBox [disabled]="!equipmentSelected" (onChange)="handleChange(configItems['olajhűtő'].name, configItems['olajhűtő'].price, $event)"  value="New York" inputId="olajhűtő"></p-checkbox>
                <label for="olajhűtő">{{configItems['olajhűtő'].name}} {{ formatPrice(configItems['olajhűtő'].price)}}</label>
            </div>
    
            <div class="flex gap-2 my-4">
                <p-checkbox #ledCheckBox [disabled]="!equipmentSelected" (onChange)="handleChange(configItems['ledMunkalámpák'].name, configItems['ledMunkalámpák'].price, $event)"  value="New York" inputId="ledMunkalámpák"></p-checkbox>
                <label for="ledMunkalámpák">{{configItems['ledMunkalámpák'].name}} {{ formatPrice(configItems['ledMunkalámpák'].price)}}</label>
            </div>
    
            <div class="flex gap-2 my-4">
                <p-checkbox #workingHoursCheckBox [disabled]="!equipmentSelected" (onChange)="handleChange(configItems['munkaÓraSzámláló'].name, configItems['munkaÓraSzámláló'].price, $event)"  value="New York" inputId="munkaÓraSzámláló"></p-checkbox>
                <label for="munkaÓraSzámláló">{{configItems['munkaÓraSzámláló'].name}} {{ formatPrice(configItems['munkaÓraSzámláló'].price)}}</label>
            </div>
        </div>
    </div>
    
    <div *ngIf="equipmentSelected" class="grid grid-cols-8 pb-20">
        <div class="col-end-4 col-span-2 mb-10">
            <button *ngIf="equipmentSelected" class="rounded-md p-2 bg-red-500" (click)="delete()">Törlés</button>
            <div class="flex gap-1">
                <p class="font-bold text-2xl pt-1">Kalkulált ár:</p>
                <p class="font-bold text-2xl pt-1">{{formatPrice(calculatorService.price$ | async)}}</p>   
            </div>      
        </div>
    </div>