<div class=" mt-20">
  <div class="animated-card w-full px-4 text-center flex">
    <div
      class="relative flex flex-col bg-white w-full mb-8 shadow-lg rounded-lg"
    >
      <div class="px-4 py-5 flex-auto">
        <div
          class="text-white p-3 text-center inline-flex items-center justify-center w-15 h-15 mb-5 shadow-lg rounded-full bg-white"
        >
        <svg fill="#000000" height="25px" width="25px" version="1.1" id="XMLID_237_" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 24 24" xml:space="preserve"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g id="catalog"> <g> <path d="M12,23.3L0,20V3l4,1V1l8,2.3L20,1v3l4-1v17L12,23.3z M2,18.5l10,2.8l10-2.7v-13l-2,0.5v11l-8,2.2L4,17V6L2,5.5V18.5z M13,5.1V17l5-1.4v-12L13,5.1z M6,15.5l5,1.4V5.1L6,3.7V15.5z"></path> </g> </g> </g></svg>
        </div>
        <h6 class="text-xl font-semibold">Katalógus</h6>
        <p class="mt-2 mb-4 text-gray-600 justify-self-end align-bottom">
          A Palmse Mehaanikakoda (PALMS) egy családi vállalkozás, amelyet 1992-ben alapított apa és fia. Ma a PALMS Európa legnagyobb rönkpótkocsi- és darugyártója. Kitartó munkával és folyamatos termékfejlesztéssel értük el a vezető pozíciót.
Legújabb, ötödik generációs PALMS erdei daruink és kibővített rönkpótkocsi-modellkínálatunk nem játszik egyszerűen a szavakkal. Ezek azok a termékek, amelyek a legjobbak közé tartoznak. Csatlakozzon a PALMS családhoz, és válasszon az igényeinek megfelelő megbízható eszközt.
        </p>
        
      </div>
      <div class="image-holder mb-10">
        <button (click)="navigateToKrpanMachines()" class="mb-2 rounded bg-primary-color text-white px-12 pt-4 pb-3.5 text-sm font-semibold uppercase leading-normal md:mr-2 md:mb-0">Érdekel</button>
      </div>
    </div>
  </div>

  <div class="animated-card w-full px-4 text-center flex">
    <div
      class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg"
    >
      <div class="px-4 py-5 flex-auto h-full">
        <div
          class="text-white p-3 text-center inline-flex items-center justify-center w-15 h-15 mb-5 shadow-lg rounded-full bg-white"
        >
          <img loading="lazy" src="../../../assets/palms_logo.png">
        </div>
        <h6 class="text-xl font-semibold">Kalkulátor</h6>
        <p class="mt-2 mb-4 text-gray-600">
          Weboldalunk lehetővé teszi PALMS pótkocsik és daruk testreszabását az Ön preferenciái szerint, részletes képekkel és magyarázatokkal kiegészítve. Miután személyre szabta a kiválasztást, lehetősége van arra, hogy kényelmesen exportálja a konfigurációt PDF formátumba. Ha kérdése van vagy segítségre van szüksége a folyamat során, a konfiguráció végén található felületen forduljon hozzánk bizalommal.
        </p>
      </div>
      <div class="image-holder mb-10">
        <button (click)="navigateToPalmsMachines()" class="mb-2 rounded bg-primary-color text-white px-12 pt-4 pb-3.5 text-sm font-semibold uppercase leading-normal md:mr-2 md:mb-0">Érdekel</button>
      </div>
    </div>
  </div>
</div>
