<div class="flex flex-wrap">

    <div class="w-full lg:w-3/12 px-4 text-center flex">
      <div
        class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg"
      >
        <div class="px-4 py-5 flex-auto h-full">
          <div
            class="text-white p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-5 shadow-lg rounded-full bg-white"
          >
            <img src="../../../assets/excavator.png">
          </div>
          <h6 class="text-xl font-semibold">Gépbérbeadás</h6>
          <p class="mt-2 mb-3 text-gray-600">
            {{ 'Új szolgáltatással állunk ezentúl az Önök rendelkezésére. Két minikotró gépünk bérelhető kisebb-nagyobb munkákra, rugalmas (napi, heti, havi) bérleti konstrukcióval.' | truncate:150 }}
          </p>
        </div>
        <div class="mb-10">
          <button class="mb-2 rounded bg-[#8ac73c] text-white px-12 pt-4 pb-3.5 text-sm font-semibold uppercase leading-normal md:mr-2 md:mb-0">Érdekel</button>
        </div>
      </div>
    </div>

    <div class="w-full lg:w-3/12 px-4 text-center flex">
      <div
        class="relative flex flex-col bg-white w-full mb-8 shadow-lg rounded-lg"
      >
        <div class="px-4 py-5 flex-auto">
          <div
            class="text-white p-3 text-center inline-flex items-center justify-center w-15 h-15 mb-5 shadow-lg rounded-full bg-white"
          >
            <img src="../../../assets/krpan_logo.png">
          </div>
          <h6 class="text-xl font-semibold">Krpan erdészeti gépek</h6>
          <p class="mt-2 mb-4 text-gray-600 justify-self-end align-bottom">
            {{ 'Szerződéses partnerei vagyunk a KRPAN erdészeti gépeket gyártó vállalatnak. Ez egy 40 éves tapasztalattal rendelkező, második generációs családi vállalkozás.' | truncate:150 }}
          </p>
          
        </div>
        <div class="mb-10">
          <button class="mb-2 rounded bg-[#8ac73c] text-white px-12 pt-4 pb-3.5 text-sm font-semibold uppercase leading-normal md:mr-2 md:mb-0">Érdekel</button>
        </div>
      </div>
    </div>

    <div class="w-full lg:w-3/12 px-4 text-center flex">
      <div
        class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg"
      >
        <div class="px-4 py-5 flex-auto h-full">
          <div
            class="text-white p-3 text-center inline-flex items-center justify-center w-15 h-15 mb-5 shadow-lg rounded-full bg-white"
          >
            <img src="../../../assets/palms_logo.png">
          </div>
          <h6 class="text-xl font-semibold">Palms erdészeti gépek</h6>
          <p class="mt-2 mb-4 text-gray-600">
            {{ 'Palmse Mehaanikakoda (PALMS) egy családi vállalkozás, amit 1992-ben alapítottak. Ma a PALMS a legnagyobb fatrélerek és daruk gyártója Európában. A vezető pozíciót kitartó munkával és folyamatos termékfejlesztéssel érték el.' | truncate:150}} 
          </p>
        </div>
        <div class="mb-10">
          <button class="mb-2 rounded bg-[#8ac73c] text-white px-12 pt-4 pb-3.5 text-sm font-semibold uppercase leading-normal md:mr-2 md:mb-0">Érdekel</button>
        </div>
      </div>
    </div>
    
    <div class="w-full lg:w-3/12 px-4 text-center flex">
      <div
        class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg"
      >
        <div class="px-4 py-5 flex-auto h-full">
          <div
            class="text-white p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-5 shadow-lg rounded-full bg-white"
          >
            <img src="../../../assets/oil.png">
          </div>
          <h6 class="text-xl font-semibold">Adalékok</h6>
          <p class="mt-2 mb-4 text-gray-600 pt-6">
            {{ 'Üzemanyag- és motorolaj-adalékok: hatékony fogyasztáscsökkentés, motorjavulás. Környezetbarát, egyszerű használat. 30 éves tapasztalat, több országban elérhető.' | truncate:150 }}
          </p>
        </div>
        <div class="mb-10">
          <button class="mb-2 rounded bg-[#8ac73c] text-white px-12 pt-4 pb-3.5 text-sm font-semibold uppercase leading-normal md:mr-2 md:mb-0">Érdekel</button>
        </div>
      </div>
    </div>
  </div>