<div class="nav card absolute top-0 z-10 w-full">
    <p-menubar [model]="items" class="mx-auto text-5xl">
        <ng-template pTemplate="start">
            <a href="https://www.clear-globe.com/" target="_blank">
                <img src="../assets/clear_globe_icon_80x60.png"/>
            </a>
        </ng-template>
        <ng-template pTemplate="end" class="flex">
            <div class="sm:flex gap-0 sm:gap-6 ml-6">
                <div class="flex gap-2">
                    <i class="pi pi-phone"></i><p class="text-xs">+36 30 681 1948 - <span class="text-primary-color bold text-sm">GÉPEK</span></p>
                </div>
                <div class="flex gap-2">
                    <i class="pi pi-phone"></i><p class="text-xs">+36 70 337 3334 - <span class="text-primary-color bold text-sm">IRODA</span></p>
                </div>                              
            </div>
        </ng-template>
    </p-menubar>
</div>



  