<div class="">
    <div class="flex justify-center">
        <div class="flex justify-center bg-slate-700 w-full text-white py-4">
            <div class="mx-6">
                <i class="pi pi-home pt-1 mr-2"></i>
                <span>2351 Alsónémedi, Somogyi B. u. 79.</span>
            </div>
            
            <div class="mx-6">
                <i class="pi pi-phone pt-1 mr-2"></i>
                <span>+36 30 681 1948 - GÉPEK | +36 70 337 333 - IRODA</span>
            </div>
            
            <div class="mx-6">
                <i class="pi pi-car pt-1 mr-2"></i>
                <span>Használtautó</span>
            </div>
    
            <div class="mx-6">
                <i class="pi pi-truck pt-1 mr-2"></i>
                <span>Agroinform</span>
            </div>
    
            <div class="mx-6">
                <i class="pi pi-info-circle pt-1 mr-2"></i>
                <span>Jófogás</span>
            </div>
    
            <div class="mx-6">
                <i class="pi pi-facebook pt-1 mr-2"></i>
            </div>
    
            <div class="mx-6">
                <i class="pi pi-youtube pt-1 mr-2"></i>
            </div>
        </div>
    </div>
    <div class="card flex justify-center ">
        <p-menubar [model]="items" class="flex justify-center">
          <ng-template pTemplate="start">
            <img src="../assets/clear-g-icon_80.png"/>
          </ng-template>
        </p-menubar>
    </div>
</div>

  