.card .p-menubar .p-menuitem-text {
    color: white;
    font-weight: 700;
    font-size: large;
    
}

.card .p-menubar {
    background-color: rgba(0,0,0,.7);
    color: #fff;
}

.nav svg {
    color: white;
    background-color: transparent;
    width: 1.5rem;
    height: 1.5rem;
}

/* .p-menubar-button.ng-star-inserted {
    background-color: red;
    padding: 50px;
} */

.p-menubar-button.ng-star-inserted {
    margin-left: 2rem;
}

/* .p-element.p-icon-wrapper.ng-star-inserted {
    color: var(--primary-color);
    background-color: rgba(0,0,0,.9);
    padding: 1rem;
    border-radius: 50%;
}    */

/* .p-menubar.p-component.p-menubar-mobile-active{
    background-color: aqua;
    color: blue;
} */

@media screen and (max-width: 960px) {
    .p-menubar ul {
      background-color: rgba(0, 0, 0, 0.9);
      color: #fff;
      /* Add any other styles you need for screens below 960px */
    }
  }

.p-menubar li > *:hover,
.p-menubar li > *:active {
    background-color: #8ac73c;
}

.p-menuitem-content {
    background-color: transparent;
}

.p-submenu-list {
    background-color: black;
}
  