<app-navigation></app-navigation>
<main class="container mt-24 mx-auto w-11/12">
    <section class="py-8">
        <div class="mt-6">
            <h1 class="xl:text-3xl font-bold mb-6">
                Egyszerű és könnyű egyalvázas pótkocsik
            </h1>      
            <p class="mb-6 leading-loose">
                Az egyalvázas pótkocsikat, mint a PALMS 6S, 8SX és 9SC, gazdálkodók és magánerdő-tulajdonosok számára részmunkaidős használatra tervezték. A 6 és 9 tonna közötti névleges teherbírású pótkocsik könnyebb vázzal rendelkeznek, így alkalmasak a mindennapi munkákra is korlátozott súlyú területeken és kevésbé megerőltető terepen, így tökéletesek az olyan feladatokhoz, mint a fásítás és a park karbantartása. Sőt, kiválóan alkalmasak kisebb traktorokhoz is.
            </p>
          
            <h1 class="xl:text-3xl font-bold mb-6">
                Dupla alvázas pótkocsik
            </h1>      
            <p class="mb-6 leading-loose">
                A D-sorozatú pótkocsik masszívabbakk a dupla gerendás váznak köszönhetően. A PALMS termékportfólión belül olyan modellek találhatók, mint a 8D, 10D, 12D és 14D, amelyek névleges teherbírása 8-14 tonna között van. Ezt a klasszikus kialakítást az optimális ár és tartósság aránya miatt évtizedek óta széles körben alkalmazzák az erdészetben. Ezek a részmunkaidős és professzionális használatra egyaránt alkalmas pótkocsik a nagyobb kihívást jelentő terepen is kiválóak, különösen Robson kerékhajtással vagy hidraulikus 2WD rendszerekkel párosítva.
            </p>
          
            <h1 class="xl:text-3xl font-bold mb-6">
                Unibody pótkocsik nehéz körülményekhez
            </h1>      
            <p class="mb-6 leading-loose">
                Azok számára, akiknek nagy teljesítményre van szükségük, a kihordó típusú unibody típusú pótkocsijaink - PALMS 10U, 12U, 15U, MWD3.2 és HMWD3.2 - kiváló teljesítményt nyújtanak. A 10-15 tonna névleges teherbírású pótkocsik a mindennapi professzionális erdészeti munkákhoz készültek. Egyedülálló unibody vázuk könnyedén siklik át a csonkokon és az akadályokon. Az összes hidraulikus és elektronikus alkatrész biztonságosan a keretben van elhelyezve, miközben több nyíláson keresztül könnyű hozzáférést biztosít a karbantartáshoz. Sőt, megnövelt hasmagasságukkal is kitűnnek.
                Unibody pótkocsijaink különféle meghajtási lehetőségeket kínálnak, amelyek páratlan testreszabhatóságot kínálnak. A hidraulikus 2WD és 4WD rendszerektől a PALMS 10U, 12U és 15U modellekben a mechanikus (MWD3.2) és hidromechanikus (HMWD3.2) pótkocsikig, amelyek az Ön mezőgazdasági traktorát kihordóvá alakítják. Minden MWD3.2 hajtásrendszer egy adott traktorhoz van szabva, míg a HMWD3.2 pótkocsi különböző traktormodellekhez csatlakoztatható.
            </p>

            <h1 class="xl:text-3xl font-bold mb-6 mx-auto text-center mt-10 xl:mt-20">
                Néhány példa
            </h1>      
            <app-palms-trailer-overview-hints></app-palms-trailer-overview-hints>
        </div>
    </section>
    <section class="bg-slate-200">
        <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
            <div class="mx-auto max-w-screen-sm text-center">
                <h2 class="mb-4 text-4xl tracking-tight font-extrabold leading-tight">Kalkulálja ki saját pótkocsiját!</h2>
                <button (click)="navigateToCalculation()" class="rounded bg-[--primary-color] text-black font-bold uppercase hover:cursor-pointer hover:opacity-80 px-2 pt-4 pb-3.5 text-xs lg:text-sm lg:px-4 xl:px-12 relative">Kalkulátor</button>
            </div>
        </div>
    </section>
</main>
<app-footer></app-footer>