<app-navigation></app-navigation>
<app-palms-trailer-information *ngIf="trailer" [trailer]="trailer" (craneSelected)="navigateToCrane($event)"></app-palms-trailer-information>

<div class="w-full h-full flex justify-center items-center mt-16">
    <button (click)="loadTrailerConfigurations()" [disabled]="trailerSelected" [ngClass]="{'disabled': trailerSelected}" class="m-auto bg-[--primary-color] py-10 px-20 rounded-xl mb-2 text-black text-md font-extrabold uppercase"><span class="">Kalkulálás</span></button>
</div>
<div *ngIf="trailerSelected" class="w-full h-full flex justify-center items-center mt-8 mb-2">
    <p>Tippek</p>
</div>
<div *ngIf="trailerSelected" class="w-full h-full flex justify-center items-center">
    <p-inputSwitch  [(ngModel)]="hintsChecked"></p-inputSwitch>
</div>
<div *ngIf="trailerSelected" class="mx-auto">
    <app-palms-trailer-calculator-hints *ngIf="hintsChecked"></app-palms-trailer-calculator-hints>
</div>

<form [formGroup]="trailerFormGroup">
    <div class="bg-slate-200">
        <div #configElement class="flex align-middle justify-center my-10">
            <div class="w-11/12">

                <div *ngIf="trailerSelected && stanchions.length > 0" class="justify-content-center my-4 py-4">
                    <div class="flex gap-2">
                        <span>Rakonca</span>
                        <button ><i class="fa-solid fa-circle-info"></i></button>                      
                    </div>
                    <p-listbox (onChange)="handleStanchionChange($event)" formControlName="selectedStanchion" [options]="stanchions" optionLabel="namePrice"></p-listbox>                   
                </div>

                <div *ngIf="trailerSelected && brakes.length > 0" class="justify-content-center my-4 py-4">
                    <div class="flex gap-2">
                        <span>Fék</span>
                        <button (click)="toggleDialog('brakes', true)"><i class="fa-solid fa-circle-info"></i></button>                
                        <app-brakes-dialog [brakes]="brakes" [brakesDialogVisible]="showBrakesDialog" (dialogVisible)="toggleDialog('brakes', false)"></app-brakes-dialog>
                    </div>
                    <p-listbox (onChange)="handleBrakeChange($event)" formControlName="selectedBrake" [options]="brakes" optionLabel="namePrice"></p-listbox>                   
                </div>

                <div *ngIf="trailerSelected && propulsions.length > 0" class="justify-content-center my-4 py-4">
                    <div class="flex gap-2">
                        <span>Hajtás</span>
                        <button (click)="toggleDialog('propulsions', true)"><i class="fa-solid fa-circle-info"></i></button>  
                        
                    </div>
                    <p-listbox (onChange)="handlePropulsionChange($event)" formControlName="selectedPropulsion" [options]="propulsions" optionLabel="namePrice"></p-listbox>                   
                </div>

                <div *ngIf="trailerSelected && drawbars.length > 0" class="justify-content-center my-4 py-4">
                    <div class="flex gap-2">
                        <span>Vonórúd</span>
                        <button (click)="toggleDialog('drawbars', true)"><i class="fa-solid fa-circle-info"></i></button>  
                        <app-drawbar-dialog [drawbars]="drawbars" [drawbarsDialogVisible]="showDrawbarsDialog" (dialogVisible)="toggleDialog('drawbars', false)"></app-drawbar-dialog>                            
                    </div>
                    <p-listbox (onChange)="handleDrawbarChange($event)" formControlName="selectedDrawbar" [options]="drawbars" optionLabel="namePrice"></p-listbox>                   
                </div>

                <div *ngIf="trailerSelected && platforms.length > 0" class="justify-content-center my-4 py-4">
                    <div class="flex gap-2">
                        <span>Platform</span>
                        <button (click)="toggleDialog('platforms', true)"><i class="fa-solid fa-circle-info"></i></button>  
                        <app-platorm-dialog [platforms]="platforms" [platformDialogVisible]="showPlatformsDialog" (dialogVisible)="toggleDialog('platforms', false)"></app-platorm-dialog>
                    </div>
                    <p-listbox (onChange)="handlePlatformChange($event)" formControlName="selectedPlatform" [options]="platforms" optionLabel="namePrice"></p-listbox>                   
                </div>

                <div *ngIf="trailerSelected && oilPumps.length > 0" class="justify-content-center my-4 py-4">
                    <div class="flex gap-2">
                        <span>Olajszivattyú</span>
                        <button (click)="toggleDialog('oilPumps', true)"><i class="fa-solid fa-circle-info"></i></button>  
                        <app-oil-pump-dialog [oilPumps]="oilPumps" [oilPumpsDialogVisible]="showOilPumpsDialog" (dialogVisible)="toggleDialog('oilPumps', false)"></app-oil-pump-dialog>
                    </div>
                    <p-listbox (onChange)="handleOilPumpChange($event)" formControlName="selectedOilPump" [options]="oilPumps" optionLabel="namePrice"></p-listbox>                   
                </div>

                <div *ngIf="trailerSelected && oilTanks.length > 0" class="justify-content-center my-4 py-4">
                    <div class="flex gap-2">
                        <span>Olajtank</span>
                        <button (click)="toggleDialog('oilTanks', true)"><i class="fa-solid fa-circle-info"></i></button>   
                        <app-oil-tank-dialog [oilTanksDialogVisible]="showOilTanksDialog" (dialogVisible)="toggleDialog('oilTanks', false)"></app-oil-tank-dialog>          
                    </div>
                    <p-listbox (onChange)="handleOilTankChange($event)" formControlName="selectedOilTank" [options]="oilTanks" optionLabel="namePrice"></p-listbox>                   
                </div>

                <div *ngIf="originalOilTank?.oilTankCooler" class="justify-content-center my-4 py-4">
                    <div class="mb-4">
                        <button (click)="toggleDialog('oilTankCoolers', true)"><i class="fa-solid fa-circle-info"></i></button> 
                        <app-oil-tank-cooler-dialog [oilTankCoolersDialogVisible]="showOilTankCoolersDialog" (dialogVisible)="toggleDialog('oilTankCoolers', false)"></app-oil-tank-cooler-dialog>            
                    </div>
                    <div class="flex gap-2">
                        <p-checkbox #oilTankCoolerCheckBox (onChange)="onOilTankCoolerChange($event)" [value]="originalOilTank?.oilTankCooler" formControlName="selectedOilTankCooler" inputId="oiltankSelected"></p-checkbox>
                        <label class="hover:cursor-pointer" for="oiltankSelected">{{originalOilTank?.oilTankCooler?.namePrice}}</label>
                    </div>
                </div>

                <div *ngIf="trailerSelected && bolsterLock" class="justify-content-center my-4 py-4">
                    <div class="mb-4">
                        <button (click)="toggleDialog('bolsterLock', true)"><i class="fa-solid fa-circle-info"></i></button> 
                        <app-bolster-lock-dialog [bolsterLocksDialogVisible]="showBolsterLockDialog" (dialogVisible)="toggleDialog('bolsterLock', false)"></app-bolster-lock-dialog>            
                    </div>
                    <div class="flex gap-2">
                        <p-checkbox #bolsterLocksCheckBox (onChange)="onBolsterLockChange($event)" [value]="bolsterLock" formControlName="selectedBolsterLock" inputId="bolsterLockSelected"></p-checkbox>
                        <label class="hover:cursor-pointer" for="bolsterLockSelected">{{bolsterLock.namePrice}}</label>
                    </div>
                </div>

                <div *ngIf="trailerSelected && bbox" class="justify-content-center my-4 py-4">
                    <div class="mb-4">
                        <button (click)="toggleDialog('bbox', true)"><i class="fa-solid fa-circle-info"></i></button> 
                        <app-bbox-dialog [bBox]="bbox" [bBoxDialogVisible]="showBboxDialog" (dialogVisible)="toggleDialog('bbox', false)"></app-bbox-dialog>            
                    </div>
                    <div class="flex gap-2">
                        <p-checkbox #bboxCheckBox (onChange)="onBBoxChange($event)" [value]="bbox" formControlName="selectedBbox" inputId="BboxSelected"></p-checkbox>
                        <label class="hover:cursor-pointer" for="BboxSelected">{{bbox.namePrice}}</label>
                    </div>
                </div>

                <div *ngIf="trailerSelected && woodSorter" class="justify-content-center my-4 py-4">
                    <div class="mb-4">
                        <button (click)="toggleDialog('woodSorter', true)"><i class="fa-solid fa-circle-info"></i></button> 
                        <app-woodsorter-dialog [woodSorter]="woodSorter" [woodSorterDialogVisible]="showWoodSorterDialog" (dialogVisible)="toggleDialog('woodSorter', false)"></app-woodsorter-dialog>            
                    </div>
                    <div class="flex gap-2">
                        <p-checkbox #woodSorterCheckBox (onChange)="onWoodSorterChange($event)" [value]="woodSorter" formControlName="selectedWoodSorter" inputId="WoodSorterSelected"></p-checkbox>
                        <label class="hover:cursor-pointer pt-2" for="WoodSorterSelected">{{woodSorter.namePrice}}</label>
                        
                    </div>
                </div>

                <div *ngIf="trailerSelected && woodSorter" class="justify-content-center">
                    <p-dropdown *ngIf="woodSorterChecked" [disabled]="!woodSorterChecked" #woodSorterDropdown (onChange)="onWoodSorterNumberChange($event)" [options]="woodSorterArrayElements" optionLabel="number" placeholder="Válasszon egy számot..."></p-dropdown>
                </div>

                <div *ngIf="trailerSelected && handBrake" class="justify-content-center my-6 py-4 mt-12">
                    <div class="flex gap-2">
                        <p-checkbox #handBrakeCheckBox (onChange)="onHandBrakeChange($event)" [value]="handBrake" formControlName="selectedHandBrake" inputId="HandBrakeSelected"></p-checkbox>
                        <label class="hover:cursor-pointer" for="HandBrakeSelected">{{handBrake.namePrice}}</label>
                    </div>
                </div>

                <div *ngIf="trailerSelected && chainsawHolder" class="justify-content-center my-4 py-4">
                    <div class="mb-4">
                        <button (click)="toggleDialog('chainsawHolder', true)"><i class="fa-solid fa-circle-info"></i></button> 
                        <app-chainsaw-holder-dialog [chainsawHolder]="chainsawHolder" [chainsawHolderDialogVisible]="showChainsawHolderDialog" (dialogVisible)="toggleDialog('chainsawHolder', false)"></app-chainsaw-holder-dialog>            
                    </div>
                    <div class="flex gap-2">
                        <p-checkbox #chainsawHolderCheckBox (onChange)="onChainsawHolderChange($event)" [value]="chainsawHolder" formControlName="selectedChainsawHolder" inputId="ChainsawHolderSelected"></p-checkbox>
                        <label class="hover:cursor-pointer" for="ChainsawHolderSelected">{{chainsawHolder.namePrice}}</label>
                    </div>
                </div>

                <div *ngIf="trailerSelected && underrunProtection" class="justify-content-center my-4 py-4">
                    <div class="mb-4">
                        <button (click)="toggleDialog('underrunProtection', true)"><i class="fa-solid fa-circle-info"></i></button> 
                        <app-underrun-protection-dialog [underrunProtection]="underrunProtection" [underrunProtectionDialogVisible]="showUnderrunProtectionDialog" (dialogVisible)="toggleDialog('underrunProtection', false)"></app-underrun-protection-dialog>            
                    </div>
                    <div class="flex gap-2">
                        <p-checkbox #underrunProtectionCheckBox (onChange)="onUnderrunProtectionChange($event)" [value]="underrunProtection" formControlName="selectedUnderrunProtection" inputId="UnderrunProtectionSelected"></p-checkbox>
                        <label class="hover:cursor-pointer" for="UnderrunProtectionSelected">{{underrunProtection.namePrice}}</label>
                    </div>
                </div>

                <div *ngIf="trailerSelected && supportLegs"  class="justify-content-center my-4 py-4">
                    <div class="flex gap-2">
                        <span>Kitámasztó láb</span>
                        <button (click)="toggleDialog('supportLeg', true)"><i class="fa-solid fa-circle-info"></i></button> 
                        <app-support-leg-dialog [supportLegs]="supportLegs" [supportLegDialogVisible]="showSupportLegDialog" (dialogVisible)="toggleDialog('supportLeg', false)"></app-support-leg-dialog>                                   
                    </div>
                    <p-listbox (onChange)="handleSupportLegChange($event)" formControlName="selectedSupportLeg" [options]="supportLegs" optionLabel="namePrice"></p-listbox>                   
                </div>

                <div *ngIf="trailerSelected && lights"  class="justify-content-center my-4 py-4">
                    <div class="flex gap-2">
                        <span>Lámpák</span>
                        <button (click)="toggleDialog('lights', true)"><i class="fa-solid fa-circle-info"></i></button> 
                        <app-light-dialog [lights]="lights" [lightsDialogVisible]="showLightsDialog" (dialogVisible)="toggleDialog('lights', false)"></app-light-dialog>                              
                    </div>
                    <p-listbox (onChange)="handleLightChange($event)" formControlName="selectedLight" [options]="lights" optionLabel="namePrice"></p-listbox>                   
                </div>

                <div *ngIf="trailerSelected && tyres"  class="justify-content-center my-4 py-4">
                    <div class="flex gap-2">
                        <span>Kerekek</span>
                        <button (click)="toggleDialog('tyres', true)"><i class="fa-solid fa-circle-info"></i></button> 
                        <app-tyres-dialog [tyres]="tyres" [tyresDialogVisible]="showTyresDialog" (dialogVisible)="toggleDialog('tyres', false)"></app-tyres-dialog>                                
                    </div>
                    <p-listbox (onChange)="handleTyreChange($event)" formControlName="selectedTyre" [options]="tyres" optionLabel="namePrice"></p-listbox>                   
                </div>

                <hr class="mb-2 mt-4 h-0.5 border-t-0 bg-black opacity-100 dark:opacity-50" />
            </div>
        </div>

        <div class="mx-10 ">
            
<!--             
            <div class="grid grid-cols-12 gap-4 mt-6 fixed bottom-28 right-40 z-10">
                <div class="col-span-8 sm:col-span-9 md:col-span-10 justify-self-end">
                  <p class="text-lg font-bold">Pótkocsi:</p>
                </div>
                <div class="col-span-4 sm:col-span-3 md:col-span-2 justify-self-start">
                  <p class="text-lg font-bold">{{palmsService._trailerPrice() | formatPrice}}</p> 
                </div>  
            </div> -->
            <div *ngIf="trailerSelected && trailer" class="w-full sm:w-6/12 lg:w-4/12 fixed bottom-1 right-1 z-10">
                <p-accordion [activeIndex]="">
                    <p-accordionTab>
                        <ng-template pTemplate="header" class="flex justify-around">
                            <div class="flex gap-2 w-full">
                                <p class="mr-auto text-sm lg:text-base"><span class="">{{trailer.name}} Pótkocsi: </span><span class="font-extrabold text-lg">{{palmsService._trailerPrice() | formatPrice}}</span></p>
                                <button (click)="delete(); $event.stopPropagation()" class="ml-auto px-2 bg-red-500  active:bg-gray-700 text-sm font-bold uppercase  rounded shadow hover:shadow-lg outline-none focus:outline-none">Törlés</button>
                            </div>
                        </ng-template>
                        <div class="max-h-96 overflow-auto">
                            <app-accessory-item [accessoryItem]="originalStanchion"></app-accessory-item>
                            <app-accessory-item [accessoryItem]="originalBrake"></app-accessory-item>
                            <app-accessory-item [accessoryItem]="originalPropulsion"></app-accessory-item>
                            <app-accessory-item [accessoryItem]="originalDrawbar"></app-accessory-item>
                            <app-accessory-item [accessoryItem]="originalPlatform"></app-accessory-item>
                            <app-accessory-item [accessoryItem]="originalOilPump"></app-accessory-item>
                            <app-accessory-item [accessoryItem]="originalOilTank"></app-accessory-item>
                            <div *ngIf="originalOilTank?.oilTankCooler && originalOilTankCooler" class="grid grid-cols-4 gap-10 py-2">
                                <div class="col-span-3">
                                    <p class="text-xs sm:text-sm md:text-md lg:text-lg">{{originalOilTankCooler.name}}</p>
                                </div>
                                <div class="col-span-1">
                                    <p class="text-xs sm:text-sm md:text-md lg:text-lg">{{originalOilTankCooler.price}} €</p>
                                </div>
                            </div>
                            <app-accessory-item [accessoryItem]="originalBolsterLock"></app-accessory-item>
                            <app-accessory-item [accessoryItem]="originalBbox"></app-accessory-item>
                            <div *ngIf="originalWoodSorter && originalWoodSorter.price > 0 && woodSorterNumberSelected" class="grid grid-cols-4 gap-10 py-2">
                                <div class="col-span-3">
                                    <p class="text-xs sm:text-sm md:text-md lg:text-lg">{{originalWoodSorter.name}}</p>
                                </div>
                                <div class="col-span-1">
                                    <p class="text-xs sm:text-sm md:text-md lg:text-lg">{{originalWoodSorter.price}} €</p>
                                </div>
                            </div>
                            <app-accessory-item [accessoryItem]="originalHandBrake"></app-accessory-item>
                            <app-accessory-item [accessoryItem]="originalChainsawHolder"></app-accessory-item>
                            <app-accessory-item [accessoryItem]="originalUnderrunProtection"></app-accessory-item>
                            <app-accessory-item [accessoryItem]="originalSupportLeg"></app-accessory-item>
                            <app-accessory-item [accessoryItem]="originalLight"></app-accessory-item>
                            <app-accessory-item [accessoryItem]="originalTyre"></app-accessory-item>                          
                        </div>             
                    </p-accordionTab>

                    <p-accordionTab *ngIf="craneSelected">
                        <ng-template pTemplate="header" class="flex justify-around">
                            <div class="flex gap-2 w-full">
                                <p class="mr-auto text-sm lg:text-base"><span class="">{{ this.craneFormGroup.get('selectedCrane')?.value}} Daru: </span><span class="font-extrabold text-lg">{{palmsService._cranePrice() | formatPrice}}</span></p>
                                <button (click)="delete(); $event.stopPropagation()" class="ml-auto px-2 bg-red-500  active:bg-gray-700 text-sm font-bold uppercase  rounded shadow hover:shadow-lg outline-none focus:outline-none">Törlés</button>
                            </div>
                        </ng-template>
                        <div class="max-h-96 overflow-auto">
                            <p>asd</p>                        
                        </div>             
                    </p-accordionTab>
                    
                </p-accordion>
                
            </div>
            <!-- <div class="grid grid-cols-12 pt-6 fixed bottom-4 right-40 z-10">
                <div class="col-span-8 sm:col-span-9 md:col-span-10 justify-self-end">
                    
                </div>
                <div class="col-span-4 sm:col-span-3 md:col-span-2 justify-self-start">
                    <button (click)="delete()" class="p-2  bg-red-500  active:bg-gray-700 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1">Törlés</button>
                </div> 
            </div> -->     
            
        </div> 
        <app-palms-cranes-cards *ngIf="trailerSelected" [cranes]="trailer.crane" (buttonClickEmitter)="selectCrane($event)"></app-palms-cranes-cards>
    </div>
</form>
<app-footer></app-footer>   


