<app-navigation></app-navigation>
<main class="container mt-24 mx-auto w-11/12">
    <section class="py-8">
        <div class="mt-6">
            <h1 class="xl:text-3xl font-bold mb-6">Bevezetés</h1>
            <p class="mb-6 leading-loose">
                A PALMS erdészeti daruk sorozatokba vannak csoportosítva használatuk és emelési képességeik alapján 2-től X-ig. Ezenkívül
                minden darumodell megjelöléssel jelzi a hatótávolságát. Például a PALMS 5.72 modellnév az 5. széria 7,2 méteres erdészeti
                darura utal.
            </p>

            <h1 class="xl:text-3xl font-bold mb-6">Most nézzük meg részletesebben az egyes sorozatokat külön-külön</h1>
            <p class="mb-6 leading-loose">
                A <span class="font-bold">2. SZÉRIÁJÚ</span> daruk a legkisebbek a PALMS daruk választékában. Könnyű súlyuk és kompakt
                méretük miatt ezek a daruk tökéletes választások városi parkokba és más környezetre érzékeny területekre. 2. sorozatú
                daruink különböző platformokra szerelhetők, az erdészeti pótkocsiktól és teherautóktól a mini kihordókig.
            </p>
            <p class="mb-6 leading-loose">
                A <span class="font-bold">3. SZÉRIÁJÚ</span> daruk kis erdőtulajdonosok számára készültek. Ezek a daruk kiválóan alkalmasak
                tűzifa készítésére Ön és szomszédja számára, valamint egyéb általános emelési munkákhoz a gazdaságokban.
            </p>
            <p class="mb-6 leading-loose">
                A <span class="font-bold">5. SZÉRIÁJÚ</span> daruk a mindennapi professzionális erdészeti munkákhoz készültek puha terepen.
                A PALMS 5.72 és 5.85 daruk közepes méretű traktorokhoz lettek optimalizálva, és sokféle pótkocsira felszerelhetők.
            </p>
            <p class="mb-6 leading-loose">
                A <span class="font-bold">7. SZÉRIÁJÚ</span> daruk a PALMS nagy teherbírású termékcsaládját képviselik. A nagyobb
                pótkocsijaink mellett ezek a daruk aprítógépekre helyezhetőek, vagy közvetlenül a traktor vázára szerelhetőek. A nagyobb
                elforgatási nyomaték és az emelési kapacitás jó választássá teszi ezeket a darukat a betakarítófejekkel való munkavégzéshez
                vagy a meredek lejtőkön történő munkához.
            </p>
            <p class="mb-6 leading-loose">
                A <span class="font-bold">X SZÉRIÁJÚ</span> daru a legfejlettebb termékcsalád a termékpalettánkban. Termékkínálatunk közül a
                leghosszabb kinyúlást és a legnagyobb emelőképességet kínálja.
            </p>
        </div>
    </section>
    <section class="bg-slate-200">
        <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
            <div class="mx-auto max-w-screen-sm text-center">
                <h2 class="mb-4 text-4xl tracking-tight font-extrabold leading-tight">Kalkulálja ki saját daruját!</h2>
                <button
                    (click)="navigateToCalculation()"
                    class="rounded bg-[--primary-color] text-black font-bold uppercase hover:cursor-pointer hover:opacity-80 px-2 pt-4 pb-3.5 text-xs lg:text-sm lg:px-4 xl:px-12 relative"
                >
                    Kalkulátor
                </button>
            </div>
        </div>
    </section>
</main>
<app-footer></app-footer>
