<app-navigation></app-navigation>
<main class="container mt-24 mx-auto w-11/12">
    <section class="py-8">
        <section class="mt-6">
            <h1 class="xl:text-3xl font-bold mb-6">Minőség</h1>
            <p class="mb-6 leading-loose">
                A PALMS gépek egy professzionális alvázból lévő pótkocsiból, egy kiváló minőségű daruból és sok, szintén magas minőségű
                kiegészítőből (pld: szivattyú, vezértömb, tartály, olajhűtő, meghajtó motorok stb.) álló konstrukciók, ezek együttesen adják
                a hosszútávú, könnyű, stabil és megbízható működtetés lehetőségét.
            </p>

            <h1 class="xl:text-3xl font-bold mb-6">Árajánlat</h1>
            <p class="mb-6 leading-loose">
                Mi minden esetben egy komplett egységre adunk árajánlatot, mely nemcsak az alvázat és darut jelenti, hanem a gyár által
                alkalmazott, tesztelt, kompatibilis és garanciális egyéb felszereltségeket, alkatrészeket is.
            </p>

            <h1 class="xl:text-3xl font-bold mb-6">Megbízhatóság</h1>
            <p class="mb-6 leading-loose">
                Példa az előzőekre: ha ügyfelünk kap egy 10D pótkocsiból és 5.72-es daruból álló árajánlatot tőlünk és annak vételára kb.
                45.000,- EUR, majd kimegy Ausztriába és ugyanezen konstrukcióra kér és kap ajánlatot olcsóbban, az azért lehetséges, mert
                annak a konstrukciónak mindössze az alváza és daruja a PALMS gyártmány, az egyéb felszereltségek (pld. szivattyú,
                olajtartály, hűtő, vezértömb stb.) alacsony kategóriájú és minőségű alkatrészek, melyek nem gyárilag kerülnek a
                konstrukcióra ráépítésre. Ezen darus pótkocsiknál nincs gyári garancia, erre esetleg a külföldi kereskedő garanciája van (ha
                van...), az alkatrész ellátottsága pedig bizonytalan.
            </p>
        </section>
    </section>
    <section>
        <div>
            <table>
                <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th><span class="font-bold text-[--primary-color]">Előnyök</span></th>
                        <th><span class="font-bold text-red-500">Hátrányok</span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><span class="font-bold text-[--primary-color]">NÁLUNK vásárolt </span>komplett, gyár által összeszerelt gép</td>
                        <td>
                            <ul>
                                <li class="my-3">- gyári garancia minden komponensre,</li>
                                <li class="my-3">- kiegyensúlyozott, stabil működésű gép,</li>
                                <li class="my-3">- hosszabb élettartamú gép,</li>
                                <li class="my-3">- biztosított, gyors alkatrészbeszerzés gyári támogatással,</li>
                                <li class="my-3">- olcsóbb üzemeltetési költség,</li>
                                <li class="my-3">- megbízhatóbb üzemeltetés,</li>
                                <li class="my-3">- uniós adószámmal nettóban történő vásárlás lehetséges</li>
                            </ul>
                        </td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td><span class="font-bold text-red-500">KÜLFÖLDÖN vásárolt, </span>kereskedő által összeszerelt gép</td>
                        <td>-</td>
                        <td>
                            <ul>
                                <li class="my-3">- nincs gyári garancia, csak kereskedői (jó esetben),</li>
                                <li class="my-3">- működés bizonytalan a nem megfelelően illesztett kiegészítők miatt,</li>
                                <li class="my-3">- rövidebb élettartam, mert ezek a konstrukciók nem estek át gyári tesztelésen,</li>
                                <li class="my-3">- az alkatrész beszerzés bizonytalan, így a konstrukciók üzemeltetése kockázatos,</li>
                                <li class="my-3">- a gyakoribb javítás miatt az üzemeltetése kiszámíthatatlanabb és drágább *</li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
    <p class="mt-4 mb-20">
        * Felhívjuk a figyelmet, hogy a fent jelzett problémák előfordulása miatt <span class="font-bold">NEM</span> a PALMS termékek
        megbízhatatlanok, vagy hibásak. A PALMS termékek - amennyiben gyári összeszereléssel, tesztelt és jól illesztett kiegészítőkkel
        ellátottak - kiváló gépek, melyekkel öröm dolgozni.
    </p>
    <!-- <table class="w-full flex flex-row flex-no-wrap sm:bg-white rounded-lg overflow-hidden sm:shadow-lg my-5">
    <thead class="text-white">
        <tr class="bg-gray-200 flex flex-col flex-no wrap sm:table-row rounded-l-lg sm:rounded-none mb-2 sm:mb-0">
            <th class="p-3 text-left"></th>
            <th class="p-3 text-left"><span class="font-bold text-[--primary-color]">Előnyök</span></th>
            <th class="p-3 text-left" width="110px"><span class="font-bold text-red-600">Hátrányok</span></th>
        </tr>
        <tr class="bg-teal-400 flex flex-col flex-no wrap sm:table-row rounded-l-lg sm:rounded-none mb-2 sm:mb-0">
            <th class="p-3 text-left">Name</th>
            <th class="p-3 text-left">Email</th>
            <th class="p-3 text-left" width="110px">Actions</th>
        </tr>
        <tr class="bg-teal-400 flex flex-col flex-no wrap sm:table-row rounded-l-lg sm:rounded-none mb-2 sm:mb-0">
            <th class="p-3 text-left">Name</th>
            <th class="p-3 text-left">Email</th>
            <th class="p-3 text-left" width="110px">Actions</th>
        </tr>
        <tr class="bg-teal-400 flex flex-col flex-no wrap sm:table-row rounded-l-lg sm:rounded-none mb-2 sm:mb-0">
            <th class="p-3 text-left">Name</th>
            <th class="p-3 text-left">Email</th>
            <th class="p-3 text-left" width="110px">Actions</th>
        </tr>
    </thead>
    <tbody class="flex-1 sm:flex-none">
        <tr class="flex flex-col flex-no wrap sm:table-row mb-2 sm:mb-0">
            <td class="border-grey-light border p-3"><span class="text-[--primary-color] font-bold">NÁLUNK</span> vásárolt komplett, gyár által összeszerelt gép</td>
            <td class="border-grey-light border p-3 w-4/12">
                <ul>
                    <li class="my-2">gyári garancia minden komponensre</li>
                    <li class="my-2">kiegyensúlyozott, stabil működésű, hosszabb élettartamú gép</li>
                    <li class="my-2">biztosított gyors alkatrészbeszerzés gyári támogatással</li>
                    <li class="my-2">olcsóbb üzemeltetési költség</li>
                    <li class="my-2">megbízhatóbb üzemeltetés</li>
                    <li class="my-2">uniós adószámmal nettóban történő vásárlás lehetséges</li>
                </ul>
            </td>
            <td class="border-grey-light border p-3 text-center">-</td>
        </tr>
        <tr class="flex flex-col flex-no wrap sm:table-row mb-2 sm:mb-0 ">
            <td class="border-grey-light border p-3 w-4/12"><span class="text-red-600 font-bold">KÜLFÖLDÖN</span> vásárolt, kereskedő által összeszerelt gép</td>
            <td class="border-grey-light border p-3 text-center">-</td>
            <td class="border-grey-light border p-3">
                    <ul>
                        <li class="my-2">nincs gyári garancia csak kereskedői (jó esetben)</li>
                        <li class="my-2">a működés bizonytalan a nem megfelelően illesztett kiegészítők miatt</li>
                        <li class="my-2">rövidebb élettartam, mert ezek a konstrukciók nem estek át gyári tesztelésen</li>
                        <li class="my-2">az alkatrész beszerzés bizonytalan, így a konstrukciók üzemeltetése kockázatos</li>
                        <li class="my-2">a gyakoribb javítás miatt az üzemeltetése kiszámíthatatlanabb és drágább *</li>
                    </ul>
            </td>
        </tr>
        
    </tbody>
</table> -->
</main>
<app-footer></app-footer>
