<div class="">
    <p-galleria class="image-holder" [value]="images" [numVisible]="5" [autoPlay]="true" [circular]="true" [showItemNavigators]="true" [showThumbnails]="false" [responsiveOptions]="responsiveOptions" [containerStyle]="{ 'max-height': '100dvh' }">
        <ng-template class="relative" pTemplate="item" let-item>
            <img loading="eager" class="image" [src]="item.itemImageSrc" style="width: 100%; max-height: 100dvh;"/>
            <div class="custom">
                <h1 class="font-bold text-sm md:text-base lg:text-3xl xl:text-5xl text-[--primary-color]">
                    GINOP Plusz-1.2.4-24
                </h1>
                <button (click)="navigateToCompetition()" id="next" class="!py-1 !px-1.5 text-sm md:!py-2 md:!px-4 md:text-base lg:!py-5 lg:!px-6 lg:text-xl xl:!py-8 xl:!px-12 xl:text-xl my-10 hover:opacity-90">Tovább</button>
                <img class="centered-img" src="../../../../assets/ginop2_resized.PNG">
            </div>
        </ng-template>
    </p-galleria>
</div>