<app-navigation></app-navigation>
<app-palms-trailer></app-palms-trailer>
<app-palms-crane *ngIf="(palmsService.selectedCrane$ | async)" [id]="(palmsService.selectedCrane$ | async)?.id"></app-palms-crane>
<div class="mx-10 ">       
    <div class="w-full sm:w-6/12 lg:w-4/12 fixed bottom-1 right-1 z-10">
        <p-accordion *ngIf="(palmsService.selectedTrailer$ | async) && (palmsService.trailerSelected$ | async)" [activeIndex]="0">
            <p-accordionTab>
                <ng-template pTemplate="header" class="flex justify-around">
                    <div class="flex gap-2 w-full">
                        <p class="mr-auto text-sm lg:text-base"><span class="">{{(palmsService.selectedTrailer$ | async)?.name}} Pótkocsi: </span><span class="font-extrabold text-lg">{{palmsService._trailerPrice() | formatPrice}}</span></p>
                        <button (click)="deleteTrailer(); $event.stopPropagation()" class="ml-auto px-2 bg-red-500  active:bg-gray-700 text-sm font-bold uppercase  rounded shadow hover:shadow-lg outline-none focus:outline-none">Törlés</button>
                    </div>
                </ng-template>
                <div class="max-h-96 overflow-auto">
                    <app-accessory-item [accessoryItem]="this.palmsService.selectedStanchion()"></app-accessory-item>
                    <app-accessory-item [accessoryItem]="this.palmsService.selectedBrake()"></app-accessory-item>
                    <app-accessory-item [accessoryItem]="this.palmsService.selectedPropulsion()"></app-accessory-item>
                    <app-accessory-item [accessoryItem]="this.palmsService.selectedDrawbar()"></app-accessory-item>                  
                    <app-accessory-item [accessoryItem]="this.palmsService.selectedPlatform()"></app-accessory-item>
                    <app-accessory-item [accessoryItem]="this.palmsService.selectedOilPump()"></app-accessory-item>
                    <app-accessory-item [accessoryItem]="this.palmsService.selectedOilTank()"></app-accessory-item>
                    <app-accessory-item [accessoryItem]="this.palmsService.selectedTrailerOilCooler()"></app-accessory-item>
                    <app-accessory-item [accessoryItem]="this.palmsService.selectedSupportLeg()"></app-accessory-item>
                    <app-accessory-item [accessoryItem]="this.palmsService.selectedTrailerLight()"></app-accessory-item>
                    <app-accessory-item [accessoryItem]="this.palmsService.selectedTyre()"></app-accessory-item>
                    <app-accessory-item [accessoryItem]="this.palmsService.selectedBolsterLock()"></app-accessory-item>
                    <app-accessory-item [accessoryItem]="this.palmsService.selectedBBox()"></app-accessory-item>
                    <app-accessory-item [accessoryItem]="this.palmsService.selectedWoodSorter()"></app-accessory-item>
                    <app-accessory-item [accessoryItem]="this.palmsService.selectedHandBrake()"></app-accessory-item>
                    <app-accessory-item [accessoryItem]="this.palmsService.selectedChainsawHolder()"></app-accessory-item>
                    <app-accessory-item [accessoryItem]="this.palmsService.selectedUnderrunProtection()"></app-accessory-item>
                    <app-accessory-item [accessoryItem]="this.palmsService.selectedBunkAdapter()"></app-accessory-item>
                    <app-accessory-item [accessoryItem]="this.palmsService.selectedBunkExtension()"></app-accessory-item>
                    <app-accessory-item [accessoryItem]="this.palmsService.selectedFrameExtension()"></app-accessory-item>
                </div>             
            </p-accordionTab>

            <p-accordionTab *ngIf="(palmsService.selectedCrane$ | async) && (palmsService.craneSelected$ | async)">
                <ng-template pTemplate="header" class="flex justify-around">
                    <div class="flex gap-2 w-full">
                        <p class="mr-auto text-sm lg:text-base"><span class="">{{(palmsService.selectedCrane$ | async)?.name}} Daru: </span><span class="font-extrabold text-lg">{{palmsService._cranePrice() | formatPrice}}</span></p>
                        <button (click)="deleteCrane(); $event.stopPropagation()" class="ml-auto px-2 bg-red-500  active:bg-gray-700 text-sm font-bold uppercase  rounded shadow hover:shadow-lg outline-none focus:outline-none">Törlés</button>
                    </div>
                </ng-template>
                <div class="max-h-96 overflow-auto">
                    <app-accessory-item [accessoryItem]="this.palmsService.selectedControlBlock()"></app-accessory-item>
                    <app-accessory-item [accessoryItem]="this.palmsService.selectedFrameType()"></app-accessory-item>
                    <app-accessory-item [accessoryItem]="this.palmsService.selectedRotator()"></app-accessory-item>
                    <app-accessory-item [accessoryItem]="this.palmsService.selectedGrapple()"></app-accessory-item>
                    @for (grapple of this.palmsService.selectedGrapples; track $index) {
                        <app-accessory-item [accessoryItem]="grapple"></app-accessory-item>
                    }                   
                    <app-accessory-item [accessoryItem]="this.palmsService.selectedWinch()"></app-accessory-item>
                    <app-accessory-item [accessoryItem]="this.palmsService.selectedProtectionSleeves()"></app-accessory-item>
                    <app-accessory-item [accessoryItem]="this.palmsService.selectedElectricalFloating()"></app-accessory-item>
                    <app-accessory-item [accessoryItem]="this.palmsService.selectedValveBlock()"></app-accessory-item>
                    <app-accessory-item [accessoryItem]="this.palmsService.selectedDamping()"></app-accessory-item>
                    <app-accessory-item [accessoryItem]="this.palmsService.selectedCraneLight()"></app-accessory-item>
                    <app-accessory-item [accessoryItem]="this.palmsService.selectedOperatorSeat()"></app-accessory-item>
                    <app-accessory-item [accessoryItem]="this.palmsService.selectedCraneOilCooler()"></app-accessory-item>
                    <app-accessory-item [accessoryItem]="this.palmsService.selectedRotatorBrake()"></app-accessory-item>
                    <app-accessory-item [accessoryItem]="this.palmsService.selectedJoystickHolder()"></app-accessory-item>
                    <app-accessory-item [accessoryItem]="this.palmsService.selectedHoseGuard()"></app-accessory-item>
                    <app-accessory-item [accessoryItem]="this.palmsService.selectedTurningDeviceCounterPlate()"></app-accessory-item>
                    <app-accessory-item [accessoryItem]="this.palmsService.selectedSupportLegCounterPlate()"></app-accessory-item>
                    <app-accessory-item [accessoryItem]="this.palmsService.selectedBoomGuard()"></app-accessory-item>
                    <app-accessory-item [accessoryItem]="this.palmsService.selectedCover()"></app-accessory-item>
                    <app-accessory-item [accessoryItem]="this.palmsService.selectedWoodControl()"></app-accessory-item>
                    <app-accessory-item [accessoryItem]="this.palmsService.selectedLinkage()"></app-accessory-item>                       
                </div>             
            </p-accordionTab>       
        </p-accordion>    
    </div>   
</div> 
<app-footer></app-footer>