
    
    <!-- <div class="flex align-middle justify-center mt-40">
        <div class="justify-center w-9/12">
            <div class="justify-content-center my-4 py-4">
                <span>Vezértömb</span>
        
            </div>
    
            
        </div>
    </div> -->

    
    <div class="w-10/12 m-auto mt-10"> 
        <p-galleria  [containerStyle]="{ 'max-width': '1500px' }" [value]="images" [showItemNavigators]="true" [responsiveOptions]="responsiveOptions" [circular]="true" [numVisible]="9"> 
            <ng-template pTemplate="item" let-item> 
                <img
                style="width: 50%; min-height: 400px; max-height: 400px;" 
                    [src]="item.previewImageSrc"  
                    [alt]="item.alt"  
                    [title]="item.title"
                /> 
            </ng-template>
            <ng-template pTemplate="thumbnail" let-item width="50%"> 
                <div class="grid grid-nogutter justify-content-center"> 
                    <img 
                    style="width: 80%; display: block; max-height: 120px;"
                        [src]="item.thumbnailImageSrc"  
                        [alt]="item.alt"  
                        [title]="item.title"/> 
                </div> 
            </ng-template> 
        </p-galleria>    
    </div>