

    <div #addElement class="grid grid-cols-1 pb-8 gap-8 mx-5 md:grid-cols-1 md:mx-20 lg:grid-cols-2 lg:mx-20 xl:grid-cols-2 xl:mx-14">
      @for (trailer of trailers; track trailer.id){

              <!-- <ng-template pTemplate="header">
                  <img alt="Card" [src]="trailer.imgUrl"/>
              </ng-template> -->
              
              <p class="block text-sm lg:text-lg">{{ trailer.name }}</p>
              <ng-template pTemplate="footer">
                  <!-- <div class="grid grid-cols-2 mb-4">  
                      <div class="">
                        <button (click)="addToCalculator(crane)" label="Kalkulál"
                        class="mb-2 rounded bg-[#8ac73c] text-black font-bold uppercase hover:cursor-pointer px-2 pt-4 pb-3.5 text-xs lg:text-sm lg:px-4 xl:px-12">Kalkulál</button>
                      </div>             
                      <div class="justify-self-end">
                        <button (click)="navigateToMachine(crane.id)" label="További információ" 
                        class="mb-2 rounded bg-[rgba(0,0,0,.1)] text-black font-bold uppercase hover:cursor-pointer px-2 pt-4 pb-3.5 text-xs lg:text-sm lg:px-4 xl:px-12">További információ</button>
                      </div>             
                    </div>            -->
              </ng-template>
  
      } 
      @empty {
          <p>There are no cranes.</p>
      }
    </div>
    

