<div class="flex flex-wrap items-center mt-14 lg:mt-30 xl:mt-48">
    <div class="w-full md:w-5/12 px-4 mr-auto ml-auto">
      <h3 class="text-3xl mb-2 font-semibold leading-normal">
        <span class="text-[#e30d13]">KRPAN</span> termékek
      </h3>
      <p class="text-lg font-medium leading-relaxed mt-0 mb-4 text-gray-700">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas hic quis eos dolor sunt, vero molestias repellat. Debitis nulla autem minima obcaecati error rerum accusantium ab, neque, illo sed velit?
      </p>
      <div class="grid grid-cols-2 gap-6 mt-6">
        <button class="mb-2 inline-block rounded bg-[#e30d13] text-white px-12 pt-4 pb-3.5 text-sm font-semibold uppercase leading-normal md:mr-2 md:mb-0">Katalógus</button>
        <button class="mb-2 inline-block rounded bg-[#e30d13] text-white px-12 pt-4 pb-3.5 text-sm font-semibold uppercase leading-normal md:mr-2 md:mb-0">Árlista</button>
      </div>

    </div>
    <div class="w-full md:w-4/12 px-4 mr-auto ml-auto">
      <div
        class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6"
      >
        <img
          alt="..."
          src="../../assets/daru1.png"
          class="w-full align-middle rounded-t-lg"
        />         
      </div>
    </div>
  </div>

  <div class="flex flex-wrap items-center mt-14 lg:mt-30 xl:mt-48">
    <div class="w-full md:w-5/12 px-4 mr-auto ml-auto">
      <h3 class="text-3xl mb-2 font-semibold leading-normal">
        <span class="text-[#a32116]">PALMS</span> termékek
      </h3>
      <p class="text-lg font-medium leading-relaxed mt-0 mb-4 text-gray-700">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas hic quis eos dolor sunt, vero molestias repellat. Debitis nulla autem minima obcaecati error rerum accusantium ab, neque, illo sed velit?
      </p>
      <div class="grid grid-cols-2 gap-6 mt-6">
        <button class="mb-2 inline-block rounded bg-[#a32116] text-white px-12 pt-4 pb-3.5 text-sm font-sembold uppercase leading-normal md:mr-2 md:mb-0">Katalógus</button>
        <button class="mb-2 inline-block rounded bg-[#a32116] text-white px-12 pt-4 pb-3.5 text-sm font-sembold uppercase leading-normal md:mr-2 md:mb-0">Árlista</button>
      </div>

    </div>
    <div class="w-full md:w-4/12 px-4 mr-auto ml-auto">
      <div
        class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6"
      >
        <img
          alt="..."
          src="../../assets/daru1.png"
          class="w-full align-middle rounded-t-lg"
        />
       
      </div>
    </div>
  </div>