@if(cranes){
    <section #addElement class="grid grid-cols-1 pb-8 gap-8 mx-10 md:grid-cols-2 md:mx-20 lg:grid-cols-3 lg:mx-20 xl:grid-cols-4 xl:mx-20">
        @for (crane of cranes; track crane.id){
            <p-card class="mt-2 lg:mt-10 shadow-xl transition duration-300 ease-in-out hover:scale-105">
                <ng-template pTemplate="header">
                    <img loading="eager" alt="Daru" [src]="crane.imgUrl"/>
                </ng-template>
                <div class="flex gap-2">
                    <p class="pb-4 text-base font-extrabold lg:text-xl text-[--palms-color]">{{crane.name}}</p>
                    <p-tag *ngIf="crane.id === 13" class="" [style]="{ 'background': 'var(--primary-color)'}" value="Újdonság"></p-tag>
                </div>
                <p class="block text-xs lg:text-base">Maximális kinyúlás: <span class="font-bold">{{crane.maxReach}}</span> m</p>
                <p class="block text-xs lg:text-base">Bruttó emelési erő 215 bar-nál: <span class="font-bold">{{crane.brutLiftingTorque215Bar}}</span> kNm</p>
                <p class="block text-xs lg:text-base">Bruttó emelési erő 190 bar-nál: <span class="font-bold">{{crane.brutLiftingTorque190Bar}}</span> kNm</p>
                <p class="block text-xs lg:text-base">Teleszkóp hossza: <span class="font-bold">{{crane.telescopeLength}}</span> m</p>
                <p class="block text-xs lg:text-base">Forgató munkahengerek száma: <span class="font-bold">{{crane.slewingCylinder}}</span> db</p>
                <p class="block text-xs lg:text-base">Forgatási erő: <span class="font-bold">{{crane.slewingTorque}}</span> kNm</p>
                <ng-template pTemplate="footer">
                    <div class="">
                        <button [disabled]="(palmsService.craneSelected$ | async)" [ngClass]="{'disabled': palmsService.craneSelected$ | async}"  (click)="buttonClickEmit(crane)"
                        class="rounded bg-[--primary-color] text-black font-bold uppercase hover:cursor-pointer hover:opacity-80 px-2 pt-4 pb-3.5 text-xs lg:text-sm lg:px-4 xl:px-12 relative">
                        Kiválaszt
                        </button>
    
                    </div>                                 
                </ng-template>
            </p-card>
        } 
        @empty {
            <p>Nem található daru</p>
        }
    </section>
}
