<app-navigation></app-navigation>
<google-map
    class="block mt-24 p-0 h-[calc(10% - 1000px)]"
    mapId="ad244940e0ece10e"
    [height]="height"
    width="100%"
    [center]="center"
    [zoom]="zoom">
        @for (markerPosition of markerPositions; track markerPosition.position; let idx = $index) {
        <map-marker
            #marker="mapMarker"
            [position]="markerPosition.position"
           
            (mapClick)="openInfoWindow(marker, idx)" />
        <map-info-window>{{ markerPosition.title }}</map-info-window>
        }

        <!-- @for (markerPosition2 of markerPositions2; track markerPosition2.position; let idx = $index) {
            <map-marker
                #marker="mapMarker"
                [position]="markerPosition2.position"
                [options]="markerOptions2"
                (mapClick)="openInfoWindow(marker, idx)" />
            <map-info-window>{{ markerPosition2.title }}</map-info-window>
            } -->
</google-map>