<footer class="relative bg-slate-200 pt-2 pb-6 lg:mt-0 xl:pt-40 w-12/12 mx-auto">
    <div
      class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20 h-20"
      style="transform: translateZ(0)"
    >
      <svg
        class="absolute bottom-0 overflow-hidden"
        xmlns="http://www.w3.org/2000/svg"
        preserveAspectRatio="none"
        version="1.1"
        viewBox="0 0 2560 100"
        x="0"
        y="0"
      >
      </svg>
    </div>
    <div class="container mx-auto px-4">
      <div class="flex flex-wrap text-center lg:text-left">
        <div class="w-full lg:w-6/12 px-4">
          <h4 class="text-3xl font-semibold mb-4 lg:mb-10">Röviden</h4>
          <p class="text-md mt-0 mb-2 text-blueGray-600">
            Földünk energiakészletei sajnos fogyóban vannak, de számos olyan közeg létezik, ahol energiát tudunk megtakarítani, illetve ahonnan lehetne energiát nyerni. Cégünk számára fontos, hogy minél több ilyen megoldást keressünk, találjunk és használjunk.
          </p>
          <div class="mt-6 lg:mb-0 mb-6">
            <button
                pButton
                pTooltip="Használtautó"
                tooltipPosition="bottom"
                class="bg-white text-orange-500 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2"
                type="button"
            >
                <i class="pi pi-car pt-1"></i>
            </button>
            <button
                pButton
                pTooltip="Jófogás"
                tooltipPosition="bottom"
                class="bg-white text-slate-400 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2"
                type="button"
            >
            <i class="pi pi-info pt-1"></i>
            </button>
            <button
                pButton
                pTooltip="Facebook"
                tooltipPosition="bottom"
                class="bg-white text-blue-400 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2"
                type="button"
            >
            <i class="pi pi-facebook pt-1"></i>
            </button>
            <button
                pButton
                pTooltip="Youtube"
                tooltipPosition="bottom"
                class="bg-white text-red-600 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2"
                type="button"
            >
            <i class="pi pi-youtube pt-1"></i>
            </button>
          </div>
        </div>

        <div class="w-full lg:w-6/12 px-4">
          <div class="flex flex-wrap items-top mb-6">
            <div class="w-full lg:w-4/12 px-4 ml-auto mb-6">
              <span
                class="block uppercase text-blueGray-500 text-sm font-bold lg:mb-12 mb-4"
              >
                Dokumentumok
              </span>
              <ul class="list-unstyled">
                <li>
                    <a
                      class="text-blueGray-600 hover:text-blueGray-800 font-medium block pb-2 text-sm"
                      href="https://www.creative-tim.com/bootstrap-themes/free?ref=na-footer"
                    >
                      ÁSZF
                    </a>
                  </li>
                <li>
                  <a
                    class="text-blueGray-600 hover:text-blueGray-800 font-medium block pb-2 text-sm"
                    href="https://www.creative-tim.com/presentation?ref=na-footer"
                  >
                    Adatvédelmi tájékoztató
                  </a>
                </li>
                <li>
                  <a
                    class="text-blueGray-600 hover:text-blueGray-800 font-medium block pb-2 text-sm"
                    href="https://blog.creative-tim.com?ref=na-footer"
                  >
                    Fogyasztói jogok
                  </a>
                </li>
                <li>
                  <a
                    class="text-blueGray-600 hover:text-blueGray-800 font-medium block pb-2 text-sm"
                    href="https://www.github.com/creativetimofficial?ref=na-footer"
                  >
                    Vásárlási feltételek
                  </a>
                </li>            
              </ul>
            </div>
            <div class="w-full lg:w-3/12 px-4 mx-auto text-center mb-5 lg:mb-0 bg">
                <span
                  class="block uppercase text-blueGray-500 text-sm font-bold lg:mb-12 mb-4"
                >
                  Nyitvatartás
                </span>
                <ul class="list-unstyled">
                    <li class="mb-2">
                      <p class="text-blueGray-600 hover:text-blueGray-800 block pb-2 text-sm">Hétfő - Péntek</p>
                      <p class="text-blueGray-600 hover:text-blueGray-800 block pb-2 text-sm">08:00 - 19:00</p>
                    </li>
                    <li class="mt-2">
                      <p class="text-blueGray-600 hover:text-blueGray-800 block pb-2 text-sm">Szombat</p>
                      <p class="text-blueGray-600 hover:text-blueGray-800 block pb-2 text-sm">08:00 - 17:00</p>
                    </li>
                    <li class="mt-2">
                        <p class="text-blueGray-600 hover:text-blueGray-800 block pb-2 text-sm">Vasárnap</p>
                        <p class="text-blueGray-600 hover:text-blueGray-800 block pb-2 text-sm">Zárva</p>
                      </li>
                  </ul>
              </div>
              <div class="w-full lg:w-5/12 px-4 mx-auto text-center mb-5 lg:mb-0">
                <span
                  class="block uppercase text-blueGray-500 text-sm font-bold lg:mb-12 mb-4"
                >
                  Elérhetőség
                </span>
                <ul class="list-unstyled">
                    <li class="flex gap-2 mb-2 justify-center">
                        <i class="pi pi-home"></i>
                        <p class="text-sm">2351 Alsónémedi, Somogyi B. u. 79.</p>
                    </li>
                    <li class="flex gap-2 mt-2 justify-center">
                        <i class="pi pi-phone"></i>
                        <p class="text-sm ">+36 30 681 1948 - GÉPEK</p>
                    </li>
                    <li class="flex gap-2 mt-2 justify-center">
                        <i class="pi pi-phone pt-1"></i>
                    <p class="text-sm">+36 70 337 333 - IRODA</p>
                      </li>
                  </ul>
              </div>
          </div>
        </div>
      </div>
      <hr class="lg:my-6 border-blueGray-300" />
      <div class="flex flex-wrap items-center md:justify-between justify-center">
        <div class="w-full md:w-4/12 px-4 mx-auto text-center">
          <div class="text-sm text-blueGray-500 font-semibold py-1">
            {{ date }} © Minden jog fenntartva
          </div>
        </div>
      </div>
    </div>
  </footer>