<footer class="relative bg-slate-300 pt-20 pb-6 lg:mt-0 xl:pt-40 w-12/12 mx-auto">
    <div
      class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20 h-20"
      style="transform: translateZ(0)"
    >
      <svg
        class="absolute bottom-0 overflow-hidden"
        xmlns="http://www.w3.org/2000/svg"
        preserveAspectRatio="none"
        version="1.1"
        viewBox="0 0 2560 100"
        x="0"
        y="0"
      >
      </svg>
    </div>
    <div class="container mx-auto px-4">
      <div class="flex flex-wrap text-center lg:text-left">
        <div class="w-full lg:w-6/12 px-4">
          <h4 class="text-3xl font-semibold mb-4 lg:mb-10">Röviden</h4>
          <p class="text-md mt-0 mb-2 text-blueGray-600">
            Nem titok, hogy Földünk energiakészletei fogyóban vannak, de sajnos manapság már nemcsak ezzel kell szembesülnünk, hanem azzal is, hogy napról napra olyan termékekkel találkozunk, olyan gépeket tudunk vásárolni, melyek rendkívül rövid ideig képesek azt a minőséget nyújtani, amelynek használatára tervezték és gyártották őket. Ezek a termékek már nem hosszú évekre, esetlegesen több generációra vannak megalkotva, hanem minimális időtávra. 
          </p>
          <p class="text-md mt-0 mb-2 text-blueGray-600">
            Cégünk olyan termékek forgalmazása mellett tette le voksát, melyeket hosszútávra terveztek, akár több generációt is kiszolgálhatnak, megfelelő karbantartás mellett haszálati idejük nem 1-2 évben mérhető,  ugyanakkor megvásárlásukkal olyan megbízható családi vállalkozásokat támogatunk, melyek több évtizedes múlttal rendelkeznek, akiknek fontos a vevői elégedettség és akik a fejlesztést a visszajelzések és felmért igények alapján végzik.
          </p>
          <div class="mt-6 lg:mb-0 mb-6">
            <a href="https://www.hasznaltauto.hu/partner/clear-globe_kft-11488" target="_blank">
              <button
              pButton
              pTooltip="Használtautó"
              tooltipPosition="bottom"
              class="bg-white text-orange-500 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2"
              type="button"
              >
                <i class="pi pi-car pt-1"></i>
              </button>
            </a>
            <a href="https://www.jofogas.hu/pest/alsonemedi?q=erdeszeti" target="_blank">
              <button
              pButton
              pTooltip="Jófogás"
              tooltipPosition="bottom"
              class="bg-white text-slate-400 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2"
              type="button"
              >
                <i class="pi pi-info pt-1"></i>
              </button>
            </a>
            <a href="https://www.facebook.com/clearglobekft/?locale=hu_HU" target="_blank">
              <button
              pButton
              pTooltip="Facebook"
              tooltipPosition="bottom"
              class="bg-white text-blue-400 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2"
              type="button"
              >
                <i class="pi pi-facebook pt-1"></i>
              </button>
            </a>
            <a href="https://www.youtube.com/watch?v=aFYZUp4HCi0" target="_blank">
              <button
              pButton
              pTooltip="Youtube"
              tooltipPosition="bottom"
              class="bg-white text-red-600 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2"
              type="button"
              >
                <i class="pi pi-youtube pt-1"></i>
              </button>
            </a>
          </div>
        </div>

        <div class="w-full lg:w-6/12 px-4">
          <div class="flex flex-wrap items-top mb-6">
            <div class="w-full lg:w-4/12 px-4 ml-auto mb-6">
              <span
                class="block uppercase text-blueGray-500 text-sm font-bold lg:mb-12 mb-4"
              >
                Dokumentumok
              </span>
              <ul class="list-unstyled">
                <li>
                    <a
                      href="https://www.clear-globe.com/aszf/" target="_blank"
                      class="text-blueGray-600 hover:text-blueGray-800 font-bold hover:opacity-85 block pb-2 text-sm"
                    >
                    <p class="text-black group relative w-max">
                      <span class="text-blueGray-600 font-bold hover:text-blueGray-800">ÁSZF</span>
                      <span class="absolute -bottom-1 left-0 w-0 transition-all h-0.5 bg-[--primary-color] group-hover:w-full"></span>
                    </p>
                    </a>
                  </li>
                <li>
                  <a
                    href="https://www.clear-globe.com/adatvedelmi-tajekoztato/" target="_blank"
                    class="text-blueGray-600 hover:text-blueGray-800 font-bold hover:opacity-85 block pb-2 text-sm"
                  >
                  <p class="text-black group relative w-max">
                    <span class="text-blueGray-600 font-bold hover:text-blueGray-800">Adatvédelmi tájékoztató</span>
                    <span class="absolute -bottom-1 left-0 w-0 transition-all h-0.5 bg-[--primary-color] group-hover:w-full"></span>
                  </p>
                  </a>
                </li>
                <li>
                  <a
                    href="https://www.clear-globe.com/fogyasztoi-jogok/" target="_blank"
                    class="text-blueGray-600 hover:text-blueGray-800 font-bold hover:opacity-85 block pb-2 text-sm"
                  >
                  <p class="text-black group relative w-max">
                    <span class="text-blueGray-600 font-bold hover:text-blueGray-800"> Fogyasztói jogok</span>
                    <span class="absolute -bottom-1 left-0 w-0 transition-all h-0.5 bg-[--primary-color] group-hover:w-full"></span>
                  </p>
                  </a>
                </li>           
              </ul>
            </div>
            <div class="w-full lg:w-3/12 px-4 mx-auto text-center mb-5 lg:mb-0 bg">
                <span
                  class="block uppercase text-blueGray-500 text-sm font-bold lg:mb-12 mb-4"
                >
                  Nyitvatartás
                </span>
                <ul class="list-unstyled">
                    <li class="mb-2">
                      <p class="text-blueGray-600 hover:text-blueGray-800 block pb-2 text-sm"><span class="font-bold">Hétfő - Péntek</span></p>
                      <p class="text-blueGray-600 hover:text-blueGray-800 block pb-2 text-sm">08:00 - 17:00</p>
                    </li>
                    <li class="mt-2">
                      <p class="text-blueGray-600 hover:text-blueGray-800 block pb-2 text-sm"><span class="font-bold">Szombat</span></p>
                      <p class="text-blueGray-600 hover:text-blueGray-800 block pb-2 text-sm">08:00 - 12:00</p>
                    </li>
                    <li class="mt-2">
                        <p class="text-blueGray-600 hover:text-blueGray-800 block pb-2 text-sm"><span class="font-bold">Vasárnap</span></p>
                        <p class="text-blueGray-600 hover:text-blueGray-800 block pb-2 text-sm">Zárva</p>
                      </li>
                  </ul>
              </div>
              <div class="w-full lg:w-5/12 px-4 mx-auto text-center mb-5 lg:mb-0">
                <span
                  class="block uppercase text-blueGray-500 text-sm font-bold lg:mb-12 mb-4"
                >
                  Elérhetőség
                </span>
                <ul class="list-unstyled">
                    <li class="flex gap-2 mb-6 xl:mb-4 justify-center">
                        <i class="pi pi-home"></i>
                        <p class="text-sm">2351 <b>Alsónémedi</b>, Somogyi B. u. 79.</p>
                    </li>
                    <li>
                      <a class="flex gap-2 mb-10 xl:mb-4 justify-center" href="tel:+36306811948">
                        <i class="pi pi-phone"></i>
                        <p class="text-sm"><span class="underline xl:no-underline">+36 30 681 1948</span><span class="font-bold"> - GÉPEK</span></p>
                      </a>
                    </li>
                    <li>
                      <a class="flex gap-2 mb-10 xl:mb-4 justify-center" href="tel:+36703373334">
                        <i class="pi pi-phone pt-1"></i>
                        <p class="text-sm"><span class="underline xl:no-underline">+36 70 337 3334</span><span class="font-bold"> - IRODA</span></p>
                      </a>
                    </li>
                    <li>
                      <a class="flex gap-2 mt-2 xl:mt-4 justify-center">
                        <i class="pi pi-envelope pt-1"></i>
                        <p class="text-sm"><span class="">{{ 'info@clear-globe.com' }}</span></p>
                      </a>
                    </li>
                  </ul>
              </div>
          </div>
        </div>
      </div>
      <hr class="lg:my-6 border-blueGray-300" />
      <div class="flex flex-wrap items-center md:justify-between justify-center">
        <div class="w-full md:w-4/12 px-4 mx-auto text-center">
          <div class="flex text-center justify-center gap-2">
            <p class="text-sm text-blueGray-500 font-semibold py-1">{{ date }} © Minden jog fenntartva</p>
          </div>
        </div>
      </div>
    </div>
  </footer>