<app-navigation></app-navigation>
<main class="container mt-24 mx-auto w-11/12">
    <section class="py-8">
        <div class="mt-6">
            <h1 class="xl:text-3xl font-bold mb-6">
                A-típusú támasztó lábak
            </h1>      
            <p class="mb-6 leading-loose">
                Az A-típusú támasztólábak, mint például a PALMS B2.1 és B3, egyenletesebb terepen működnek a legjobban. Az A-típusú támasztólábak előnyben részesítése az alacsonyabb ár és az egyszerűbb felépítés.
            </p>
          
            <h1 class="xl:text-3xl font-bold mb-6">
                FD-típusú támasztó lábak
            </h1>      
            <p class="mb-6 leading-loose">
                A lehajtható (FD) típusú támasztólábak, mint a PALMS B4e, B6.1, B9 és B11, jobban megfelelnek egyenetlenebb terepen. Ezek a támasztólábak szögletes mozdulattal lefelé mozognak, nagyobb stabilitást és hosszabb lábnyúlást biztosítva az A-típusú alternatívákhoz képest.
            </p>
          
            <h1 class="xl:text-3xl font-bold mb-6">
                Lábak nélküli darutalpak
            </h1>      
            <p class="mb-6 leading-loose">
                A B09 és B011 darutalpakat kifejezetten Y-típusú vonórúddal felszerelt pótkocsikhoz tervezték. Mivel az Y-típusú vonórúddal rendelkező PALMS rönkpótkocsik nem igényelnek támasztó lábakat a rakodás során, ez a kombináció csökkenti a rakodóhelyek közötti mozgáshoz szükséges időt, mivel nincs szükség a támasztólábak le- és felemelésére.
            </p>

            <h1 class="xl:text-3xl font-bold mb-6">
                Dönthető támasztó lábak
            </h1>      
            <p class="mb-6 leading-loose">
                A billenthető támasztólábakat egyenetlen terepen, például lejtőkön és dombokon történő rakodásra tervezték. Lehetővé teszik a felhasználók számára a daru oszlopszögének beállítását elölről hátrafelé. A billentési funkció PALMS B011 darutalpban és PALMS B11 FD típusú támasztólábakban érhető el.
            </p>
            
        </div>
    </section>
    <section class="bg-slate-200">
        <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
            <div class="mx-auto max-w-screen-sm text-center">
                <h2 class="mb-4 text-4xl tracking-tight font-extrabold leading-tight text-gray-900 dark:text-white">Kalkuláljon támasztó lábat darujához!</h2>
                <button (click)="navigateToCalculation()" class="rounded bg-[--primary-color] text-black font-bold uppercase hover:cursor-pointer hover:opacity-80 px-2 pt-4 pb-3.5 text-xs lg:text-sm lg:px-4 xl:px-12 relative">Kalkulátor</button>
            </div>
        </div>
    </section>
</main>
<app-footer></app-footer>