<p-dialog class="dialog" header="Header" [(visible)]="boomGuardDialogVisible" [modal]="true" [style]="{ width: '50rem' }" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [draggable]="false" [resizable]="false" (onHide)="closeBoomGuardDialog()">
    <ng-template pTemplate="header">
        <div class="inline-flex align-items-center justify-content-center gap-2">
            <span class="font-bold white-space-nowrap"></span>
        </div>
    </ng-template>
        <div class="mb-20">     
            <p class="mt-12 mb-10 text-2xl font-semibold">
                {{boomGuard.name}}
            </p>        
            <p class="mt-6 mb-10 text-lg">Megvédi a daru fő gémet a biztonsági ráccsal vagy más tárgyakkal való ütközés esetén.</p>          
            <img class="mb-14" [src]="boomGuard.imgUrl" alt="Boom Guard">
        </div>   
    <ng-template pTemplate="footer">
      <button class="bg-primary-color p-1 mt-2" (click)="closeBoomGuardDialog()"><i class="fa-solid fa-check mr-1"></i>Értem</button>  
    </ng-template>
</p-dialog>