<app-navigation></app-navigation>
<main class="bg-slate-200 mt-24">
    <section>
        <div class="gap-8 items-center py-8 px-4 mx-auto max-w-screen-xl xl:gap-16 md:grid md:grid-cols-2 sm:py-16 lg:px-6">
            <div class="mt-4 md:mt-0">
                <h2 class="mb-4 text-4xl tracking-tight font-semibold">ÁTK Pályázat</h2>
                <p class="mb-6 leading-loose md:text-lg">Végre megjelent a szövege az <span class="font-bold text-xl">Állattartó telepek korszerűsítése</span> pályázat tervezetének, ráadásul nem is egy, egyből <span class="font-bold">két támogatás</span> keretében lehet állattartásra pályázni!</p>
                <p class="mb-6 leading-loose md:text-lg">Mindkét pályázatban azok a mezőgazdasági termelők pályázhatnak, akik a támogatási kérelem benyújtását megelőző (vagy amennyiben erre vonatkozóan nem rendelkeznek adatokkal, az azt megelőző) teljes lezárt üzleti évben <span class="font-bold">legalább 10 000 euró STÉ üzemmérettel rendelkeznek</span> – ezt ide kattintva tudod ellenőrizni: <a href="https://palyaz.hu/ste-kalkulator/"><span class="font-bold underline">STÉ kalkulátor</span></a> – illetve az adott évben az <span class="font-bold">árbevételük legalább 40%-a mezőgazdasági tevékenységből származott.</span></p>
                <p class="mb-6 leading-loose md:text-lg">A két pályázat szinte párhuzamosan fut majd egymás mellett!</p>
                <p class="mb-6 leading-loose md:text-lg"><a href="https://kap.gov.hu/tarsadalmasitas/kap-rd01a-rd01c-rd01d-rd01e-1-24-allattarto-telepek-fejlesztesenek-tamogatasa-1980" target="_blank"><span class="font-bold underline">KAP-RD01a-RD01c-RD01d-RD01e-1-24</span></a> Állattartó telepek fejlesztésének támogatása</p>
                <p class="mb-6 leading-loose md:text-lg"><a href="https://kap.gov.hu/tarsadalmasitas/kap-rd01a-rd01c-rd01d-rd01e-2-24-allattarto-telepek-megujitasanak-tamogatasa-1979" target="_blank"><span class="font-bold underline">KAP-RD01a-RD01c-RD01d-RD01e-2-24</span></a> Állattartó telepek megújításának támogatása</p>
                <p class="mb-6 leading-loose text-sm italic">Forrás: Agroinform.hu, Kap.gov.hu, Palyaz.hu</p>
            </div>
            <img class="w-full" src="../../../../assets/atk-summary-overview.png" alt="ÁTK">
        </div>
    </section>
</main>
<app-footer></app-footer>