<app-navigation></app-navigation>
<main class="bg-slate-200 mt-24 pt-2">
    <section>
        <div class="gap-8 items-center py-8 px-4 mx-auto max-w-screen-xl">
            <div class="mt-4 md:mt-0">
                <h2 class="mb-4 text-4xl tracking-tight font-semibold">ÁTK Pályázat</h2>
                <p class="mb-6 leading-loose md:text-lg">Végre megjelent az <span class="font-bold text-xl">Állattartó telepek korszerűsítése</span> pályázat. Ráadásul nem is egy, egyből <span class="font-bold">két támogatás</span> keretében lehet állattartásra pályázni!</p>
                <p class="mb-6 leading-loose md:text-lg">Mindkét pályázatban azok a mezőgazdasági termelők pályázhatnak, akik a támogatási kérelem benyújtását megelőző (vagy amennyiben erre vonatkozóan nem rendelkeznek adatokkal, az azt megelőző) teljes lezárt üzleti évben <span class="font-bold">legalább 10 000 euró STÉ üzemmérettel rendelkeznek</span> – ezt ide kattintva tudod ellenőrizni: <a href="https://palyaz.hu/ste-kalkulator/"><span class="font-bold underline">STÉ kalkulátor</span></a> – illetve az adott évben az <span class="font-bold">árbevételük legalább 40%-a mezőgazdasági tevékenységből származott.</span></p>
                <p class="mb-6 leading-loose md:text-lg">A két pályázat szinte párhuzamosan fut majd egymás mellett!</p>
                <p class="mb-6 leading-loose md:text-lg"><a href="https://kap.gov.hu/tarsadalmasitas/kap-rd01a-rd01c-rd01d-rd01e-1-24-allattarto-telepek-fejlesztesenek-tamogatasa-1980" target="_blank"><span class="font-bold underline">KAP-RD01a-RD01c-RD01d-RD01e-1-24</span></a> Állattartó telepek fejlesztésének támogatása</p>
                <p class="mb-6 leading-loose md:text-lg"><a href="https://kap.gov.hu/tarsadalmasitas/kap-rd01a-rd01c-rd01d-rd01e-2-24-allattarto-telepek-megujitasanak-tamogatasa-1979" target="_blank"><span class="font-bold underline">KAP-RD01a-RD01c-RD01d-RD01e-2-24</span></a> Állattartó telepek megújításának támogatása</p>
                <p class="mb-16 leading-loose text-sm italic">Forrás: Agroinform.hu, Kap.gov.hu, Palyaz.hu</p>

                <h2 class="mb-4 text:xl xl:text-3xl tracking-tight font-bold">Készítsen előzetes felmérést nálunk 3 lépésben!</h2>
                <div class="flex gap-4 my-6">
                    <p class="mb-6 leading-loose md:text-lg"><span class="font-bold text-base xl:text-xl">1,</span> A szükséges dokumentumot töltse le, majd töltse ki:</p>
                    <p-button 
                    class="bg-blue-500 text-white p-1 rounded-lg px-2 py-2 xl:px-4 xl:py-5"
                        label="Letöltés" 
                        icon="pi pi-download"
                        (click)="download()"/>
                </div>

                <div class="flex gap-4 my-6">
                    <p class="mb-6 leading-loose md:text-lg"><span class="font-bold text-base xl:text-xl">2,</span> A kitöltött dokumentumot töltse fel:</p>
                    <p-fileUpload 
                    mode="basic" 
                    [auto]="true"
                    [chooseLabel]="this.fileName ?? 'Feltöltés'"
                    chooseIcon="pi pi-upload"
                    name="demo[]" 
                    url="https://www.primefaces.org/cdn/api/upload.php" 
                    accept="{{acceptedFiles}}"
                    maxFileSize="1000000" 
                    (onUpload)="onBasicUploadAuto($event)" />
                </div>

                <div class="flex gap-4 my-6">
                    <p class="mb-6 leading-loose md:text-lg"><span class="font-bold text-base xl:text-xl">3,</span> Küldje el a dokumentumot (csak sikeres feltöltés után aktív)</p>
                    <button
                    (click)="onSubmit()"
                    [disabled]="!fileAdded"
                    [ngClass]="{'disabled': !fileAdded}"
                    class="px-4 py-2 xl:px-10 xl:py-5 bg-[--primary-color] text-sm font-bold hover:opacity-80 uppercase rounded shadow outline-none focus:outline-none"
                    type="button"
                    style="transition: all 0.15s ease 0s;"
                    >
                        Küldés
                    </button>
                </div>

            </div>
        </div>
    </section>
</main>
<p-toast position="bottom-center" key="file"></p-toast>
<app-footer></app-footer>