<app-navigation></app-navigation>
<main class="bg-slate-200 mt-18 pt-2">
    <section>
        <div class="gap-8 items-center py-8 px-4 mx-auto max-w-screen-xl">
            <div class="mt-4 md:mt-0 py-28">
                <h2 class="mb-4 text-md lg:text-3xl xl:text-5xl tracking-tight font-semibold underline">GINOP Plusz-1.2.4-24 Pályázat</h2>

                <h1 class="mb-4 text-md lg:text-2xl xl:text-3xl tracking-tight font-semibold">Mikro- és kisvállalkozások támogatása a leghátrányosabb helyzetű régiókban, illetve a
                    Szabad Vállalkozási Zónákban</h1>

                    <div class="bg-gray-300 p-6 border-2 rounded-lg">
                        <h1 class="mb-4 mt-10 text-md lg:text-lg xl:text-2xl tracking-tight font-semibold">A GINOP Plusz-1.2.4-24 pályázat keretein belül:</h1>
                        <ul class="list-disc gap-2">
                            <li class="my-4 ml-10 text-sm md:text-base lg:text-lg">
                                Új eszközök, gépek beszerzéséhez, továbbá új technológiai rendszerek és
                                kapacitások kialakításához lehet támogatás szerezni. Ezek önmagukban is
                                támogatható tevékenységek,
                            </li>
                            <li class="my-4 ml-10 text-sm md:text-base lg:text-lg">
                                Melyek mellett kötelezően megvalósítható, de nem támogatható tevékenységek is
                                pályázhatók, úgymint a projekt előkészítése és megvalósítása, projektmenedzsment,
                                általános rezsiköltségek, tanácsadási szolgáltatások, kötelező tájékoztatás és
                                nyilvánossági költségek, horizontális tevékenységek költségei,
                            </li>
                            <li class="my-4 ml-10 text-sm md:text-base lg:text-lg">
                                Ugyanakkor választható, önállóan nem támogatható tevékenységek is pályázhatnak,
                                többek között ingatlan beruházás, korszerűsítés (kivéve új építés), illetőleg
                                információs technológia fejlesztése (akár üzleti felhőszolgáltatások).
                            </li>
                        </ul>
                    </div>
                
                <h1 class="mb-4 mt-4 tracking-tight">Ezek ugyan nem azonos nagyságban támogathatóak, mégis <span class="font-bold">érdemes</span> akár <span class="font-bold">minden területen pályázni.</span></h1>

                <h1 class="mb-1 mt-10 tracking-tight font-bold text-sm md:text-base lg:text-xl">Pályázók köre:</h1>
                <h1 class="mb-4 tracking-tight ml-6">Elsősorban a gazdaságilag nehezebb helyzetű, fejlődni vágyó mikro- és kisvállalkozások Magyarország dél-alföldi, dél-dunántúli, észak-alföldi, észak-magyarországi régióiból, valamint a Szabad Vállalkozási Zónák települése. A pályázó nem tartozhat a KATA hatálya alá és legalább 1 lezárt üzleti évvel kell rendelkeznie amellett, hogy minimum 1 fő átlagos állományi létszámot tart fenn. Kikötés még, hogy a pályázó cég árbevételének maximum 50 %-a származhat mezőgazdasági tevékenységből, és itt lesznek meghatározott TEÁOR-kódok is.</h1>

                <h1 class="mb-1 mt-10 tracking-tight font-bold text-sm md:text-base lg:text-xl">Keretösszeg:</h1>
                <h1 class="mb-4 tracking-tight ml-6">50 milliárd forint</h1>

                <h1 class="mb-1 mt-10 tracking-tight font-bold text-sm md:text-base lg:text-xl">Támogatás mértéke:</h1>
                <h1 class="mb-4 tracking-tight ml-6">50%</h1>

                <h1 class="mb-1 mt-10 tracking-tight font-bold text-sm md:text-base lg:text-xl">Előleg:</h1>
                <h1 class="mb-4 tracking-tight ml-6">Van lehetőség a támogatás összegének 25 %-át előlegként igényelni.</h1>

                <h1 class="mb-1 mt-10 tracking-tight font-bold text-sm md:text-base lg:text-xl">Igényelhető támogatás összege:</h1>
                <h1 class="mb-4 tracking-tight ml-6">Minimum 5 millió Ft, maximum 30 millió Ft, mindez vissza nem térítendő formában.</h1>

                <h1 class="mb-1 mt-10 tracking-tight font-bold text-sm md:text-base lg:text-xl">Pályázat beadási határideje:</h1>
                <h1 class="mb-4 tracking-tight ml-6">A benyújtás 2025. január 14-től 2026. január 12. között lehetséges.</h1>

                <h1 class="mb-1 mt-10 tracking-tight font-bold text-sm md:text-base lg:text-xl">A megvalósítás időszaka:</h1>
                <h1 class="mb-4 tracking-tigh ml-6">A beruházás, fejlesztés 18 hónap alatt valósítandó meg, azzal a feltétellel, hogy a kedvezményezett vállalja, hogy a projektet a befejezést követően minimum 3 évig fenntartja.</h1>

                <h1 class="mt-10 lg:mt-20 mb-10 tracking-tight text-sm md:text-base lg:text-lg bg-gray-300 border-2 rounded-lg p-4">Azt gondoljuk, hogy ezen pályázat több olyan vállalkozásnak biztosít lehetőséget, amelyeknek van igénye és kapacitása arra, hogy fejlesszék és modernizálják  a  tevékenységükhöz szükséges eszközparkjukat, mely által versenyképességük és ezáltal bevételük és foglalkoztatási kapacitásuk is növelhető.</h1>
   
                <h2 class="mt-10 lg:mt-20 text:xl xl:text-3xl tracking-tight font-bold">Készítsen előzetes felmérést nálunk!</h2>

                <h2 class="mt-10 text:sm md:text-base lg:text-lg xl:text-xl tracking-tight font-semibold">Kérjük, <span class="font-bold">töltse ki az alábbi mezőket</span>, majd  <span class="font-bold">kattintson a "Küldés" gombra</span>. Mi továbbítjuk az adatokat <span class="font-bold">pályázatíró kollégánk</span>nak, aki hamarosan <span class="font-bold">felveszi Önnel a kapcsolatot</span> a megadott elérhetőségei egyikén.</h2>

                <form [formGroup]="formGroup">
                    <div class="w-full mb-3 mt-8">
                        <div class="flex gap-4">
                            <label class="text-xs lg:text-base mb-2" for="name">Név</label>
                            @if (f['name'].errors) {  
                            @if (f['name'].errors['required'] && f['name'].touched) {
                                <p class="block text-red-500 text-xs lg:text-base mb-2">Kérem adja meg a nevét!</p>
                            }
                            }
                        </div> 
                        <input
                            type="text"
                            name="name"
                            formControlName="name"
                            class="border-0 px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full"
                            placeholder="Kérem adja meg a nevét..."
                            style="transition: all 0.15s ease 0s;"
                        />                             
                        </div>
    
                        <!-- EMAIL -->
                        <div class="w-full mb-3">
                            <div class="flex gap-4">
                                <label class="text-xs lg:text-base mb-2" for="email">Email</label>
                                @if (f['email'].errors) {  
                                @if (f['email'].errors['required'] && f['email'].touched) {
                                    <p class="block text-red-500 text-xs lg:text-base mb-2">Kérem adja meg az e-mail címét!</p>
                                }           
                                @if (f['email'].errors['pattern'] && f['email'].touched) {
                                    <p class="block text-red-500 text-xs lg:text-base mb-2">Kérem valós e-mail címet adjon meg!</p>
                                }                        
                                }      
                            </div>
                            <input
                                type="email"
                                name="email"
                                formControlName="email"
                                pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
                                class="border-0 px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full"
                                placeholder="Kérem adja meg az e-mail címét..."
                                style="transition: all 0.15s ease 0s;"
                            />
                        </div>

                        <!-- PHONE -->
                         <div class="flex-none md:flex gap-6">
                            <div class="mb-3">
                                <div class="flex gap-4">
                                    <label class="text-xs lg:text-base mb-2" for="email">Országhívószám</label>
                                    @if (f['countryCode'].errors) {  
                                        @if (f['countryCode'].errors['required'] && f['countryCode'].touched) {
                                            <p class="block text-red-500 text-xs lg:text-base mb-2">Kérem adja meg az országhívószámot</p>
                                        }                         
                                    }
                                </div>
                                <p-dropdown [options]="countries" [virtualScroll]="true"
                                [virtualScrollItemSize]="38" (onChange)="handleCountryChange($event)" 
                                optionLabel="name"
                                [filter]="true" filterBy="name" [showClear]="true" 
                                placeholder="..."
                                [style]="{ minWidth: '20rem', maxWidth: '25rem' }"
                                formControlName="countryCode">
                                    <ng-template pTemplate="selectedItem">
                                        <div class="flex align-items-center gap-2" *ngIf="selectedCountry">
                                            <div>
                                                <p class="text-xs sm:text-sm md:text-base">{{ selectedCountry.code }}</p>
                                            </div>
                                        </div>
                                    </ng-template>
                                    <ng-template let-country pTemplate="item">
                                        <div class="flex align-items-center gap-2">
                                            <div>
                                                <p class="text-xs sm:text-sm md:text-base">{{ country.name + ' ' + country.code }}</p>
                                            </div>
                                        </div>
                                    </ng-template>
                                </p-dropdown>
                            </div>
                            <div class="mb-3">
                                <div class="flex gap-4">
                                    <label class="text-xs lg:text-base mb-2" for="email">Telefonszám</label>
                                    <div [style]="{ minWidth: '10rem', maxWidth: '20rem' }">
                                        @if (f['phoneNumber'].errors) {  
                                            @if (f['phoneNumber'].errors['required'] && f['phoneNumber'].touched) {
                                                <p class="block text-red-500 text-xs lg:text-base mb-2">Kérem adja meg a telefonszámát!</p>
                                            }                      
                                        }
                                    </div>
                                </div>
                                <input
                                    type="number"
                                    name="phoneNumber"
                                    formControlName="phoneNumber"
                                    class="border-0 px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full"
                                    placeholder="Pl.: 301234567"
                                    style="transition: all 0.15s ease 0s;"
                                />
                            </div>
                         </div>

                    <div class="my-10">
                        <p-dropdown
                        [style]="{'minWidth':'100%'}"
                            [options]="businessForms"
                            [showClear]="true"
                            optionLabel="name"
                            placeholder="Válasszon vállalkozási formát!"
                            formControlName="businessForm"
                            inputId="businessForm" />
                    </div>

                    <div class="mb-10">
                        <h1 class="">Az alábbi helyek valamelyikén van bejegyezve vállalkozása</h1>
                        <div *ngFor="let category of categories" class="field-checkbox">
                            <p-radioButton 
                                [inputId]="category.name" 
                                name="category" 
                                [value]="category" 
                                formControlName="category" />
                            <label [for]="category.name" class="ml-2">
                                {{ category.name }}
                            </label>
                        </div>
                    </div>
                    
                    <div class="mb-10">
                        <h1 class="">Ön KATA hatálya alá tartozik?</h1>
                        <div class="mb-6" *ngFor="let kata of katas" class="field-checkbox">
                            <p-radioButton 
                                [inputId]="kata.name" 
                                name="kata" 
                                [value]="kata" 
                                formControlName="kata" />
                            <label [for]="kata.name" class="ml-2">
                                {{ kata.name }}
                            </label>
                        </div>
                        <div *ngIf="formGroup.get('kata')?.errors?.['kataError']">
                            <p class="text-red-500">Pályázatnak megfelelő válasz: 'Nem'</p>
                        </div>
                        
                    </div>

                    <div class="mb-10">
                        <h1 class="mb-2">Rendelkezik 1 lezárt üzleti évvel?</h1>
                        <div class="" *ngFor="let businessYear of businessYears" class="field-checkbox">
                            <p-radioButton 
                                [inputId]="businessYear.name" 
                                name="businessYear" 
                                [value]="businessYear" 
                                formControlName="businessYear" />
                            <label [for]="businessYear.name" class="ml-2">
                                {{ businessYear.name }}
                            </label>
                        </div>
                        <div *ngIf="formGroup.get('businessYear')?.errors?.['businessYearError']">
                            <p class="text-red-500">Pályázatnak megfelelő válasz: 'Igen'</p>
                        </div>
                    </div>

                    <div class="mb-10">
                        <h1 class="mb-2">Átlatos statisztikai létszáma min. 1 fő?</h1>
                        <div class="" *ngFor="let manPower of manPowers" class="field-checkbox">
                            <p-radioButton 
                                [inputId]="manPower.name" 
                                name="manPower" 
                                [value]="manPower" 
                                formControlName="manPower" />
                            <label [for]="manPower.name" class="ml-2">
                                {{ manPower.name }}
                            </label>
                        </div>
                        <div *ngIf="formGroup.get('manPower')?.errors?.['manPowerError']">
                            <p class="text-red-500">Pályázatnak megfelelő válasz: 'Igen'</p>
                        </div>
                    </div>

                    <div class="mb-10">
                        <h1 class="mb-2">A cég árbevételének hány százaléka származik mezőgazdasági tevékenységből?</h1>
                        <input 
                            pKeyFilter="int"
                            class="w-full h-10" type="text" pInputText formControlName="revenue" pKeyFilter="int"/>
                        <div *ngIf="formGroup.get('revenue')?.errors?.['revenueError']">
                            <p class="text-red-500">Pályázatnak megfelelő válasz: 'Maximum 50%'</p>
                        </div>
                    </div>

                    <div class="mb-10">
                        <h1 class="mb-2">Megjegyzés</h1>
                        <textarea 
                        class="w-full"
                            [autoResize]="true"
                            rows="5" 
                            cols="30" 
                            pInputTextarea 
                            formControlName="message">
                        </textarea>
                    </div>

                    <div class="text-center">
                        <button
                        (click)="send()"
                        [disabled]="formGroup.invalid"
                        [ngClass]="{'disabled': formGroup.invalid}"
                        class="px-8 py-4 lg:px-20 lg:py-8 bg-[--primary-color] text-sm font-bold hover:opacity-80 uppercase rounded shadow outline-none focus:outline-none"
                        type="button"
                        style="transition: all 0.15s ease 0s;"
                    >
                        Küldés
                    </button>
                    </div>
                   
                </form>
                
                <!-- <p class="mb-6 leading-loose md:text-lg">Végre megjelent az <span class="font-bold text-xl">Állattartó telepek korszerűsítése</span> pályázat. Ráadásul nem is egy, egyből <span class="font-bold">két támogatás</span> keretében lehet állattartásra pályázni!</p>
                <p class="mb-6 leading-loose md:text-lg">Mindkét pályázatban azok a mezőgazdasági termelők pályázhatnak, akik a támogatási kérelem benyújtását megelőző (vagy amennyiben erre vonatkozóan nem rendelkeznek adatokkal, az azt megelőző) teljes lezárt üzleti évben <span class="font-bold">legalább 10 000 euró STÉ üzemmérettel rendelkeznek</span> – ezt ide kattintva tudod ellenőrizni: <a href="https://palyaz.hu/ste-kalkulator/"><span class="font-bold underline">STÉ kalkulátor</span></a> – illetve az adott évben az <span class="font-bold">árbevételük legalább 40%-a mezőgazdasági tevékenységből származott.</span></p>
                <p class="mb-6 leading-loose md:text-lg">A két pályázat szinte párhuzamosan fut majd egymás mellett!</p>
                <p class="mb-6 leading-loose md:text-lg"><a href="https://kap.gov.hu/tarsadalmasitas/kap-rd01a-rd01c-rd01d-rd01e-1-24-allattarto-telepek-fejlesztesenek-tamogatasa-1980" target="_blank"><span class="font-bold underline">KAP-RD01a-RD01c-RD01d-RD01e-1-24</span></a> Állattartó telepek fejlesztésének támogatása</p>
                <p class="mb-6 leading-loose md:text-lg"><a href="https://kap.gov.hu/tarsadalmasitas/kap-rd01a-rd01c-rd01d-rd01e-2-24-allattarto-telepek-megujitasanak-tamogatasa-1979" target="_blank"><span class="font-bold underline">KAP-RD01a-RD01c-RD01d-RD01e-2-24</span></a> Állattartó telepek megújításának támogatása</p>
                <p class="mb-16 leading-loose text-sm italic">Forrás: Agroinform.hu, Kap.gov.hu, Palyaz.hu</p>

                <h2 class="mb-4 text:xl xl:text-3xl tracking-tight font-bold">Készítsen előzetes felmérést nálunk 3 lépésben!</h2>
                <div class="flex gap-4 my-6">
                    <p class="mb-6 leading-loose md:text-lg"><span class="font-bold text-base xl:text-xl">1,</span> A szükséges dokumentumot töltse le, majd töltse ki:</p>
                    <p-button 
                    class="bg-blue-500 text-white p-1 rounded-lg px-2 py-2 xl:px-4 xl:py-5"
                        label="Letöltés" 
                        icon="pi pi-download"
                        (click)="download()"/>
                </div>

                <div class="flex gap-4 my-6">
                    <p class="mb-6 leading-loose md:text-lg"><span class="font-bold text-base xl:text-xl">2,</span> A kitöltött dokumentumot töltse fel:</p>
                    <p-fileUpload 
                    mode="basic" 
                    [auto]="true"
                    [chooseLabel]="this.fileName ?? 'Feltöltés'"
                    chooseIcon="pi pi-upload"
                    name="demo[]" 
                    url="https://www.primefaces.org/cdn/api/upload.php" 
                    accept="{{acceptedFiles}}"
                    maxFileSize="1000000" 
                    (onUpload)="onBasicUploadAuto($event)" />
                </div>

                <div class="flex gap-4 my-6">
                    <p class="mb-6 leading-loose md:text-lg"><span class="font-bold text-base xl:text-xl">3,</span> Küldje el a dokumentumot (csak sikeres feltöltés után aktív)</p>
                    <button
                    (click)="onSubmit()"
                    [disabled]="!fileAdded"
                    [ngClass]="{'disabled': !fileAdded}"
                    class="px-4 py-2 xl:px-10 xl:py-5 bg-[--primary-color] text-sm font-bold hover:opacity-80 uppercase rounded shadow outline-none focus:outline-none"
                    type="button"
                    style="transition: all 0.15s ease 0s;"
                    >
                        Küldés
                    </button>
                </div> -->

            </div>
            <h1 class="mb-4 tracking-tigh">Forrás:<a class="text-blue-500 hover:text-blue-300" target="_blank" href="https://www.palyazat.gov.hu/palyazatok/tarsadalmi-egyeztetes/sztp-tarsdalmi-egyeztetes?category=ginop-plusz&topic=ginop-plusz-1.2.4-24-mikro-es-kisvallalkozasok-tamogatasa-a-leghatranyosabb-helyzetu-regiokban-illetve-a-szabad-vallalkozasi-zonakban&subjectFilter=all&order=-1&currentPage=1&pageSize=6">palyazat.gov.hu</a></h1>
        </div>
    </section>
</main>
<p-toast position="bottom-center" key="comp"></p-toast>
<app-footer></app-footer>