@if(trailer){
    <div class="w-full mx-auto pt-32">
        <div class="xl:flex xl:flex-wrap mx-10">
            <div class="basis-1/3 mb-20">
                <p class="font-extrabold text-xl my-8">{{trailer.name}}</p>
                <p class="leading-7 mr-6">{{trailer.description}}</p>
              
                <p class="font-bold text-lg my-6">Adatok</p>
    
                <app-trailer-data-item text="Rakfelület mérete" [property]="trailer.loadingAreaCross" unit="m2"></app-trailer-data-item>
                <app-trailer-data-item text="Rakfelület hossza" [property]="trailer.loadingAreaLength" unit="mm"></app-trailer-data-item>
                @if (trailer.frameExtensionLength === '-') {
                    <app-trailer-data-item text="Raktérhosszabbítás" [property]="trailer.frameExtensionLength"></app-trailer-data-item>
                } @else {
                    <app-trailer-data-item text="Raktérhosszabbítás" [property]="trailer.frameExtensionLength" unit="m" ></app-trailer-data-item>
                }
                <app-trailer-data-item text="Teljes tömeg" [property]="trailer.grossWeight" unit="kg"></app-trailer-data-item>
                <app-trailer-data-item text="Saját tömeg" [property]="trailer.curbWeight" unit="kg"></app-trailer-data-item>
                <app-trailer-data-item text="Teljes hossz" [property]="trailer.totalLength" unit="mm"></app-trailer-data-item>
                <app-trailer-data-item text="Szélesség standard kerekekkel" [property]="trailer.widthWithStandardWheels" unit="mm"></app-trailer-data-item>
                <app-trailer-data-item text="Standard kerékméret" [property]="trailer.standardWheelSize" unit="mm"></app-trailer-data-item>
                @if (trailer.frame !== "unibody") {
                    <app-trailer-data-item text="Alváz mérete" [property]="trailer.frame" unit="mm"></app-trailer-data-item>
                } @else {
                    <app-trailer-data-item text="Alváz mérete" [property]="trailer.frame"></app-trailer-data-item>
                }
                <app-trailer-data-item text="Maximális daruméret bruttó emelési nyomatéka" [property]="trailer.maxCraneSize" unit="kNm"></app-trailer-data-item>
                <app-trailer-data-item text="Vonórúd kormány munkahenger száma" [property]="trailer.drawbarControlCylinders" unit="db"></app-trailer-data-item>
                <app-trailer-data-item text="Alváz típusa" [property]="trailer.beamType"></app-trailer-data-item>
    
                <p class="font-bold text-lg my-6">Gépkapcsolatok</p>
    
                <div class="flex flex-col sm:flex-row sm:justify-between gap-4 py-1">
                    <p class="sm:w-1/2">Ajánlott daruk</p>
                    <div class="sm:w-1/2 text-[--palms-color] ">
                    @for (crane of getCranes(); track $index) {
                        <p class="hover:cursor-pointer hover:opacity-65" (click)="craneSelectedEmit(crane.id)">{{crane.name}}</p>            
                    }
                    </div>
                </div>
    
            </div>
            <div class="basis-2/3 flex flex-col align-middle justify-center">
                <img (click)="displayBasic = true" src="{{trailer.imgUrls[0]}}" alt="Trailer Image 1" class="hover:cursor-pointer">    
                <div class="flex bg-white">
                    <div id="video-holder" class="grid grid-cols-4 gap-2 mt-6">
                        @for (imageUrl of trailer.imgUrls; track $index) {
                            <p-image [src]="imageUrl" alt='Trailer Image' />
                        }
                        <div *ngIf="!smallScreen()" #youTubePlayer>
                            <youtube-player
                            [videoId]="trailer.videoId"
                            suggestedQuality="highres"
                            [width]="videoWidth"
                            [height]="videoHeight"
                            [startSeconds]=""
                            [endSeconds]="">
                        </youtube-player>
                        </div>
                    </div>
                    <p-galleria [value]="images" [(visible)]="displayBasic" [responsiveOptions]="responsiveOptions" [containerStyle]="galleryContainerStyle" [numVisible]="2"
                        [circular]="true" [fullScreen]="true" [showItemNavigators]="true" [showThumbnails]="false">
                        <ng-template pTemplate="item" let-item>
                            <img [src]="item.itemImageSrc" style="width: 100%; display: block;"/>
                        </ng-template>          
                    </p-galleria>
                </div>
            </div>
            <div *ngIf="smallScreen()" #youTubePlayer>
                <youtube-player
                [videoId]="trailer.videoId"
                suggestedQuality="highres"
                [width]="videoWidth"
                [height]="videoHeight"
                [startSeconds]=""
                [endSeconds]="">
            </youtube-player>
            </div>
        </div>
    </div>
    }
    @else {
        <p>Nem található pótkocsi</p>
    }