<app-navigation></app-navigation>
@if(trailer){
<div class="w-full mx-auto pt-32">
    <div class="xl:flex xl:flex-wrap mx-10">
        <div class="basis-1/3 mb-20">
            <p class="font-extrabold text-xl my-8">{{trailer.name}}</p>
            <p class="leading-7 mr-6">{{trailer.description}}</p>
          
            <p class="font-bold text-lg my-6">Adatok</p>
            
            <div class="flex flex-col sm:flex-row sm:justify-between gap-4 py-1">
                <p class="sm:w-1/2">Rakodóterület keresztmetszete</p>
                <p class="sm:w-1/2">{{trailer.loadingAreaCross}} m2</p>
            </div>
            <hr class="h-0.5 border-t-0 bg-[rgb(0,0,0,.1)] opacity-100 dark:opacity-50" />

            <div class="flex flex-col sm:flex-row sm:justify-between gap-4 py-1">
                <p class="sm:w-1/2">Rakodóterület hossza</p>
                <p class="sm:w-1/2">{{trailer.loadingAreaLength}} mm</p>
            </div>
            <hr class="h-0.5 border-t-0 bg-[rgb(0,0,0,.1)] opacity-100 dark:opacity-50" />

            <div class="flex flex-col sm:flex-row sm:justify-between gap-4 py-1">
                <p class="sm:w-1/2">Keresztkigészítés hossza</p>
                @if (trailer.frameExtensionLength === '-'){
                    <p class="sm:w-1/2">{{trailer.frameExtensionLength}}</p>
                } @else {
                    <p class="sm:w-1/2">{{trailer.frameExtensionLength}} m</p>
                }
            </div>
            <hr class="h-0.5 border-t-0 bg-[rgb(0,0,0,.1)] opacity-100 dark:opacity-50" />

            <div class="flex flex-col sm:flex-row sm:justify-between gap-4 py-1">
                <p class="sm:w-1/2">Teljes tömeg</p>
                <p class="sm:w-1/2">{{trailer.grossWeight}} kg</p>
            </div>
            <hr class="h-0.5 border-t-0 bg-[rgb(0,0,0,.1)] opacity-100 dark:opacity-50" />

            <div class="flex flex-col sm:flex-row sm:justify-between gap-4 py-1">
                <p class="sm:w-1/2">Saját tömeg (opciók nélkül)</p>
                <p class="sm:w-1/2">{{trailer.curbWeight}} kg</p>
            </div>
            <hr class="h-0.5 border-t-0 bg-[rgb(0,0,0,.1)] opacity-100 dark:opacity-50" />

            <div class="flex flex-col sm:flex-row sm:justify-between gap-4 py-1">
                <p class="sm:w-1/2">Teljes hossz</p>
                <p class="sm:w-1/2">{{trailer.totalLength}} mm</p>
            </div>
            <hr class="h-0.5 border-t-0 bg-[rgb(0,0,0,.1)] opacity-100 dark:opacity-50" />

            <div class="flex flex-col sm:flex-row sm:justify-between gap-4 py-1">
                <p class="sm:w-1/2">Szélesség standard kerekekkel</p>
                <p class="sm:w-1/2">{{trailer.widthWithStandardWheels}}</p>
            </div>
            <hr class="h-0.5 border-t-0 bg-[rgb(0,0,0,.1)] opacity-100 dark:opacity-50" />

            <div class="flex flex-col sm:flex-row sm:justify-between gap-4 py-1">
                <p class="sm:w-1/2">Standard kerék mérete</p>
                <p class="sm:w-1/2">{{trailer.standardWheelSize}}</p>
            </div>
            <hr class="h-0.5 border-t-0 bg-[rgb(0,0,0,.1)] opacity-100 dark:opacity-50" />

           <div class="flex flex-col sm:flex-row sm:justify-between gap-4 py-1">
                <p class="sm:w-1/2">Keret</p>
                <p class="sm:w-1/2">{{trailer.frame}}</p>
            </div>
            <hr class="h-0.5 border-t-0 bg-[rgb(0,0,0,.1)] opacity-100 dark:opacity-50" />

            <div class="flex flex-col sm:flex-row sm:justify-between gap-4 py-1">
                <p class="sm:w-1/2">Maximális daruméret emelési nyomaték alapján</p>
                <p class="sm:w-1/2">{{trailer.maxCraneSize}} kNm</p>
            </div>
            <hr class="h-0.5 border-t-0 bg-[rgb(0,0,0,.1)] opacity-100 dark:opacity-50" />

            <div class="flex flex-col sm:flex-row sm:justify-between gap-4 py-1">
                <p class="sm:w-1/2">Vontatókar vezérlő hengerek</p>
                <p class="sm:w-1/2">{{trailer.drawbarControlCylinders}} db</p>
            </div>
            <hr class="h-0.5 border-t-0 bg-[rgb(0,0,0,.1)] opacity-100 dark:opacity-50" />

            <div class="flex flex-col sm:flex-row sm:justify-between gap-4 py-1">
                <p class="sm:w-1/2">Keret típusa</p>
                <p class="sm:w-1/2">{{ trailer.beamType }}</p>
            </div>

            <p class="font-bold text-lg my-6">Gépkapcsolatok</p>

            <div class="flex flex-col sm:flex-row sm:justify-between gap-4 py-1">
                <p class="sm:w-1/2">Ajánlott daruk</p>
                <div class="sm:w-1/2 text-[--palms-color] ">
                @for (crane of getCranes(); track $index) {
                    <p class="hover:cursor-pointer hover:opacity-65">{{crane}}</p>            
                }
                </div>
            </div>

        </div>
        <div class="basis-2/3 flex flex-col align-middle justify-center">
            <img src="{{trailer.imgUrl[0]}}" alt="">    
            <div class="flex">
                <p-image class="hover:cursor-pointer" src="{{trailer.imgUrl[0]}}" (click)="displayBasic = true" alt="" width="250"/> 
                <p-image class="hover:cursor-pointer" src="{{trailer.imgUrl[2]}}" (click)="displayBasic = true" alt="" width="250"/> 
                
                <p-galleria [value]="images" [(visible)]="displayBasic" [responsiveOptions]="responsiveOptions" [containerStyle]="{'max-width': '50%'}" [numVisible]="9"
                    [circular]="true" [fullScreen]="true" [showItemNavigators]="true">
                    <ng-template pTemplate="item" let-item>
                        <img [src]="item.itemImageSrc" style="width: 100%; display: block;"/>
                    </ng-template>
                    <ng-template pTemplate="thumbnail" let-item>
                        <div class="grid grid-nogutter justify-content-center">
                            <img [src]="item.thumbnailImageSrc" style="display: block;"/>
                        </div>
                    </ng-template>
                </p-galleria>
            </div>
        </div>

    </div>
</div>
}
@else {
    <p>no trailer</p>
}


<div class="w-full h-full flex justify-center items-center mt-16">
    <button (click)="loadTrailerConfigurations()" [disabled]="equipmentSelected" [ngClass]="{'disabled': equipmentSelected}" class="m-auto bg-[--primary-color] py-10 px-20 rounded-xl mb-2 text-black text-md font-extrabold uppercase"><span class="">Kalkulálás</span></button>
    
</div>
<div *ngIf="equipmentSelected" class="w-full h-full flex justify-center items-center mt-8 mb-2">
    <p>Tippek</p>
</div>
<div *ngIf="equipmentSelected" class="w-full h-full flex justify-center items-center">
    <p-inputSwitch  [(ngModel)]="hintsChecked"></p-inputSwitch>
</div>
<div *ngIf="equipmentSelected" class="mx-auto">
    <app-palms-trailer-calculator-hints *ngIf="hintsChecked"></app-palms-trailer-calculator-hints>
</div>
<form [formGroup]="formGroup">
    <div class="bg-slate-200">
        <div #configElement class="flex align-middle justify-center my-10">
            <div class="w-11/12">

                <div *ngIf="equipmentSelected && stanchions.length > 0" class="justify-content-center my-4 py-4">
                    <div class="flex gap-2">
                        <span>Rakonca</span>
                        <button ><i class="fa-solid fa-circle-info"></i></button>                      
                    </div>
                    <p-listbox (onChange)="handleStanchionChange($event)" formControlName="selectedStanchion" [options]="stanchions" optionLabel="namePrice"></p-listbox>                   
                </div>

                <div *ngIf="equipmentSelected && brakes.length > 0" class="justify-content-center my-4 py-4">
                    <div class="flex gap-2">
                        <span>Fék</span>
                        <button (click)="toggleDialog('brakes', true)"><i class="fa-solid fa-circle-info"></i></button>                
                        <app-brakes-dialog [brakes]="brakes" [brakesDialogVisible]="showBrakesDialog" (dialogVisible)="toggleDialog('brakes', false)"></app-brakes-dialog>
                    </div>
                    <p-listbox (onChange)="handleBrakeChange($event)" formControlName="selectedBrake" [options]="brakes" optionLabel="namePrice"></p-listbox>                   
                </div>

                <div *ngIf="equipmentSelected && propulsions.length > 0" class="justify-content-center my-4 py-4">
                    <div class="flex gap-2">
                        <span>Hajtás</span>
                        <button (click)="toggleDialog('drawbars', true)"><i class="fa-solid fa-circle-info"></i></button>  
                        
                    </div>
                    <p-listbox (onChange)="handlePropulsionChange($event)" formControlName="selectedPropulsion" [options]="propulsions" optionLabel="namePrice"></p-listbox>                   
                </div>

                <div *ngIf="equipmentSelected && drawbars.length > 0" class="justify-content-center my-4 py-4">
                    <div class="flex gap-2">
                        <span>Vonórúd</span>
                        <button (click)="toggleDialog('drawbars', true)"><i class="fa-solid fa-circle-info"></i></button>  
                        <app-drawbar-dialog [drawbars]="drawbars" [drawbarsDialogVisible]="showDrawbarsDialog" (dialogVisible)="toggleDialog('drawbars', false)"></app-drawbar-dialog>                            
                    </div>
                    <p-listbox (onChange)="handleDrawbarChange($event)" formControlName="selectedDrawbar" [options]="drawbars" optionLabel="namePrice"></p-listbox>                   
                </div>

                <div *ngIf="equipmentSelected && platforms.length > 0" class="justify-content-center my-4 py-4">
                    <div class="flex gap-2">
                        <span>Platform</span>
                        <button (click)="toggleDialog('platforms', true)"><i class="fa-solid fa-circle-info"></i></button>  
                        <app-platorm-dialog [platforms]="platforms" [platformDialogVisible]="showPlatformsDialog" (dialogVisible)="toggleDialog('platforms', false)"></app-platorm-dialog>
                    </div>
                    <p-listbox (onChange)="handlePlatformChange($event)" formControlName="selectedPlatform" [options]="platforms" optionLabel="namePrice"></p-listbox>                   
                </div>

                <div *ngIf="equipmentSelected && oilPumps.length > 0" class="justify-content-center my-4 py-4">
                    <div class="flex gap-2">
                        <span>Olajszivattyú</span>
                        <button (click)="toggleDialog('oilPumps', true)"><i class="fa-solid fa-circle-info"></i></button>  
                        <app-oil-pump-dialog [oilPumps]="oilPumps" [oilPumpsDialogVisible]="showOilPumpsDialog" (dialogVisible)="toggleDialog('oilPumps', false)"></app-oil-pump-dialog>
                    </div>
                    <p-listbox (onChange)="handleOilPumpChange($event)" formControlName="selectedOilPump" [options]="oilPumps" optionLabel="namePrice"></p-listbox>                   
                </div>

                <div *ngIf="equipmentSelected && oilTanks.length > 0" class="justify-content-center my-4 py-4">
                    <div class="flex gap-2">
                        <span>Olajtank</span>
                        <button (click)="toggleDialog('oilTanks', true)"><i class="fa-solid fa-circle-info"></i></button>   
                        <app-oil-tank-dialog [oilTanksDialogVisible]="showOilTanksDialog" (dialogVisible)="toggleDialog('oilTanks', false)"></app-oil-tank-dialog>          
                    </div>
                    <p-listbox (onChange)="handleOilTankChange($event)" formControlName="selectedOilTank" [options]="oilTanks" optionLabel="namePrice"></p-listbox>                   
                </div>

                <div *ngIf="originalOilTank?.oilTankCooler" class="justify-content-center my-4 py-4">
                    <div class="mb-4">
                        <button (click)="toggleDialog('oilTankCoolers', true)"><i class="fa-solid fa-circle-info"></i></button> 
                        <app-oil-tank-cooler-dialog [oilTankCoolersDialogVisible]="showOilTankCoolersDialog" (dialogVisible)="toggleDialog('oilTankCoolers', false)"></app-oil-tank-cooler-dialog>            
                    </div>
                    <div class="flex gap-2">
                        <p-checkbox #oilTankCoolerCheckBox (onChange)="onOilTankCoolerChange($event)" [value]="originalOilTank?.oilTankCooler" formControlName="selectedOilTankCooler" inputId="oiltankSelected"></p-checkbox>
                        <label class="hover:cursor-pointer" for="oiltankSelected">{{originalOilTank?.oilTankCooler?.namePrice}}</label>
                    </div>
                </div>

                <div *ngIf="equipmentSelected && bolsterLock" class="justify-content-center my-4 py-4">
                    <div class="mb-4">
                        <button (click)="toggleDialog('bolsterLock', true)"><i class="fa-solid fa-circle-info"></i></button> 
                        <app-bolster-lock-dialog [bolsterLocksDialogVisible]="showBolsterLockDialog" (dialogVisible)="toggleDialog('bolsterLock', false)"></app-bolster-lock-dialog>            
                    </div>
                    <div class="flex gap-2">
                        <p-checkbox #bolsterLocksCheckBox (onChange)="onBolsterLockChange($event)" [value]="bolsterLock" formControlName="selectedBolsterLock" inputId="bolsterLockSelected"></p-checkbox>
                        <label class="hover:cursor-pointer" for="bolsterLockSelected">{{bolsterLock.namePrice}}</label>
                    </div>
                </div>

                <div *ngIf="equipmentSelected && bbox" class="justify-content-center my-4 py-4">
                    <div class="mb-4">
                        <button (click)="toggleDialog('bbox', true)"><i class="fa-solid fa-circle-info"></i></button> 
                        <app-bbox-dialog [bBox]="bbox" [bBoxDialogVisible]="showBboxDialog" (dialogVisible)="toggleDialog('bbox', false)"></app-bbox-dialog>            
                    </div>
                    <div class="flex gap-2">
                        <p-checkbox #bboxCheckBox (onChange)="onBBoxChange($event)" [value]="bbox" formControlName="selectedBbox" inputId="BboxSelected"></p-checkbox>
                        <label class="hover:cursor-pointer" for="BboxSelected">{{bbox.namePrice}}</label>
                    </div>
                </div>

                <div *ngIf="equipmentSelected && woodSorter" class="justify-content-center my-4 py-4">
                    <div class="mb-4">
                        <button (click)="toggleDialog('woodSorter', true)"><i class="fa-solid fa-circle-info"></i></button> 
                        <app-woodsorter-dialog [woodSorter]="woodSorter" [woodSorterDialogVisible]="showWoodSorterDialog" (dialogVisible)="toggleDialog('woodSorter', false)"></app-woodsorter-dialog>            
                    </div>
                    <div class="flex gap-2">
                        <p-checkbox #woodSorterCheckBox (onChange)="onWoodSorterChange($event)" [value]="woodSorter" formControlName="selectedWoodSorter" inputId="WoodSorterSelected"></p-checkbox>
                        <label class="hover:cursor-pointer pt-2" for="WoodSorterSelected">{{woodSorter.namePrice}}</label>
                        
                    </div>
                </div>

                <div *ngIf="equipmentSelected && woodSorter" class="justify-content-center">
                    <p-dropdown *ngIf="woodSorterChecked" formControlName="selectedWoodSorterNumber" [options]="woodSorterNumber" optionLabel="number" placeholder="Válasszon egy számot..."></p-dropdown>
                </div>

                <div *ngIf="equipmentSelected && handBrake" class="justify-content-center my-6 py-4 mt-12">
                    <div class="flex gap-2">
                        <p-checkbox #handBrakeCheckBox (onChange)="onHandBrakeChange($event)" [value]="handBrake" formControlName="selectedHandBrake" inputId="HandBrakeSelected"></p-checkbox>
                        <label class="hover:cursor-pointer" for="HandBrakeSelected">{{handBrake.namePrice}}</label>
                    </div>
                </div>

                <div *ngIf="equipmentSelected && chainsawHolder" class="justify-content-center my-4 py-4">
                    <div class="mb-4">
                        <button (click)="toggleDialog('chainsawHolder', true)"><i class="fa-solid fa-circle-info"></i></button> 
                        <app-chainsaw-holder-dialog [chainsawHolder]="chainsawHolder" [chainsawHolderDialogVisible]="showChainsawHolderDialog" (dialogVisible)="toggleDialog('chainsawHolder', false)"></app-chainsaw-holder-dialog>            
                    </div>
                    <div class="flex gap-2">
                        <p-checkbox #chainsawHolderCheckBox (onChange)="onChainsawHolderChange($event)" [value]="chainsawHolder" formControlName="selectedChainsawHolder" inputId="ChainsawHolderSelected"></p-checkbox>
                        <label class="hover:cursor-pointer" for="ChainsawHolderSelected">{{chainsawHolder.namePrice}}</label>
                    </div>
                </div>

                <div *ngIf="equipmentSelected && underrunProtection" class="justify-content-center my-4 py-4">
                    <div class="mb-4">
                        <button (click)="toggleDialog('underrunProtection', true)"><i class="fa-solid fa-circle-info"></i></button> 
                        <app-underrun-protection-dialog [underrunProtection]="underrunProtection" [underrunProtectionDialogVisible]="showUnderrunProtectionDialog" (dialogVisible)="toggleDialog('underrunProtection', false)"></app-underrun-protection-dialog>            
                    </div>
                    <div class="flex gap-2">
                        <p-checkbox #underrunProtectionCheckBox (onChange)="onUnderrunProtectionChange($event)" [value]="underrunProtection" formControlName="selectedUnderrunProtection" inputId="UnderrunProtectionSelected"></p-checkbox>
                        <label class="hover:cursor-pointer" for="UnderrunProtectionSelected">{{underrunProtection.namePrice}}</label>
                    </div>
                </div>

                <div *ngIf="equipmentSelected && supportLegs"  class="justify-content-center my-4 py-4">
                    <div class="flex gap-2">
                        <span>Kitámasztó láb</span>
                        <button (click)="toggleDialog('supportLeg', true)"><i class="fa-solid fa-circle-info"></i></button> 
                        <app-support-leg-dialog [supportLegs]="supportLegs" [supportLegDialogVisible]="showSupportLegDialog" (dialogVisible)="toggleDialog('supportLeg', false)"></app-support-leg-dialog>                                   
                    </div>
                    <p-listbox (onChange)="handleSupportLegChange($event)" formControlName="selectedSupportLeg" [options]="supportLegs" optionLabel="namePrice"></p-listbox>                   
                </div>

                <div *ngIf="equipmentSelected && lights"  class="justify-content-center my-4 py-4">
                    <div class="flex gap-2">
                        <span>Lámpák</span>
                        <button (click)="toggleDialog('lights', true)"><i class="fa-solid fa-circle-info"></i></button> 
                        <app-light-dialog [lights]="lights" [lightsDialogVisible]="showLightsDialog" (dialogVisible)="toggleDialog('lights', false)"></app-light-dialog>                              
                    </div>
                    <p-listbox (onChange)="handleLightChange($event)" formControlName="selectedLight" [options]="lights" optionLabel="namePrice"></p-listbox>                   
                </div>

                <div *ngIf="equipmentSelected && tyres"  class="justify-content-center my-4 py-4">
                    <div class="flex gap-2">
                        <span>Kerekek</span>
                        <button (click)="toggleDialog('tyres', true)"><i class="fa-solid fa-circle-info"></i></button> 
                        <app-tyres-dialog [tyres]="tyres" [tyresDialogVisible]="showTyresDialog" (dialogVisible)="toggleDialog('tyres', false)"></app-tyres-dialog>                                
                    </div>
                    <p-listbox (onChange)="handleTyreChange($event)" formControlName="selectedTyre" [options]="tyres" optionLabel="namePrice"></p-listbox>                   
                </div>

                <hr class="mb-2 mt-4 h-0.5 border-t-0 bg-black opacity-100 dark:opacity-50" />
            </div>
        </div>

        <div class="mx-10 ">
            <ng-container *ngIf="originalStanchion">
                <div class="grid grid-cols-12 gap-4 py-2">
                    <div class="col-span-8 sm:col-span-9 md:col-span-10 justify-self-end ml-2">
                      <p class="text-lg font-normal">{{originalStanchion.name}}</p>
                    </div>
                    <div class="col-span-4 sm:col-span-3 md:col-span-2 justify-self-start">
                      <p class="text-lg font-normal">{{originalStanchion.price}} €</p> 
                    </div>  
                </div>
            </ng-container>
    
            <ng-container *ngIf="originalBrake">
                <div class="grid grid-cols-12 gap-4 py-2">
                    <div class="col-span-8 sm:col-span-9 md:col-span-10 justify-self-end ml-2">
                      <p class="text-lg font-normal">{{originalBrake.name}}</p>
                    </div>
                    <div class="col-span-4 sm:col-span-3 md:col-span-2 justify-self-start">
                      <p class="text-lg font-normal">{{originalBrake.price}} €</p> 
                    </div>  
                </div>
            </ng-container>
    
            <ng-container *ngIf="originalPropulsion">
                <div class="grid grid-cols-12 gap-4 py-2">
                    <div class="col-span-8 sm:col-span-9 md:col-span-10 justify-self-end ml-2">
                      <p class="text-lg font-normal">{{originalPropulsion.name}}</p>
                    </div>
                    <div class="col-span-4 sm:col-span-3 md:col-span-2 justify-self-start">
                      <p class="text-lg font-normal">{{originalPropulsion.price}} €</p> 
                    </div>  
                </div>
            </ng-container>
    
            <ng-container *ngIf="originalDrawbar">
                <div class="grid grid-cols-12 gap-4 py-2">
                    <div class="col-span-8 sm:col-span-9 md:col-span-10 justify-self-end ml-2">
                      <p class="text-lg font-normal">{{originalDrawbar.name}}</p>
                    </div>
                    <div class="col-span-4 sm:col-span-3 md:col-span-2 justify-self-start">
                      <p class="text-lg font-normal">{{originalDrawbar.price}} €</p> 
                    </div>  
                </div>
            </ng-container>
    
            <ng-container *ngIf="originalPlatform">
                <div class="grid grid-cols-12 gap-4 py-2">
                    <div class="col-span-8 sm:col-span-9 md:col-span-10 justify-self-end ml-2">
                      <p class="text-lg font-normal">{{originalPlatform.name}}</p>
                    </div>
                    <div class="col-span-4 sm:col-span-3 md:col-span-2 justify-self-start">
                      <p class="text-lg font-normal">{{originalPlatform.price}} €</p> 
                    </div>  
                </div>
            </ng-container>
    
            <ng-container *ngIf="originalOilPump">
                <div class="grid grid-cols-12 gap-4 py-2">
                    <div class="col-span-8 sm:col-span-9 md:col-span-10 justify-self-end ml-2">
                      <p class="text-lg font-normal">{{originalOilPump.name}}</p>
                    </div>
                    <div class="col-span-4 sm:col-span-3 md:col-span-2 justify-self-start">
                      <p class="text-lg font-normal">{{originalOilPump.price}} €</p> 
                    </div>  
                </div>
            </ng-container>
    
            <ng-container *ngIf="originalOilTank">
                <div class="grid grid-cols-12 gap-4 py-2">
                    <div class="col-span-8 sm:col-span-9 md:col-span-10 justify-self-end ml-2">
                      <p class="text-lg font-normal">{{originalOilTank.name}}</p>
                    </div>
                    <div class="col-span-4 sm:col-span-3 md:col-span-2 justify-self-start">
                      <p class="text-lg font-normal">{{originalOilTank.price}} €</p> 
                    </div>  
                </div>
            </ng-container>
    
            <ng-container *ngIf="originalOilTank?.oilTankCooler && originalOilTankCooler">
                <div class="grid grid-cols-12 gap-4 py-2">
                    <div class="col-span-8 sm:col-span-9 md:col-span-10 justify-self-end ml-2">
                      <p class="text-lg font-normal">{{originalOilTankCooler.name}}</p>
                    </div>
                    <div class="col-span-4 sm:col-span-3 md:col-span-2 justify-self-start">
                      <p class="text-lg font-normal">{{originalOilTankCooler.price}} €</p> 
                    </div>  
                </div>
            </ng-container>
    
            <ng-container *ngIf="originalBolsterLock">
                <div class="grid grid-cols-12 gap-4 py-2">
                    <div class="col-span-8 sm:col-span-9 md:col-span-10 justify-self-end ml-2">
                      <p class="text-lg font-normal">{{originalBolsterLock.name}}</p>
                    </div>
                    <div class="col-span-4 sm:col-span-3 md:col-span-2 justify-self-start">
                      <p class="text-lg font-normal">{{originalBolsterLock.price}} €</p> 
                    </div>  
                </div>
            </ng-container>
    
            <ng-container *ngIf="originalBbox">
                <div class="grid grid-cols-12 gap-4 py-2">
                    <div class="col-span-8 sm:col-span-9 md:col-span-10 justify-self-end ml-2">
                      <p class="text-lg font-normal">{{originalBbox.name}}</p>
                    </div>
                    <div class="col-span-4 sm:col-span-3 md:col-span-2 justify-self-start">
                      <p class="text-lg font-normal">{{originalBbox.price}} €</p> 
                    </div>  
                </div>
            </ng-container>
    
            <ng-container *ngIf="originalWoodSorter">
                <div class="grid grid-cols-12 gap-4 py-2">
                    <div class="col-span-8 sm:col-span-9 md:col-span-10 justify-self-end ml-2">
                      <p class="text-lg font-normal">{{originalWoodSorter.name}}</p>
                    </div>
                    <div class="col-span-4 sm:col-span-3 md:col-span-2 justify-self-start">
                      <p class="text-lg font-normal">{{originalWoodSorter.price}} €</p> 
                    </div>  
                </div>
            </ng-container>
            
            <ng-container *ngIf="originalHandBrake">
                <div class="grid grid-cols-12 gap-4 py-2">
                    <div class="col-span-8 sm:col-span-9 md:col-span-10 justify-self-end ml-2">
                      <p class="text-lg font-normal">{{originalHandBrake.name}}</p>
                    </div>
                    <div class="col-span-4 sm:col-span-3 md:col-span-2 justify-self-start">
                      <p class="text-lg font-normal">{{originalHandBrake.price}} €</p> 
                    </div>  
                </div>
            </ng-container>
            
            <ng-container *ngIf="originalChainsawHolder">
                <div class="grid grid-cols-12 gap-4 py-2">
                    <div class="col-span-8 sm:col-span-9 md:col-span-10 justify-self-end ml-2">
                      <p class="text-lg font-normal">{{originalChainsawHolder.name}}</p>
                    </div>
                    <div class="col-span-4 sm:col-span-3 md:col-span-2 justify-self-start">
                      <p class="text-lg font-normal">{{originalChainsawHolder.price}} €</p> 
                    </div>  
                </div>
            </ng-container>
            
            <ng-container *ngIf="originalUnderrunProtection">
                <div class="grid grid-cols-12 gap-4 py-2">
                    <div class="col-span-8 sm:col-span-9 md:col-span-10 justify-self-end ml-2">
                      <p class="text-lg font-normal">{{originalUnderrunProtection.name}}</p>
                    </div>
                    <div class="col-span-4 sm:col-span-3 md:col-span-2 justify-self-start">
                      <p class="text-lg font-normal">{{originalUnderrunProtection.price}} €</p> 
                    </div>  
                </div>
            </ng-container>
    
            <ng-container *ngIf="originalSupportLeg">
                <div class="grid grid-cols-12 gap-4 py-2">
                    <div class="col-span-8 sm:col-span-9 md:col-span-10 justify-self-end ml-2">
                      <p class="text-lg font-normal">{{originalSupportLeg.name}}</p>
                    </div>
                    <div class="col-span-4 sm:col-span-3 md:col-span-2 justify-self-start">
                      <p class="text-lg font-normal">{{originalSupportLeg.price}} €</p> 
                    </div>  
                </div>
            </ng-container>
    
            <ng-container *ngIf="originalLight">
                <div class="grid grid-cols-12 gap-4 py-2">
                    <div class="col-span-8 sm:col-span-9 md:col-span-10 justify-self-end ml-2">
                      <p class="text-lg font-normal">{{originalLight.name}}</p>
                    </div>
                    <div class="col-span-4 sm:col-span-3 md:col-span-2 justify-self-start">
                      <p class="text-lg font-normal">{{originalLight.price}} €</p> 
                    </div>  
                </div>
            </ng-container>
    
            <ng-container *ngIf="originalTyre">
                <div class="grid grid-cols-12 gap-4 py-2">
                    <div class="col-span-8 sm:col-span-9 md:col-span-10 justify-self-end ml-2">
                      <p class="text-lg font-normal">{{originalTyre.name}}</p>
                    </div>
                    <div class="col-span-4 sm:col-span-3 md:col-span-2 justify-self-start">
                      <p class="text-lg font-normal">{{originalTyre.price}} €</p> 
                    </div>  
                </div>
            </ng-container>
            
            <div class="grid grid-cols-12 gap-4 mt-6">
                <div class="col-span-8 sm:col-span-9 md:col-span-10 justify-self-end">
                  <p class="text-lg font-bold">Pótkocsi:</p>
                </div>
                <div class="col-span-4 sm:col-span-3 md:col-span-2 justify-self-start">
                  <p class="text-lg font-bold">{{palmsService._trailerPrice() | formatPrice}}</p> 
                </div>  
            </div>
    
            <div class="grid grid-cols-12 pt-6">
                <div class="col-span-8 sm:col-span-9 md:col-span-10 justify-self-end">
                    <!-- <i *ngIf="equipmentSelected" (click)="downloadPDF()" class="fa-solid fa-file-pdf mt-2 text-2xl hover:cursor-pointer"></i> -->
                  </div>
                <div class="col-span-4 sm:col-span-3 md:col-span-2 justify-self-start">
                    <button (click)="delete()" class="p-2  bg-red-500  active:bg-gray-700 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1">Törlés</button>
                </div> 
            </div>
        </div>
        
        
    </div>
</form>
<app-footer></app-footer>

