
  
      <section class="flex flex-wrap items-center my-20 md:x xl:my-60">
        <div class="block w-full shrink-0 grow-0 basis-auto lg:flex lg:w-12/12 md:w-6/12">
          <img loading="lazy" src="../../assets/calculator_showcase.png" alt="Trendy Pants and Shoes"
            class="w-full rounded-t-lg lg:rounded-tr-none lg:rounded-bl-lg" />
        </div>
        
        <div class="w-full shrink-0 grow-0 basis-auto lg:w-4/12 xl:w-4/12 ml-10">
          <div class="mt-10">
            <a>
              <button (click)="navigateToPalmsCalculator()" class="mb-2 rounded bg-palms-color text-white px-3 pt-6 pb-5 text-sm font-semibold uppercase xl:px-20 hover:opacity-85">Kalkulátor</button>
            </a>
          </div>
          <ul role="list" class="pt-8 space-y-5 border-gray-200 my-7 dark:border-gray-700">
            <li class="flex space-x-3">
    
              <svg class="flex-shrink-0 w-5 h-5 text-primary-color" fill="currentColor"
                viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                  clip-rule="evenodd"></path>
              </svg>
              <span class="text-sm sm:text-base font-bold leading-tight">Pótkocsi konfigurálása</span>
            </li>
            <li class="flex space-x-3">
    
              <svg class="flex-shrink-0 w-5 h-5 text-primary-color" fill="currentColor"
                viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                  clip-rule="evenodd"></path>
              </svg>
              <span class="text-sm sm:text-base font-bold leading-tight">Daru konfigurálása</span>
            </li>
            <li class="flex space-x-3">
    
              <svg class="flex-shrink-0 w-5 h-5 text-primary-color" fill="currentColor"
                viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                  clip-rule="evenodd"></path>
              </svg>
              <span class="text-sm sm:text-base font-bold leading-tight">Pótkocsi és Daru együttes konfigurálása</span>
            </li>
            <li class="flex space-x-3">
    
              <svg class="flex-shrink-0 w-5 h-5 text-primary-color" fill="currentColor"
                viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                  clip-rule="evenodd"></path>
              </svg>
              <span class="text-sm sm:text-base font-bold leading-tight">Információ/képek az alkatrészekről</span>
            </li>
            <li class="flex space-x-3">
    
              <svg class="flex-shrink-0 w-5 h-5 text-primary-color" fill="currentColor"
                viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                  clip-rule="evenodd"></path>
              </svg>
              <span class="text-sm sm:text-base font-bold leading-tight">Konfiguráció mentése PDF-ben</span>
            </li>
            <li class="flex space-x-3">
    
              <svg class="flex-shrink-0 w-5 h-5 text-primary-color" fill="currentColor"
                viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                  clip-rule="evenodd"></path>
              </svg>
              <span class="text-sm sm:text-base font-bold leading-tight">Email küldés a konfiguráció végén</span>
            </li>
          </ul>
        </div>
      </section>
